/*----- General Styles -----*/
body {
	margin-top: 50px;
}
.overlay {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0.7;
	background: rgba(0, 0, 0, 0.933333);
}
.catamaran {
	font-family: 'Catamaran', sans-serif;
}
.pink {
	color: #771E28
}
.darkblue {
    color: #155a95
}
.cell-header {
	font-size: 35px !important;
	margin: 10px 0 10px 0;
}
.cell-text {
	font-size: 19px !important;
}

/*----- Bootstrap Overides ------*/

/* Navbar Override */
.btn {
	border-radius: 0 !important;
}
.navbar {
	border-radius: 0 !important;
	border: none !important;
}
.navbar-brand {
    padding: 0 !important;
    margin-left: 5px !important;
    height: inherit !important;
}
.navbar-brand img {
	width: auto !important;
	height: 50px;
}

/*----- Main Navigation -----*/
.main-nav {
	background: #d2d6de !important;
}
.main-nav .navbar-nav a {
	color: #4A5925;
}
.main-nav .navbar-nav > li.active a,
.main-nav .navbar-nav a:focus,
.main-nav .navbar-nav a:hover {
	background-color: #771E28 !important;
	color: #DBC22D !important;
}
.main-nav .navbar-toggle.menu-toggle {
	float: right;
}
.main-nav .navbar-toggle {
    border: 0 !important;
    border-radius: 0 !important;
    margin: 0 !important;
    padding: 16px 14px;
}
.main-nav .navbar-toggle:focus,
.main-nav .navbar-toggle:hover {
    background: none !important;
}
.main-nav .navbar-toggle:focus .icon-bar,
.main-nav .navbar-toggle:hover .icon-bar {
    background: #771E28 !important;
}
.main-nav .navbar-toggle .icon-bar {
    background: #482650 !important;
}
.main-nav .navbar-nav {
	margin: 0 !important;
}
.main-nav .navbar-collapse {
	border: none;
	max-height: 300px;
}

/***** Home Page Jumbotron Styles *****/
.jumbotron {
	background: url(/img/money2.jpg) top left no-repeat;
	position: relative;
}
.jumbotron .container {
	position: relative;
	z-index: 2;
}
.jumbotron .logo-holder {
	margin-bottom: 0 !important;
}
.jumbotron .tagline {
	color: #eee;
	font-style: italic;
	position: relative;
	top: -20px;
}

/***** Home Page Features *****/
.home-page-features-cell {
	text-align: center;
}
.home-page-features-cell .icon-holder {
	width: 150px;
	height: 150px;
	border-radius: 20px;
	text-align: center;
	display: inline-block;
}
.home-page-features-cell p {
	font-size: 16px;
}
.home-page-features-cell .icon-holder i {
	line-height: 150px;
	font-size: 120px;
	color: #eee;
}
.home-page-features-cell h3 {
	font-size: 19px;
}
.home-page-features-cell .blue {
	background: #1A97FA;
}
.home-page-features-cell .red {
	background: #FB6C4B;
}
.home-page-features-cell .orange {
	background: #E1C62B;
}
.home-page-features-cell .green {
	background: #A8CF29;
}

/***** Home News Styles *****/
.home-news {
	background-color: #ddd;
}
.home-news-cell {
	margin-bottom: 15px;
}

/***** Testimonials Top *****/
.testimonials-top {
	text-align: center;
}
.testimonials-top h2 {
	color: #771E28;
	border-bottom: 5px solid #DBC22D;
	display: inline-block;
	margin: 20px auto 10px;
	font-size: 40px;
}
.testimonials-top p {
	font-size: 20px;
}
.testimonials-cell {
	text-align: center;
}
.testimonials-cell img {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 40px;
}
.testimonials-cell h3 {
	margin: 5px auto 5px;
    font-size: 16px;
}
.testimonials-cell p {
	margin-bottom: 5px;
}
.media-section.testimonials-cell {
	text-align: left;
}
.media-section.testimonials-cell h3 {
	font-size: 24px;
}

/***** Contact Items *****/
.contact-items {
	background-color: #fff;
	padding: 20px;
	margin: 20px 0;
}
.contact-items p {
	font-size: 21px;
}
.contact-items p span {
	display: inline-block;
	vertical-align: middle;
}
.contact-items a {
	color: #771E28;
	text-decoration: none;
}
.contact-items a:focus,
.contact-items a:hover {
	text-decoration: underline;
}

/***** Sign Up Alert *****/
.sign-up-alert .alert {
	border-radius: 0;
}
.sign-up-alert p {
	font-size: 30px;
}

/***** Page Header Styles *****/
.page-header {
	border-top-width: 10px;
	border-bottom-width: 10px;
	border-top-style: solid;
	border-bottom-style: solid;
	font-family: 'Titillium Web', sans-serif !important;
	margin: 0 0 20px 0;
	padding: 0;
}
.page-header h1 {
	color: #efefef;
	font-size: 45px;
	margin: 30px 0;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
	font-family: 'Titillium Web', sans-serif !important;
}
.page-header.red {
	background: #f56954;
	border-top-color: #D33724;
	border-bottom-color: #D33724;
}
.page-header.purple {
	background: #9895C6;
	border-top-color: #555299;
	border-bottom-color: #555299;
}
.page-header.pink {
	background: #E66B98;
	border-top-color: #CA195A;
	border-bottom-color: #CA195A;
}
.page-header.blue {
	background: #5AD6F4;
	border-top-color: #00A7D0;
	border-bottom-color: #00A7D0;
}
.page-header.green {
	background: #5AC594;
	border-top-color: #008D4C;
	border-bottom-color: #008D4C;
}
.page-header.orange {
	background: #FFB06B;
	border-top-color: #FF7701;
	border-bottom-color: #FF7701;
}
.page-header.navy {
	background: #5A6E82;
	border-top-color: #001A35;
	border-bottom-color: #001A35;
}

/***** Page Content Styles *****/
.media-section {
	margin-bottom: 20px;
}
.media-section img {
	margin: 0 15px 15px 0;
}
.media-section p {
	font-size: 24px;
	text-align: justify;
}
.media-rounded {
	display: inline-block;
	width: 150px;
	height: 150px;
	text-align: center;
	border-radius: 75px;
}
.media-rounded i {
	font-size: 100px;
	line-height: 150px;
}
.media-rounded.blue {
	background: #00c0ef;
	color: #f56954;
}
.media-rounded.green {
	background: #5AC594;
	color: #F7BF65;
}
.media-rounded.red {
	background: #f56954;
	color: #00c0ef;
}
.media-rounded.orange {
	background: #F7BF65;
	color: #5AC594;
}
.media-rounded.pink {
	background: #D81B60;
	color: #605ca8;
}
.media-rounded.teal {
	background: #39CCCC;
	color: #001F3F;
}
.media-rounded.purple {
	background: #605ca8;
	color: #D81B60;
}
.media-rounded.navy {
	background: #001F3F;
	color: #39CCCC;
}
.media-section .media-heading {
	font-family: 'Dosis', cursive;
	color: #155a95;
	border-bottom: 5px solid #155a95;
	font-size: 30px;
	padding-left: 10px;
	text-transform: none !important;
}

/***** Plan Cell Styles *****/
.plan-cell .list-group .list-group-item.plan-name {
	font-weight: bold;
	font-size: 20px;
	color: #efefef;
}
.plan-cell .list-group .list-group-item.plan-price {
	font-size: 40px;
}
.plan-cell .list-group .list-group-item {
	text-align: center;
    padding: 3px 0;
    font-size: 22px;
}
.plan-cell .list-group.blue .list-group-item {
	background-color: #00c0ef;
	border-color: #00A7D0 !important;
}
.plan-cell .list-group.blue .list-group-item.plan-name {
	background-color: #00A7D0 !important;
}
.plan-cell .list-group.pink .list-group-item {
	background-color: #E66B98;
	border-color: #CA195A !important;
}
.plan-cell .list-group.pink .list-group-item.plan-name {
	background-color: #CA195A !important;
}
.plan-cell .list-group.orange .list-group-item {
	background-color: #F7BF65;
	border-color: #DB8B0B !important;
}
.plan-cell .list-group.orange .list-group-item.plan-name {
	background-color: #DB8B0B !important;
}
.plan-cell .list-group.green .list-group-item {
	background-color: #317ec0;
	border-color: #155a95 !important;
}
.plan-cell .list-group.green .list-group-item.plan-name {
	background-color: #155a95 !important;
}

/***** Page Base Styles *****/
.page-base {
	background-color: #292929;
	padding: 15px 0 0;
	margin-top: 40px;
}
.page-base .base-about p {
	color: #ccc;
	font-size: 18px;
	text-align: justify;
}
.page-base .base-links li {
	margin-bottom: 15px;
	text-align: center;
}
.page-base .base-links li:last-of-type {
	margin-bottom: 0;
}
.page-base .base-links a {
	color: #DBC22D;
	font-size: 17px;
	text-decoration: none;
}
.page-base .base-links a:focus,
.page-base .base-links a:hover {
	text-decoration: underline;
}
.page-base .base-go-social h4 {
	margin-top: 0;
    color: #ccc;
    font-size: 30px;
}
.page-base .base-go-social a,
.page-base .base-go-social li {
	color: #DBC22D;
	font-size: 19px;
}
.page-base .base-go-social a:active,
.page-base .base-go-social a:focus,
.page-base .base-go-social a:hover {
	color: #eee;
}

/***** Page Footer Styles *****/
.page-footer {
	background-color: #292929;
	padding: 5px 0 0;
}
.page-footer p {
	border-top: 1px solid #3e3e3e;
	color: #777;
	padding: 20px 0;
}

/*
 * Media Queries
 */

 /***** Smaller Devices (Phones, less than 768px) *****/
 @media (max-width: 767px) {
	/***** Main Navigation Bar Styles *****/
 	.main-nav .navbar-brand {
 		display: block;
 		position: absolute;
 		left: 50%;
 		margin-left: -72px !important;
 	}
	.jumbotron .logo-holder img {
		max-width: 250px !important;
	}
}