/*--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
--*/
/*-- reset --*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
ol,ul{list-style:none;margin:0px;padding:0px;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
/*-- start editing from here --*/
a{text-decoration:none;}
.txt-rt{text-align:right;}/* text align right */
.txt-lt{text-align:left;}/* text align left */
.txt-center{text-align:center;}/* text align center */
.float-rt{float:right;}/* float right */
.float-lt{float:left;}/* float left */
.clear{clear:both;}/* clear float */
.pos-relative{position:relative;}/* Position Relative */
.pos-absolute{position:absolute;}/* Position Absolute */
.vertical-base{	vertical-align:baseline;}/* vertical align baseline */
.vertical-top{	vertical-align:top;}/* vertical align top */
nav.vertical ul li{	display:block;}/* vertical menu */
nav.horizontal ul li{	display: inline-block;}/* horizontal menu */
img{max-width:100%;}
/*-- end reset --*/
body {
	font-family: 'Roboto', sans-serif;
	background:#f56046;

    background-attachment: fixed; 
}
h1 {
    font-size: 3em;
    text-align: center;
    color: #fff; 
	font-weight: 200;
}
/*-- main --*/
.main {
    padding: 3em 0;
    width: 75%;
    margin: 0 auto;
}  
.pricing-agileinfo {
    text-align: center;
    margin-top: 3em; 
}
.pricing-grid {
    float: left;
    width: 19%;
    padding: 2em;
	background: #fff;
	-webkit-transition:.5s all;
	-moz-transition:.5s all; 
	transition:.5s all;
}
.pricing-grid.grid-one {
	-webkit-border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px; 
    border-radius: 7px 0 0 7px;
}
.pricing-grid.grid-four {
	-webkit-border-radius: 7px 0 0 7px;
	-moz-border-radius: 7px 0 0 7px;
    border-radius: 0 7px 7px 0;
}
.pricing-grid.grid-two {
    border-left: 1px solid #dedede;
    border-right: 1px solid #dedede;
}
.pricing-grid.grid-three {
    border-right: 1px solid #dedede;
}
.pricing-grid:hover .w3ls-bottom ul li,.pricing-grid:hover h3 {
	color:#fff;
}
.pricing-grid:hover {
    background:#a23535; 
}
.pricing-grid h3 {
    font-size: 1.5em;
    color: #222;
    font-weight: 600;
    text-transform: capitalize;
	letter-spacing: 2px;
}
.pricing-grid h4 {
    font-size: 8em;
    color: #f56046;
    position: relative;
    font-weight: 100;
    font-family: 'Dorsa', sans-serif;
    letter-spacing: 10px;
    margin: 0.2em 0 0;
}
.pricing-grid h4 span.sup {
    vertical-align: text-top;
    font-size: 0.4em;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
} 
.w3ls-bottom ul li {
    font-size: 0.9em;
    color: #999;
    font-weight: 300;
    margin-top: 1em;
    border-top: 1px solid #E4E4E4;
    padding-top: 1em;
}
.more a {
    display: inline-block;
    font-size: 1em;
	color:#fff;
    background:#f56046;
    font-family: 'Roboto', sans-serif;
    padding: .5em 4em;
    margin-top: 2.2em;
    border-radius: 4px;
	-webkit-transition:.5s all;
	-moz-transition:.5s all;
	transition:.5s all; 
	outline: none;
}   
.pricing-grid:hover .more a{
	background:#222;
}     
/*-- //main --*/
/*-- copyright --*/
.copyright {
    padding: 1.5em; 
}
.copyright p {
    text-align: center;
    font-size: 1em;
    color: #fff;
    font-weight: 300;
	line-height: 1.8em;
}
.copyright p a {
    color: #fff;
    transition: .5s all;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
}
.copyright p a:hover{
    color: #222;
}
/*-- //copyright --*/
/*-- pop-up --*/
#small-dialog, #small-dialog1, #small-dialog2, #small-dialog3, #small-dialog4, #small-dialog5 {
    background: #fff;
    padding: 1em;
    max-width: 629px;
    margin: 40px auto;
    position: relative;
    text-align: center;
}
.payment-online-form-left{
}
form li {
	list-style: none;
}
form ul {
	padding:0;
}
.payment-online-form-left h4 {
    font-size: 1.8em;
    color:#222;
    padding: 0.5em 0;
    text-align: left;
    font-weight: 300;
}
.payment-online-form-left span{
	vertical-align: middle;
	margin-right: 10px;
}
.col_checkbox input[type="radio"] {
    cursor: pointer;
}
.payment-online-form-left form{
	padding:0 3%;
}
.payment-online-form-left input[type="text"]{
	padding: 1em 1em;
	color: #485460;
	width: 42%;
	margin: 0.5em 0;
	border: 1px solid #dedede;
	outline: none;
	transition: border-color 0.3s;
	-o-transition: border-color 0.3s;
	-ms-transition: border-color 0.3s;
	-moz-transition: border-color 0.3s;
	-webkit-transition: border-color 0.3s;
	float: left;
	font-size: 0.9em; 
	-webkit-appearance:none;
} 
.payment-online-form-left ul li:first-child input[type="text"]{
	margin-right: 5%;
}
.payment-online-form-left input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
    border-color: #f56046;
} 
.payment-sendbtns{
	float:left;
	margin: 1.2em 0 1em;
}
.payment-sendbtns input[type="reset"]{
	background:#f56046;
	padding: 0.7em 2em;
	border: none;
	color: #FFF;
	cursor: pointer;
	font-size: 1.1em;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	outline:none;
} 
.payment-sendbtns input[type="submit"]{
	background:#f56046;
	padding: 0.7em 2em;
	border: none;
	color: #fff;
	cursor: pointer;
	font-size: 1.1em;
	display: block;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	-webkit-appearance:none;
	outline:none;
} 
.payment-sendbtns input[type="reset"]:hover,.payment-sendbtns input[type="submit"]:hover{
	color:#FFF;
	background:#222;
}
.payment-sendbtns li{
	display:inline-block;
}
.payment-type li{
	display:inline-block;
	margin: 1em 1em 1em 0;
}
.payment-online-form-right{
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
} 
.visa{
	display: inline-block;
	width: 32px;
	height: 32px;
	background:url(../images/icon.png) no-repeat -32px -28px;
	vertical-align: middle;
}
.paypal{
	display: inline-block;
	width: 32px;
	height: 32px;
	background: url(../images/icon.png) no-repeat -71px -26px;
	vertical-align: middle;
}
.payment-online-form-right{
	float: right;
	width: 30%;
	background: #2B2937;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 4px solid #1A1822;
	padding-bottom: 2em;
}
.payment-online-form-right a:hover{
	color:#1ABC9C;
}
.payment-online-form-right ul li{
	display:block;
	padding: 0.5em;
}
.payment-online-form-right ul li a{
	color:#9095AA;
}
.payment-online-form-right h4{
	color: #FFF;
	font-size: 1em;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(144, 149, 170, 0.22);
	padding: 0.8em;
}
.payment-online-form-right ul {
	padding: 0px 1em;
}
.payment-online-form-right h5{
	color: #FFF;
	padding: 0.5em 0.8em 0.4em;
	font-size: 1em;
}
.payment-type {
	border-top: 1px solid rgba(144, 149, 170, 0.22);
	margin-top: 3%;
	text-align: left;
}
 
/* start state */
.my-mfp-zoom-in #small-dialog {
	opacity: 0;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
}
/* animate in */
.my-mfp-zoom-in.mfp-ready #small-dialog {
	opacity: 1;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}
/* animate out */
.my-mfp-zoom-in.mfp-removing #small-dialog {
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	-ms-transform: scale(0.8);
	-o-transform: scale(0.8);
	transform: scale(0.8);
	opacity: 0;
}
/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
	opacity: 0;
	-webkit-transition: opacity 0.3s ease-out;
	-moz-transition: opacity 0.3s ease-out;
	-o-transition: opacity 0.3s ease-out;
	transition: opacity 0.3s ease-out;
}
/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
	opacity: 0.8;
}
/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
	opacity: 0;
}
/**
/* Magnific Popup CSS */
.mfp-bg {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1042;
	overflow: hidden;
	position: fixed;
	background: #292929;
	opacity: 0.8;
	filter: alpha(opacity=80); }
.mfp-wrap {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1043;
	position: fixed;
	outline: none !important;
	-webkit-backface-visibility: hidden; 
}
.mfp-container {
	text-align: center;
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	padding: 0 8px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box; 
}
.mfp-container:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle; 
}
.mfp-align-top .mfp-container:before {
	display: none; 
}
.mfp-content {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0 auto;
	text-align: left;
	z-index: 1045; 
}
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
	width: 100%;
	cursor: auto; 
}
.mfp-ajax-cur {
  cursor: progress; }
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: -moz-zoom-out;
  cursor: -webkit-zoom-out;
  cursor: zoom-out; }
.mfp-zoom {
  cursor: pointer;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }

.mfp-auto-cursor .mfp-content {
  cursor: auto; }
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none; 
}

.mfp-loading.mfp-figure {
  display: none; }

.mfp-hide {
  display: none !important; }
.mfp-content iframe{
	width:100%;
	min-height:500px;
}
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044; }

.mfp-preloader a {
  color: #cccccc; }

.mfp-preloader a:hover {
  color: white; }

.mfp-s-ready .mfp-preloader {
  display: none; }

.mfp-s-error .mfp-content {
  display: none; }

button.mfp-close,
button.mfp-arrow {
	overflow: visible;
	cursor: pointer;
	border: 0;
	background:#f56046;
	-webkit-appearance: none;
	display: block;
	padding: 0;
	z-index: 1046; 
}
button::-moz-focus-inner {
	padding: 0;
	border: 0; 
}

.mfp-close {
	width: 44px;
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0px;
	top:0px;
	text-decoration: none;
	text-align: center;
	padding: 0 0 18px 10px;
	color: white;
	font-style: normal;
	font-size: 28px;
	outline:none;
 }
.mfp-close:hover, .mfp-close:focus {
    opacity: 1; }

.mfp-close-btn-in .mfp-close {
	color: #fff; }

.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
	color: white;
	right: -6px;
	text-align: right;
	padding-right: 6px;
	width: 100%; 
}
.image-top img{
	width:100%;
}
.image-top p{
	text-align: justify;
	padding:2% 0;
	font-size:15px;
}
.image-top h3 {
	font-size: 1.5em;
	font-weight: 500;
	margin: 16px 0px 0px 0px;
	color:#3F4244;
}
.payment-type li{ 
  position: relative; 
}

.payment-type li input[type=radio]{
	position: absolute;
	visibility: hidden;
}
.payment-type li label {
    display: inline-block;
    position: relative;
    padding-left: 3em;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}
.payment-type li:hover label{
	color: #FFFFFF;
}

.payment-type li .check {
    display: block;
    position: absolute;
	border: 5px solid #ccc;
    border-radius: 100%;
    height: 20px;
    width: 20px;
    top: -2px;
    left: 0;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
} 
.payment-type li:hover .check {
  border: 5px solid #f56046;
}
.payment-type li .check::before {
    display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 10px;
    width: 10px;
    top: 5px;
    left: 5px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
} 
input[type=radio]:checked ~ .check {
  border: 5px solid #f56046;
} 
input[type=radio]:checked ~ .check::before{
  background: #f56046;
} 
input[type=radio]:checked ~ label{
  color: #f56046;
}
/*-- //pop-up --*/
/*-- responsive-design --*/
@media(max-width:1440px){
.pricing-grid { 
    width: 18%; 
}
}
@media(max-width:1366px){
.more a { 
    padding: .5em 3em; 
}
}
@media(max-width:1280px){
.main { 
    width: 78%; 
}
.pricing-grid h4 {
    font-size: 7em; 
}
}
@media(max-width:1080px){
.main {
    width: 90%;
}
}
@media(max-width:1024px){
.main {
    width: 92%;
}
}
@media(max-width:991px){
.pricing-grid {
    width: 19.5%;
    padding: 1.5em;
}
.pricing-grid h4 {
    font-size: 6em;
}
} 
@media(max-width:800px){
.main {
    width: 72%;
}
.pricing-grid {
    width: 41%;
    padding: 1.5em;
}
.pricing-grid.grid-one {
    -webkit-border-radius: 7px 0 0 0;
    -moz-border-radius: 7px 0 0 0;
    border-radius: 7px 0 0 0;
	border-bottom: 1px solid #dedede;
}
.pricing-grid.grid-two { 
    border-right: none;
    border-bottom: 1px solid #dedede;
	-webkit-border-radius: 0 7px 0 0;
	-moz-border-radius: 0 7px 0 0;
	border-radius: 0 7px 0 0;
}
.pricing-grid.grid-three {
	-webkit-border-radius: 0 0 0 7px;
	-moz-border-radius: 0 0 0 7px;
    border-radius: 0 0 0 7px;
}
.pricing-grid.grid-four {
    -webkit-border-radius: 0 0 7px 0;
    -moz-border-radius: 0 0 7px 0;
    border-radius: 0 0 7px 0;
}
}
@media(max-width:736px){
.pricing-grid {
    width: 40%; 
}
}
@media(max-width:667px){
.pricing-grid {
    width: 39.2%;
}
}
@media(max-width:640px){
.main {
    width: 80%;
	padding: 2em 0
}
h1 {
    font-size: 2.5em; 
}
.pricing-agileinfo { 
    margin-top: 2em;
}
.more a { 
    margin-top: 1.5em; 
}
.pricing-grid h4 {
    font-size: 5em;
}
.more a {
    padding: .5em 2em;
}
.mfp-inline-holder .mfp-content, .mfp-ajax-holder .mfp-content {
    width: 85% !important; 
}
.payment-online-form-left input[type="text"] { 
    width: 92%;
}
.payment-online-form-left ul li:first-child input[type="text"] {
    margin-right: 0;
} 
}
@media(max-width:568px){
.main {
    width: 84%; 
}
.more a { 
    font-size: 0.9em;
}
}
@media(max-width:480px){
.main {
    width: 88%;
}
.pricing-grid {
    width: 38%;
}
.pricing-grid h4 {
    font-size: 4.5em;
}
h1 {
    font-size: 2.2em;
}
.copyright p { 
    font-size: 0.9em; 
}
.pricing-grid {
    width: 41%;
    padding: 1em;
} 
}
@media(max-width:414px){
.pricing-grid {
    width: 85%;
} 
.pricing-grid {
    width: 65%;
    margin: 0 auto;
    float: none;
} 
.pricing-grid.grid-one {
    -webkit-border-radius: 7px 7px 0 0;
    -moz-border-radius: 7px 7px 0 0;
    border-radius: 7px 7px 0 0; 
}
.pricing-grid.grid-two { 
    -webkit-border-radius:0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-left: 0;
}
.pricing-grid.grid-three {
    -webkit-border-radius:0;
    -moz-border-radius:0;
    border-radius: 0;
    border-right: none;
    border-bottom: 1px solid #dedede;
}
.pricing-grid.grid-four {
    -webkit-border-radius: 0 0 7px 7px;
    -moz-border-radius: 0 0 7px 7px;
    border-radius: 0 0 7px 7px;
}
.copyright {
    padding: 0 1em 1em;
}
.payment-online-form-left input[type="text"] {
    padding: 0.8em 1em; 
    font-size: 0.85em; 
	width: 89%;
}
.payment-online-form-left h4 {
    font-size: 1.6em; 
}
.payment-sendbtns input[type="reset"],.payment-sendbtns input[type="submit"]{ 
    padding: 0.7em 1em; 
    font-size: 0.9em; 
}
}
@media(max-width:384px){
h1 {
    font-size: 2em;
}
} 
@media(max-width:320px){
h1 {
    font-size: 1.6em;
} 
}
/*-- //responsive-design --*/ 