<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <!-- Favicon and Touch Icons -->
    {#<link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/png">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}
    
    {% block stylesheets %}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-black-light.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('plugins/iCheck/flat/blue.css') }}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{{ asset('plugins/morris/morris.css') }}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{{ asset('plugins/datepicker/datepicker3.css') }}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        <!-- Theme override style -->
        <link rel="stylesheet" href="{{ asset('dist/css/overrides.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    {% endblock %}
    
    <!-- CountDown Timer -->
    <script type="text/javascript">

       function getTimeRemaining(endtime) {
            //var t = Date.parse(endtime) - Date.parse(new Date());
            var t = new Date(endtime.replace(/-/g,'/').replace('T‌​',' ').replace(/\..*|\+.*/,"")) - new Date();
            var seconds = Math.floor( (t/1000) % 60 );
            var minutes = Math.floor( (t/1000/60) % 60 );
            var hours = Math.floor( (t/(1000*60*60)));
            return {
                'total': t,
                'hours': hours,
                'minutes': minutes,
                'seconds': seconds
            };
        }

        function initializeClock(id, $hoursClass, $minutesClass, $secondsClass, endtime) {
            var clock = document.getElementById(id);

            var hoursSpan = clock.querySelector('.' + $hoursClass);
            var minutesSpan = clock.querySelector('.' + $minutesClass);
            var secondsSpan = clock.querySelector('.' + $secondsClass);

            function updateClock() {
                var t = getTimeRemaining(endtime);

                hoursSpan.innerHTML = ('0' + t.hours).slice(-2);
                minutesSpan.innerHTML = ('0' + t.minutes).slice(-2);
                secondsSpan.innerHTML = ('0' + t.seconds).slice(-2);

                if(t.total<=0){

                    hoursSpan.innerHTML = ('00');
                    minutesSpan.innerHTML = ('00');
                    secondsSpan.innerHTML = ('00');

                    clearInterval(timeinterval);
                }
            }

            updateClock(); // run function once at first to avoid delay
            var timeinterval = setInterval(updateClock,1000);

        }
    </script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black-light sidebar-mini">

    <!-- Page Wrapper -->
    <div class="wrapper">

        {% include('member/member.page-top-header.html.twig') %}

        {% include('member/member.page-main-sidebar.html.twig') %}

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block body %}
            {% endblock %}
        </div> <!-- End Content Wrapper -->

        {% include('member/member.page-main-footer.html.twig') %}

    </div> <!-- End Page Wrapper -->

    <!-- Pic Modal -->
    <div class="modal modal-warning" id="viewPicModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalPicHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalPicBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Confirm Modal -->
    <div class="modal modal-success" id="viewConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalConfirmHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalConfirmBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    {% block modalConfirmLink %}{% endblock %}
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Cancel Modal -->
    <div class="modal modal-danger" id="viewCancelModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalCancelHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalCancelBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    {% block modalCancelLink %}{% endblock %}
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>



    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
        <!-- jQuery UI -->
        <script src="{{ asset('plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Sparkline -->
        <script src="{{ asset('plugins/sparkline/jquery.sparkline.min.js') }}"></script>
        <!-- jvectormap -->
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{{ asset('plugins/knob/jquery.knob.js') }}"></script>
        <!-- datepicker -->
        <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
        <!-- Slimscroll -->
        <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('dist/js/app.min.js') }}"></script>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script>
            $('#query').select2();


        jQuery(".view-pack").on("click",function(){

        var id = $(this).data("id");
        $.get( "/get-pack/"+ id, function( data ) {
            var pack_data = JSON.stringify( data);
            console.log(data["name"]);
            {# alert(pack_data.name); #}

            $("#name-"+id).text(data["name"]);
            $("#amount-"+id).text(data["amount"]);
            $("#pv-"+id).text(data["pv"]);

             {# swal(data["name"], "PACKAGE PRICE: GHS " + data["amount"]); #}

            }); 
       
	});

        </script>

        
    {% endblock %}

</body>
</html>