<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}{% endblock %} | {{ app_name }}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">


    
    {% block stylesheets %}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{{ asset('css/ionicons.min.css') }}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{{ asset('dist/css/skins/skin-black-light.min.css') }}">
        <!-- iCheck -->
        <link rel="stylesheet" href="{{ asset('plugins/iCheck/flat/blue.css') }}">
        <!-- Morris chart -->
        <link rel="stylesheet" href="{{ asset('plugins/morris/morris.css') }}">
        <!-- jvectormap -->
        <link rel="stylesheet" href="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.css') }}">
        <!-- Date Picker -->
        <link rel="stylesheet" href="{{ asset('plugins/datepicker/datepicker3.css') }}">
        <!-- Daterange picker -->
        <link rel="stylesheet" href="{{ asset('plugins/daterangepicker/daterangepicker.css') }}">
        <!-- bootstrap wysihtml5 - text editor -->
        <link rel="stylesheet" href="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
        <!-- Theme override style -->
        <link rel="stylesheet" href="{{ asset('dist/css/overrides.css') }}">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />
    {% endblock %}

    
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-black-light sidebar-mini">

    <!-- Page Wrapper -->
    <div class="wrapper">

        {# {% include('member/member.page-top-header.html.twig') %} #}

        <header class="main-header">

    <!-- Logo -->
    <a href="{{ path('dashboard') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            {#<img src="{{ adm.sitesmallicon }}">#}
        </span>
        {# <span class="logo-mini"><img src="{{ asset('img/nav-logo-small.png') }}"></span> #}
        <!-- logo for regular state and mobile devices 200x50 pixels -->
        {#<span class="logo-lg"><img src="{{ adm.sitelogo }}"></span>#}
        {#<span class="logo-lg"><img src="{{ asset('img/nav-logo.png') }}"></span>#}
        {# <span class="logo-lg"><img src="{{ asset('img/logo.jpg') }}"></span> #}
    </a> <!-- End Logo -->

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a> <!-- End Sidebar toggle button-->

        <!-- Navbar Custom Menu -->
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-globe"></i>
                        <span class="label label-danger">{{ app.user.getNotificationCount()  }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{ app.user.getNotificationCount()  }} new notification{% if app.user.getNotificationCount()  != 1 %}s{% endif %}</li>
                      
                        <li class="footer"><a href="{{ path('dashboard') }}">See All Notifications</a></li>
                    </ul>
                </li>
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-danger">{{ app.user.getMailCount() }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{ app.user.getMailCount() }} new message{% if app.user.getMailCount() != 1 %}s{% endif %}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for mail in app.user.getMenuMail() %}
                                    <li><!-- start message -->
                                        <a href="#" {% if mail.getStatus() == 'unread' %}style="background-color:#f4f4f4"{% endif %}>
                                            <h4 style="margin:0">
                                                Support Team <small><i class="fa fa-clock-o"></i> {{ mail.getMail().getCreated()|date('d M. Y H:i') }}</small>
                                            </h4>
                                            <p style="margin:0">{{ mail.getMail().getSubject() }}</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer"><a href="{{ path('member_mails') }}">See All Messages</a></li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset(app.user.getAvatar()) }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ app.user.getName() }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset(app.user.getAvatar()) }}" class="img-circle" alt="User Image">
                            <p>
                                {{ app.user.getName() }}
                                <small>{{ app.user.getUsername() }}</small>
                            </p>
                        </li> <!-- End User image -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {% if (app.user.getRole() == 'ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('adminprofile') }}" class="btn btn-default btn-flat">Profile</a>
                                {% else %}
                                    {# <a href="{{ path('profile') }}" class="btn btn-default btn-flat">Profile</a> #}
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li> <!-- End Menu Footer-->
                    </ul>
                </li> <!-- End User Account -->
            </ul>

        </div> <!-- End Navbar Custom Menu -->

    </nav> <!-- End Header Navbar -->

</header> <!-- End Page Top Header -->

    
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            {% block body %}
            {% endblock %}
        </div> <!-- End Content Wrapper -->

        {% include('member/member.page-main-footer.html.twig') %}

    </div> <!-- End Page Wrapper -->

    <!-- Pic Modal -->
    <div class="modal modal-warning" id="viewPicModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalPicHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalPicBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Confirm Modal -->
    <div class="modal modal-success" id="viewConfirmModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalConfirmHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalConfirmBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    {% block modalConfirmLink %}{% endblock %}
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>

    <!-- Cancel Modal -->
    <div class="modal modal-danger" id="viewCancelModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                    <h4 class="modal-title">{% block modalCancelHeader %}{% endblock %}</h4>
                </div>
                <div class="modal-body">
                    <p class="text-center">{% block modalCancelBody %}{% endblock %}</p>
                </div>
                <div class="modal-footer">
                    {% block modalCancelLink %}{% endblock %}
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                </div>
            </div> <!-- /.modal-content -->
        </div> <!-- /.modal-dialog -->
    </div>



    {% block javascripts %}
        <!-- jQuery -->
        <script src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>
        <!-- jQuery UI -->
        <script src="{{ asset('plugins/jQueryUI/jquery-ui.min.js') }}"></script>
        <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
        <script>
          $.widget.bridge('uibutton', $.ui.button);
        </script>
        <!-- Bootstrap -->
        <script src="{{ asset('js/bootstrap.min.js') }}"></script>
        <!-- Sparkline -->
        <script src="{{ asset('plugins/sparkline/jquery.sparkline.min.js') }}"></script>
        <!-- jvectormap -->
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-1.2.2.min.js') }}"></script>
        <script src="{{ asset('plugins/jvectormap/jquery-jvectormap-world-mill-en.js') }}"></script>
        <!-- jQuery Knob Chart -->
        <script src="{{ asset('plugins/knob/jquery.knob.js') }}"></script>
        <!-- datepicker -->
        <script src="{{ asset('plugins/datepicker/bootstrap-datepicker.js') }}"></script>
        <!-- Bootstrap WYSIHTML5 -->
        <script src="{{ asset('plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>
        <!-- Slimscroll -->
        <script src="{{ asset('plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
        <!-- FastClick -->
        <script src="{{ asset('plugins/fastclick/fastclick.js') }}"></script>
        <!-- AdminLTE App -->
        <script src="{{ asset('dist/js/app.min.js') }}"></script>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

        <script>
            $('#query').select2();
        </script>
    {% endblock %}

</body>
</html>