<!DOCTYPE html>
<html lang="en" style="background-color:#fff">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Trusted and Genuine Returns">
    <meta name="author" content="{{ app_name }}">

    <!-- Favicon and Touch Icons -->
    {#<link href="{{ asset('img/favicon.png') }}" rel="shortcut icon" type="image/png">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}
    {#<link href="{{ asset('img/favicon.png') }}" rel="apple-touch-icon" sizes="72x72">#}

    <title>{{ app_name }} - </title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="{{ asset('css/freelancer.min.css') }}" rel="stylesheet">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet">

    <!-- Theme style -->
    <link rel="stylesheet" href="{{ asset('dist/css/AdminLTE.min.css') }}">
    <!-- iCheck -->
    <link rel="stylesheet" href="{{ asset('plugins/iCheck/square/blue.css') }}">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:300" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Cherry+Swash:700" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ asset('css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/ionicons.min.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <style type="text/css">
        @media (max-width: 425px) {
            .media-body {
                display: block !important;
                width: 100% !important;
            }
            .navbar-brand img {
                max-width: 244px !important;
            }
        }
    </style>


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <![endif]-->

</head>

<body id="page-top" class="index hold-transition {% if app.request.get('_route') == 'register' %}register-page{% elseif app.request.get('_route') == 'login' %}login-page{% endif %}" style="background-color:#fff">

    <div id="skipnav"><a href="#maincontent">Skip to main content</a></div>

    {% include('public/public.nav.html.twig') %}

    {% block body %}{% endblock %}

    {% include('public/public.footer.html.twig') %}

    <!-- jQuery -->
    <script type="text/javascript" src="{{ asset('js/jquery-3.1.0.min.js') }}"></script>

    <script type="text/javascript" src="//www.wipixar.com/wipixar/livechat/php/app.php?widget-init.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/css/select2.min.css" rel="stylesheet" />
    <!-- Loading jquery here-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.2-rc.1/js/select2.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="{{ asset('js/bootstrap.min.js') }}"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="{{ asset('js/jqBootstrapValidation.js') }}"></script>

    <!-- Theme JavaScript -->
    <script src="{{ asset('js/freelancer.min.js') }}"></script>

    <!-- iCheck -->
    <script src="{{ asset('plugins/iCheck/icheck.min.js') }}"></script>
    
    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });

      $('select[data-select="true"]').select2();



    </script>

</body>

</html>