{% extends 'member.base.html.twig' %}

{% block title %}Compose Mail{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('mailSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('mailError') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Compose Mail</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li><a href="{{ path('god_mode_mails') }}"><i class="fa fa-newspaper-o"></i> Mail</a></li>
            <li class="active"><i class="fa fa-plus"></i> Compose Mail</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item active">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                <h3>Compose Mail</h3>
      				{{ form_start(form, {'action': path('god_mode_compose_mail'), 'attr': {'class': 'form-horizontal'}}) }}

          				<span class="text-danger">{{ form_errors(form.subject) }}</span>
      					<div class="form-group">
                			{{ form_label(form.subject, "Subject", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                			<div class="col-sm-10">
                  				{{ form_widget(form.subject) }}
                			</div>
          				</div>

          				<span class="text-danger">{{ form_errors(form.mail) }}</span>
      					<div class="form-group">
                			{{ form_label(form.mail, "Mail", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                			<div class="col-sm-10">
                  				{{ form_widget(form.mail, { 'attr': {'class': 'bswysiwyg', 'style': 'width: 100%; height: 200px; font-size: 14px; line-height: 18px; border: 1px solid #dddddd; padding: 10px;'} }) }}
                			</div>
          				</div>

			            <div class="row">
			            	<div class="col-sm-12">
			            		<button type="submit" class="btn btn-primary btn-block btn-flat">Compose Mail</button>
			            	</div>
			            </div>
      				{{ form_end(form) }}
            </div> <!-- End Main Content -->
    	</div>
    </section> <!-- End Main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(function () {
            //bootstrap WYSIHTML5 - text editor
            $(".bswysiwyg").wysihtml5({
              toolbar: {
                "image": false, //Button to insert an image. Default true,
                "color": true
              }
            });
        });
    </script>
{% endblock %}