{% extends 'member.base.html.twig' %}

{% block title %}God Mode Dashboard{% endblock %}

{% block body %}
    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}


    {% for flash_message in app.session.flashBag.get('failureNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    {% for flash_message in app.session.flashBag.get('deleteSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}


    {% for flash_message in app.session.flashBag.get('deleteFailure') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            God Mode Dashboard
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> God Mode Dashboard</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            {% if is_granted('ROLE_SUPER_ADMIN') %}

            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <p>View Admins</p>
                    </div>
                    <a href="{{ path('list_admin') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>
            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <p>View Packages</p>
                    </div>
                    <a href="{{ path('list_pack') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>

{#            <div class="col-lg-3 col-xs-6">#}
{#                <!-- small box -->#}
{#                <div class="small-box bg-red">#}
{#                    <div class="inner">#}
{#                        <p>View News</p>#}
{#                    </div>#}
{#                    <a href="{{ path('list_news') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>#}
{#                </div> <!-- End small box -->#}
{#            </div>#}

            <div class="col-lg-4 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <p>View Notice Board</p>
                    </div>
                    <a href="{{ path('set_notice_board') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>

            {% endif %}

        </div> <!-- End Small boxes (Stat box) -->

        <!-- Info Boxes -->
        <div class="row">
            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
                     <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Total Users</span>
                        <span class="info-box-number">{{ usersCount }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-google-wallet"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Users Wallet Total</span>
                        <span class="info-box-number">GHS{{ totalWalletAmount }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                     <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Total Withdrawal Requests</span>
                        <span class="info-box-number">{{ withdrawalRequests }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Withdrawal Requests Today</span>
                        <span class="info-box-number">{{ todayWithdrawalRequests }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            {#            <div class="col-sm-3">#}
{#                <div class="info-box">#}
{#                    <span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>#}
{#                    <!-- Info-box-content -->#}
{#                    <div class="info-box-content">#}
{#                        <span class="info-box-text">Total Packs</span>#}
{#                        #}{# <span class="info-box-number">{{ packsCount }}</span> #}
{#                    </div> <!-- End info-box-content -->#}
{#                </div>#}
{#            </div>#}

        </div> <!-- End Info Boxes -->

        <div class="row">
            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">New Users Today</span>
                        <span class="info-box-number">{{ totalUserCountsToday }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-green"><i class="fa fa-money"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Confirmed Payments Today </span>
                        <span class="info-box-number">GHS{{ newConfirmedPaymentsToday }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-money"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Approved Withdrawals Today</span>
                        <span class="info-box-number">{{ todayApprovedWithdrawalRequests }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            <div class="col-sm-3">
                <div class="info-box">
                    <span class="info-box-icon bg-red"><i class="fa fa-users"></i></span>
                    <!-- Info-box-content -->
                    <div class="info-box-content">
                        <span class="info-box-text">Total Referrers Today</span>
                        <span class="info-box-number">{{ referrersToday }}</span>
                    </div> <!-- End info-box-content -->
                </div>
            </div>

            {#            <div class="col-sm-3">#}
            {#                <div class="info-box">#}
            {#                    <span class="info-box-icon bg-aqua"><i class="fa fa-archive"></i></span>#}
            {#                    <!-- Info-box-content -->#}
            {#                    <div class="info-box-content">#}
            {#                        <span class="info-box-text">Total Packs</span>#}
            {#                        #}{# <span class="info-box-number">{{ packsCount }}</span> #}
            {#                    </div> <!-- End info-box-content -->#}
            {#                </div>#}
            {#            </div>#}

        </div> <!-- End Info Boxes -->

        <!-- Extras -->
        <div class="row">
            <div class="col-sm-6">
                <a href="{{ path('unblock_user') }}" class="btn btn-lg btn-block btn-warning btn-flat"><i class="fa fa-ban"></i> Unblock User</a>
            </div>
            <div class="col-sm-6">
                <a href="{{ path('reset_password') }}" class="btn btn-lg btn-block btn-info btn-flat"><i class="fa fa-unlock"></i> Reset Password</a>
            </div>
        </div> <!-- End Extras -->

        <hr>

        <!-- Mailbox -->
        <div class="row">

{#            <div class="col-sm-4">#}
{#                <a href="{{ path('god_mode_mails') }}" class="btn btn-lg btn-block btn-success btn-flat"><i class="fa fa-envelope"></i> Mail</a>#}
{#            </div>#}
{#            <div class="col-sm-4">#}
{#                <a href="{{ path('list_approve_reviews') }}" class="btn btn-lg btn-block btn-danger btn-flat"><i class="fa fa-comments-o"></i> Approve Testimonies</a>#}
{#            </div>#}

            <div class="col-sm-6">
                <a href="{{ path('list_users') }}" class="btn btn-lg btn-block btn-success btn-flat"><i class="fa fa-users"></i> List Users</a>
            </div>

            <div class="col-sm-6">
                <a href="{{ path('change_password') }}" class="btn btn-lg btn-block btn-info btn-flat"><i class="fa fa-unlock"></i> Change Admin Password</a>
            </div>

        </div>

        <hr>

        <div class="row">
{#            <div class="col-sm-6">#}
{#                <a href="{{ path('change_password') }}" class="btn btn-lg btn-block btn-info btn-flat"><i class="fa fa-unlock"></i> Change Admin Password</a>#}
{#            </div>#}
{#            #}
{#            <div class="col-sm-6">#}
{#                <a href="{{ path('run_cron') }}" class="btn btn-lg btn-block btn-danger btn-flat"><i class="fa fa-warning"></i> Block Unpaid Users</a>#}
{#            </div>#}
        </div>

        <hr>

        {#<div class="row">#}
            {#<div class="col-sm-6">#}
                {#<a target="_blank" href="http://docs.nairapal.club" class="btn btn-lg btn-block btn-success btn-flat"><i class="fa fa-book"></i> View Docs</a>#}
            {#</div>#}
            {#<div class="col-sm-6">#}
                {#<a target="_blank" href="http://moneymachine.nairapal.club" class="btn btn-lg btn-block btn-success btn-flat"><i class="fa fa-apple"></i> Bonus Script</a>#}
            {#</div>#}
        {#</div>#}

        <hr>

        {# <div class="row">
            <div class="col-sm-6">
                <a href="{{ path('move_jury_cases') }}" class="btn btn-lg btn-block btn-warning btn-flat"><i class="fa fa-empire"></i> Move Cases to Jury</a>
            </div>
            <div class="col-sm-6">
                <a href="{{ path('block_scam_users') }}" class="btn btn-lg btn-block btn-warning btn-flat"><i class="fa fa-ban"></i> Block Jury Users</a>
            </div>
        </div> #}

        <hr>

        <hr>

        <!-- Mailbox -->
        <div class="row">
{# 
            {% for pack in packs %}
                <div class="col-sm-6">
                    <a href="{{ path('god_mode_merge_users', {'pack' : pack.getId()}) }}" class="btn btn-lg btn-block btn-success btn-flat"><i class="fa fa-envelope"></i> Merge Users in {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }})</a>
                </div>
            {% endfor %} #}
        </div>
    </section>


    {#<table class="table table-hover table-responsive table-striped">#}
        {#<thead>#}
        {#<tr>#}
            {#<th>Feeder</th>#}
            {#<th>Receiver</th>#}
            {#<th>Feeder Time Start</th>#}
            {#<th>Recommit</th>#}
        {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for user in notPaidUsers %}#}
            {#<tr>#}
                {#<td>{{ user.getFeeder() }}</td>#}
                {#<td>{{ user.getReceiver() }}</td>#}
                {#<td>#}

                {#</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}


{% endblock %}