{% extends 'member.base.html.twig' %}

{% block title %}Edit {{ admin.getName() }}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Edit {{ admin.getName() }}</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li><a href="{{ path('list_admin') }}"><i class="fa fa-users"></i> Admin Users</a></li>
            <li class="active"><i class="fa fa-user"></i> {{ admin.getName() }}</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                <h3>Edit {{ admin.getName() }}</h3>
                {{ form_start(form, {'action': path('edit_admin', {'admin' : admin.getId()}), 'attr': {'class': 'form-horizontal'}}) }}

                    <span class="text-danger">{{ form_errors(form.username) }}</span>
                    <div class="form-group">
                        {{ form_label(form.username, 'Username', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.username) }}
                        </div>
                    </div>

                    {#<span class="text-danger">{{ form_errors(form.title) }}</span>#}
                    {#<div class="form-group">#}
                        {#{{ form_label(form.title, 'Title', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}

                        {#<div class="col-sm-9">#}
                            {#{{ form_widget(form.title) }}#}
                        {#</div>#}
                    {#</div>#}

                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                    <div class="form-group">
                        {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>

                    <span class="text-danger">{{ form_errors(form.email) }}</span>
                    <div class="form-group">
                        {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>

                    {#<div class="text-danger">{{ form_errors(form.bitcoin_address) }}</div>#}
                    {#<div class="form-group has-feedback">#}
                        {#{{ form_label(form.bitcoin_address, 'Bitcoin Address', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}
                        {#<div class="col-sm-9">#}
                        {#{{ form_widget(form.bitcoin_address) }}#}
                       {#</div>#}
                    {#</div>#}
                {##}

                    <span class="text-danger">{{ form_errors(form.phone_one) }}</span>
                    <div class="form-group">
                        {{ form_label(form.phone_one, 'Phone 1', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.phone_one) }}
                        </div>
                    </div>

                    {#<span class="text-danger">{{ form_errors(form.sex) }}</span>#}
                    {#<div class="form-group">#}
                        {#{{ form_label(form.sex, 'Sex', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}

                        {#<div class="col-sm-9">#}
                            {#{{ form_widget(form.sex) }}#}
                        {#</div>#}
                    {#</div>#}
                {##}
                    {#<span class="text-danger">{{ form_errors(form.resident_country) }}</span>#}
                    {#<div class="form-group">#}
                        {#{{ form_label(form.resident_country, 'Resident Country', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}

                        {#<div class="col-sm-9">#}
                            {#{{ form_widget(form.resident_country) }}#}
                        {#</div>#}
                    {#</div>#}

                    {#<span class="text-danger">{{ form_errors(form.resident_state) }}</span>#}
                    {#<div class="form-group">#}
                        {#{{ form_label(form.resident_state, 'Resident State', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}#}

                        {#<div class="col-sm-9">#}
                            {#{{ form_widget(form.resident_state) }}#}
                        {#</div>#}
                    {#</div>#}

                    <span class="text-danger">{{ form_errors(form.purse) }}</span>
                    <div class="form-group">
                        {{ form_label(form.purse, 'Wallet', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.purse) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}