{% extends 'member.base.html.twig' %}

{% block title %}Edit {{ pack.getName() }} Pack ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}){% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Edit {{ pack.getName() }} Plan ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) <button class="btn btn-lg btn-danger" data-toggle="modal" data-target="#viewCancelModal">Delete</button></h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li><a href="{{ path('list_pack') }}"><i class="fa fa-pie-chart"></i> Packages</a></li>
            <li class="active"><i class="fa fa-plus"></i> Edit {{ pack.getName() }} Pack ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }})</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                <h3>Edit {{ pack.getName() }} Pack ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }})</h3>
                {{ form_start(form, {'action': path('edit_pack', {'pack' : pack.getId()}), 'attr': {'class': 'form-horizontal'}}) }}

                    <span class="text-danger">{{ form_errors(form.name) }}</span>
                    <div class="form-group">
                        {{ form_label(form.name, 'Name', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>

                    <span class="text-danger">{{ form_errors(form.amount) }}</span>
                    <div class="form-group">
                        {{ form_label(form.amount, 'Amount', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.amount) }}
                        </div>
                    </div>

                    <span class="text-danger">{{ form_errors(form.feeders) }}</span>
                    <div class="form-group">
                        {{ form_label(form.feeders, 'Feeders', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                        <div class="col-sm-9">
                            {{ form_widget(form.feeders) }}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Update</button>
                        </div>
                    </div>
                {{ form_end(form) }}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}