{% extends 'member.base.html.twig' %}

{% block title %}{{ users.getTotalItemCount }} User{% if users.getTotalItemCount != 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ users.getTotalItemCount }} Transaction{% if users.getTotalItemCount != 1 %}s{% endif %}
        </h1>
        <br>

        <h1>
            Total Requests : {{ total }} GHS
        </h1>
        <br>

        <h1>
            Approved  : {{ approved }} GHS
        </h1>

        <br>

        <h1>
            UnApproved  : {{ unapproved }} GHS
        </h1>

        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-users"></i> Users</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
{#            <div class="col-sm-3">#}
{#                <div class="list-group">#}
{#                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>#}
{#                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>#}
{#                    <a href="{{ path('list_users') }}" class="list-group-item active">List Users</a>#}
{#                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>#}
{#                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>#}
{#                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>#}
{#                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>#}
{#                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>#}
{#                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>#}
{#                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>#}
{#                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>#}
{#                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>#}
{#                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>#}
{#                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>#}
{#                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>#}
{#                </div>#}
{#            </div> <!-- End Mini Side Bar -->#}

            <!-- Main Content -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 text-center lead">
                        {% if users.getTotalItemCount != 0 %}
                        Showing {{ users.getPaginationData.firstItemNumber }} to {{ users.getPaginationData.lastItemNumber }} out of {{ users.getTotalItemCount }} User{% if users.getTotalItemCount != 1 %}s{% endif %}
                        {% else %}
                            0 Withdrawal Requests
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <div class="row">

                        <div class="col-md-6">
                            <form>

                                <span style="margin-left: 20px">
                                    <label> From </label>
                                        <input type="date" name="from" placeholder="From" required/>
                                    </span>

                                <span style="margin-left: 20px" >
                                    <label> To</label>
                                        <input type="date" name="to" placeholder="To" required/>
                                </span>

                                <span style="margin-left: 20px" ><input  type="submit"/></span>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <form>
                        <span style="margin-left: 20px">
                            <label> Search Users by username </label>
                                <input type="text" name="q" placeholder="search users"/>
                        </span>

                                <span style="margin-left: 20px" ><input  type="submit"/></span>
                            </form>
                        </div>

                    <br>
                    <br>


                    {#                    <div class="col-sm-12">#}
{#                        <div class="dropdown" style="display:inline-block">#}
{#                            <button class="btn btn-warning dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort By <span class="caret"></span></button>#}
{#                            <ul class="dropdown-menu" aria-labelledby="sortMenu">#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'date_DESC'}) }}">Created Date DESC</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'date_ASC'}) }}">Created Date ASC</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'name_DESC'}) }}">Name DESC</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'name_ASC'}) }}">Name ASC</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'username_DESC'}) }}">Username DESC</a>#}
{#                                </li>#}
{#                                <li>#}
{#                                    <a href="{{ path('list_users', {'page' : page, 'sort' : 'username_ASC'}) }}">Username ASC</a>#}
{#                                </li>#}
{#                            </ul>#}
{#                        </div>#}
{#                        <span>#}
{#                            <strong>Sorting By: </strong>#}
{#                            {% if sort == 'date_DESC' %}#}
{#                                Created Date DESC#}
{#                            {% elseif sort == 'date_ASC' %}#}
{#                                Created Date ASC#}
{#                            {% elseif sort == 'name_DESC' %}#}
{#                                Name DESC#}
{#                            {% elseif sort == 'name_ASC' %}#}
{#                                Name ASC#}
{#                            {% elseif sort == 'username_DESC' %}#}
{#                                Username DESC#}
{#                            {% elseif sort == 'username_ASC' %}#}
{#                                Username ASC#}
{#                            {% endif %}#}
{#                        </span>#}
{#                    </div>#}
                </div>
                <table class="table table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Phone Number</th>
                            <th>Amount Requested</th>
                            <th>Amount in Wallet</th>
                            <th>Created</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>
                                    {{ user.receiver.getName() }}
                                </td>
                                <td>
                                    {{ user.receiver.getUsername() }}
                                </td>

                                <td>
                                    {{ user.receiver.getPhoneOne() }}
                                </td>
                                <td>
                                    {{ user.getAmount() }}
                                </td>

                                <td>
                                    {{ user.receiver.getPurse() }}
                                </td>


                                <td>
                                    {{ user.getCreated()|date('d M. Y H:i') }}
                                </td>
                                <td>
                                    {% if user.getApproved() == false%}
                                 <a href="{{ path('approve_withdrawal_request', {'user':user.receiver.getId(),'transaction':user.getId()}) }}" class="btn btn-xs btn-success">
                                     Approve withdrawal request
                                 </a>
                                    {% else %}

                                        Approved

                                    {% endif %}
                                    |

                                    <a href="{{ path('manage_wallet', {'user' : user.receiver.getId()}) }}" class="btn btn-xs btn-warning">view records</a> |

                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation text-center">
                    {{ knp_pagination_render(users) }}
                </div>
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}