{% extends 'member.base.html.twig' %}

{% block title %}{{ mail.getTotalItemCount }} Mail{% if mail.getTotalItemCount != 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('mailSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('mailError') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ mail.getTotalItemCount }} Mail{% if mail.getTotalItemCount != 1 %}s{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-newspaper-o"></i> Mails</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item active">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                {% if mail.getTotalItemCount > 0 %}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 text-center lead">
                            Showing {{ mail.getPaginationData.firstItemNumber }} to {{ mail.getPaginationData.lastItemNumber }} out of {{ mail.getTotalItemCount }} Mail{% if mail.getTotalItemCount != 1 %}s{% endif %}
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Subject</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for entry in mail %}
                                <tr>
                                    <td><a href="{{ path('god_mode_view_mail', {'mail' : entry.getId}) }}">{{ entry.getSubject() }}</a></td>
                                    <td>{{ entry.getCreated()|date('d M. Y H:i') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(mail) }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <p class="text-center">You have not composed any mail. Click the button below when you have something interesting to say to the members</p>
                        <p class="text-center">
                            <a href="{{ path('god_mode_compose_mail') }}" class="btn btn-lg btn-warning" style="text-decoration:none">Compose Mail</a>
                        </p>
                    </div>
                {% endif %}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}