{% extends 'member.base.html.twig' %}

{% block title %}{{ reviews.getTotalItemCount }} Testimon{% if reviews.getTotalItemCount != 1 %}ies{% else %}y{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('reviewSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('reviewError') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ reviews.getTotalItemCount }} Testimon{% if reviews.getTotalItemCount != 1 %}ies{% else %}y{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-comments-o"></i> Testimonies</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item active">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                {% if reviews.getTotalItemCount > 0 %}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 text-center lead">
                            Showing {{ reviews.getPaginationData.firstItemNumber }} to {{ reviews.getPaginationData.lastItemNumber }} out of {{ reviews.getTotalItemCount }} Testimon{% if reviews.getTotalItemCount != 1 %}ies{% else %}y{% endif %}
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Testimony</th>
                                <th>User</th>
                                <th>Status</th>
                                <th>Options</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for review in reviews %}
                                <tr>
                                    <td>{{ review.getTestimony() }}</td>
                                    <td>{{ review.getUser().getName() }}</td>
                                    <td>
                                        {% if review.getStatus() == NULL %}
                                            <button class="btn btn-xs btn-default">Not Approved</button>
                                        {% elseif review.getStatus() == 'approved' %}
                                            <button class="btn btn-xs btn-success">Approved</button>
                                        {% else %}
                                            <button class="btn btn-xs btn-danger">Disapproved</button>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if review.getStatus() == NULL %}
                                            <a href="{{ path('do_approve_review', {'review' : review.getId()}) }}" class="btn btn-xs btn-success">Approve</a>
                                        {% elseif review.getStatus() == 'approved' %}
                                            <a href="{{ path('do_disapprove_review', {'review' : review.getId()}) }}" class="btn btn-xs btn-danger">Disapprove</a>
                                        {% else %}
                                            <a href="{{ path('do_approve_review', {'review' : review.getId()}) }}" class="btn btn-xs btn-success">Approve</a>
                                        {% endif %}
                                    </td>
                                    <td>{{ review.getCreatedDate()|date('d M. Y H:i') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(reviews) }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <p class="text-center">No member has posted a testimony yet. Kindly wait while they benefit from this system then post testimonies.</p>
                    </div>
                {% endif %}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}