{% extends 'member.base.html.twig' %}

{% block title %}{{ news.getTotalItemCount }} News Article{% if news.getTotalItemCount != 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('newsSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('newsError') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ news.getTotalItemCount }} News Article{% if news.getTotalItemCount != 1 %}s{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-newspaper-o"></i> News</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item active">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                {% if news.getTotalItemCount > 0 %}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 text-center lead">
                            Showing {{ news.getPaginationData.firstItemNumber }} to {{ news.getPaginationData.lastItemNumber }} out of {{ news.getTotalItemCount }} News Article{% if news.getTotalItemCount != 1 %}s{% endif %}
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Options</th>
                                <th>Created</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for article in news %}
                                <tr>
                                    <td>{{ article.getTitle() }}</td>
                                    <td>
                                        <a href="{{ path('edit_news', {'news' : article.getId()}) }}" class="btn btn-xs btn-warning">Edit</a>
                                    </td>
                                    <td>{{ article.getCreated()|date('d M. Y H:i') }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(news) }}
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <p class="text-center">You have not created any news article. Click the button below when you have something interesting to say to the members</p>
                        <p class="text-center">
                            <a href="{{ path('create_news') }}" class="btn btn-lg btn-warning" style="text-decoration:none">Create News Article</a>
                        </p>
                    </div>
                {% endif %}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}