{% extends 'member.base.html.twig' %}

{% block title %}{{ packs.getTotalItemCount }} Pack{% if packs.getTotalItemCount != 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ packs.getTotalItemCount }} Package{% if packs.getTotalItemCount != 1 %}s{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-pie-chart"></i> Packages</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item active">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 text-center lead">
                        {% if packs.getTotalItemCount != 0 %}
                        Showing {{ packs.getPaginationData.firstItemNumber }} to {{ packs.getPaginationData.lastItemNumber }} out of {{ packs.getTotalItemCount }} Pack{% if packs.getTotalItemCount != 1 %}s{% endif %}
                        {% else %}
                            0 Packs
                        {% endif %}
                    </div>
                    <div class="col-sm-2">
                    </div>
                </div>
                <table class="table table-hover table-responsive table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            {# <th>Feeders Allowed</th> #}
                            {# <th>Options</th> #}
                        </tr>
                    </thead>
                    <tbody>
                        {% for pack in packs %}
                            <tr>
                                <td>{{ pack.getName() }}</td>
                                <td>{{ app_currency_symbol }}{{ pack.getFormattedAmount() }}</td>
                                {# <td>{{ pack.getFeeders() }}</td> #}
                                {# <td>
                                    <a href="{{ path('edit_pack', {'pack' : pack.getId()}) }}" class="btn btn-xs btn-warning">Edit</a>
                                </td> #}

                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <div class="navigation text-center">
                    {{ knp_pagination_render(packs) }}
                </div>
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}