{% extends 'member.base.html.twig' %}

{% block title %}{{ adminpayments.getTotalItemCount }} Pack{% if adminpayments.getTotalItemCount != 1 %}s{% endif %}{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ adminpayments.getTotalItemCount }} Pack Subscription{% if adminpayments.getTotalItemCount != 1 %}s{% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-pie-chart"></i> Pack Subscriptions</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        {# <div class="row"> #}
            <!-- Mini Side Bar -->
            {# <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item active">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                </div> #}
            {# </div> <!-- End Mini Side Bar --> #}

            <!-- Main Content -->
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8 text-center lead">
                        {% if adminpayments.getTotalItemCount != 0 %}
                            Showing {{ adminpayments.getPaginationData.firstItemNumber }} to {{ adminpayments.getPaginationData.lastItemNumber }} out of {{ adminpayments.getTotalItemCount }} Pack{% if adminpayments.getTotalItemCount != 1 %}s{% endif %}
                        {% else %}
                            0 payments
                        {% endif %}
                    </div>
                    <div class="col-sm-2"></div>
                </div>

                <br>
                <br>
                <div class="row">

                    <div class="col-md-6">
                        <form>

                                <span style="margin-left: 20px">
                                    <label> From </label>
                                        <input type="date" name="from" placeholder="From" required/>
                                    </span>

                            <span style="margin-left: 20px" >
                                    <label> To</label>
                                        <input type="date" name="to" placeholder="To" required/>
                                </span>

                            <span style="margin-left: 20px" ><input  type="submit"/></span>
                        </form>
                    </div>

                    <div class="col-md-6">
                        <form>
                        <span style="margin-left: 20px">
                            <label> Search Users by username </label>
                                <input type="text" name="q" placeholder="search users"/>
                        </span>

                            <span style="margin-left: 20px" ><input  type="submit"/></span>
                        </form>
                    </div>
                </div>

                <table class="table table-hover table-responsive table-striped">
                    <thead>
                    <tr>
                        <th>S/N</th>
                        <th> Username</th>
                        <th> Name</th>
                        <th width="5%">Pack Amount</th>
                        <th width="5%">Amount Paid</th>
                        
                        <th>Momo Name</th>

                        <th>Momo Number</th>
                        {# <th>Referrer</th> #}
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in adminpayments

                    %}
                <tr>
                    <td>{{ loop.index }} </td>

                <td>{{ payment.getUser().getUserName() }}  </td>

                 <td>{{ payment.getUser().getName() }} 

                 ({{ payment.getUser().getPhoneOne() }})
                 </td>

                            <td width="5%">
                           GHS {{ payment.getPack().getAmount() }}
                            </td>

                              <td width="5%">
                           GHS {{ payment.getUser().getAmountPaid() }}
                            </td>

                            <td>
                            {{ payment.getUser().getMobileMoneyName() }}
                            </td>
                          
                          <td>
                            {{ payment.getUser().getMobileMoneyNumber() }}
                            </td>

                            {# <td>
                            {{ payment.getUser().getReferrer() }}
                            </td> #}
                          
                            <td>
                                {% if payment.getStatus() == 'waiting' %}
                                    <btn class="btn btn-xs btn-flat btn-info">Not Paid</btn>

                                {% elseif payment.getStatus() == 'active' %}
                                    <btn class="btn btn-xs btn-flat btn-success">Confirmed</btn>
                                {% elseif payment.getStatus() == 'not_paid' %}
                                    <btn class="btn btn-xs btn-flat btn-warning">Not Paid</btn>
                               
                                {% endif %}
                            </td>
                            <td>
                                {% if payment.getStatus() == "active" %}
                                <a href="{{ path('confirm_pack_payments', {'packSubscription' : payment.getId()}) }}">
                                </a>
                                
                              <p> Confirmed</p>

                                <br/><br/>

                                {% else %}

                                <a href="{{ path('confirm_pack_payments', {'packSubscription' : payment.getId()}) }}"><btn  class="btn btn-xs btn-flat btn-warning">Confirm Payment</btn></a><br/><br/>

                                {% endif %}
                                {# <a href="{{ path('scam_payment', {'feeder' : payment.getId()}) }}" class="btn btn-xs btn-flat btn-danger">Mark as Scam</a> #}

                            </td>
                         
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>

                <div class="navigation text-center">
                    {{ knp_pagination_render(adminpayments) }}
                </div>
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}