{% extends 'member.base.html.twig' %}

{% block title %}Manage {{ user.getName() }}'s Wallet{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Manage {{ user.getName() }}'s Wallet</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li><a href="{{ path('list_admin') }}"><i class="fa fa-users"></i> Admin Users</a></li>
            <li class="active"><i class="fa fa-user"></i> {{ user.getName() }}</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <!-- Mini Side Bar -->
{#            <div class="col-sm-3">#}
{#                <div class="list-group">#}
{#                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>#}
{#                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>#}
{#                    <a href="{{ path('list_users') }}" class="list-group-item active">List Users</a>#}
{#                    <a href="{{ path('list_users') }}" class="list-group-item">Wallet Update</a>#}
{#                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>#}
{#                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>#}
{#                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>#}
{#                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>#}
{#                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>#}
{#                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>#}
{#                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>#}
{#                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>#}
{#                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>#}
{#                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>#}
{#                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>#}
{#                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>#}
{#                </div>#}
{#            </div> <!-- End Mini Side Bar -->#}

            <div class="col-sm-4">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ app_currency_symbol }}{{ user.getFormattedPurse() }}</h3>
                        <p>Wallet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                    <a class="small-box-footer">Wallet Balance <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

                <!-- Links -->
{#                <div class="list-group">#}
{#                    {% if app.user.getPurse != null %}#}
{#                        <a href="{{ path('withdraw_purse') }}" class="list-group-item">Withdraw Wallet</a>#}
{#                    {% else %}#}
{#                        <a href="#" class="list-group-item">Empty Wallet</a>#}
{#                    {% endif %}#}
{#                    <a href="{{ path('transfer_purse') }}" class="list-group-item">Transfer To User</a>#}
{#                </div> <!-- End Links -->#}
            </div> <!-- End Mini Side Bar -->


            <!-- Main Content -->
            <div class="col-sm-8">
                <h3>Manage {{ user.getName() }}'s Wallet </h3>

                {%  if is_granted('ROLE_SUPER_ADMIN') %}

                {{ form_start(form, {'action': path('manage_wallet', {'user' : user.getId()}), 'attr': {'class': 'form-horizontal'}}) }}

                <span class="text-danger">{{ form_errors(form.credit_wallet) }}</span>
                <div class="form-group">
                    {{ form_label(form.credit_wallet, 'Credit Wallet', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                    <div class="col-sm-9">
                        {{ form_widget(form.credit_wallet) }}
                    </div>
                </div>



                <div class="row">
                    <div class="col-sm-12">
                        <button type="submit" class="btn btn-success btn-block btn-flat">Credit Wallet</button>
                    </div>
                </div>
                {{ form_end(form) }}

                {% endif %}

                <br/>
                <br/>
                <!-- Referral Link -->
                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">{{ user.getName() }}'s Referral Link</h3>
                    </div>

                    <div class="box-body">
                        <p class="text-muted">{{ adm.siteurl }}/ref/{{ user.getUsername() }}</p>
                    </div>
                </div> <!-- End Referral Link -->
                <br/>

                {% if referrals.getTotalItemCount == 0 %}
                    <div class="alert alert-warning">
                        <p class="lead text-center">Sorry, {{ user.getName() }} does not have any referrals yet!</p>
                    </div>
                {% else %}

                    <br>
                    <div class="row">

                        <div class="col-md-6">
                            <form>

                                <span style="margin-left: 20px">
                                    <label> From </label>
                                        <input type="date" name="from" placeholder="From" required/>
                                    </span>

                                <span style="margin-left: 20px" >
                                    <label> To</label>
                                        <input type="date" name="to" placeholder="To" required/>
                                </span>

                                <span style="margin-left: 20px" ><input  type="submit"/></span>
                            </form>
                        </div>

                        <div class="col-md-6">
                            <form>
                        <span style="margin-left: 20px">
                            <label> Search Users by username </label>
                                <input type="text" name="q" placeholder="search users"/>
                        </span>

                                <span style="margin-left: 20px" ><input  type="submit"/></span>
                            </form>
                        </div>
                    </div>
                    <br>
                    <div class="box">
                        <div class="box-header with-border text-center">
                            <h3 class="box-title">Showing {{ referrals.getPaginationData.firstItemNumber }} to {{ referrals.getPaginationData.lastItemNumber }} out of {{ referrals.getTotalItemCount }} Referral{% if referrals.getTotalItemCount != 1 %}s{% endif %}</h3>
                        </div>

                        <div class="box-body">
                            <table class="table table-responsive table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Date Joined</th>
                                    <th> Pack </th>
                                    <th> Amount </th>
                                    <th> PV </th>
                                    {# <th>TPV </th> #}

                                </tr>
                                </thead>

                                <tbody>
                                {% for referral in referrals %}
                                    <tr class="{% if referral.getStatus() == 'active' %}text-success{% else %}text-danger{% endif %}">
                                        <td><a href="{{ path('manage_wallet', {'user' : referral.getId()}) }}">{{ referral.getName() }}</a></td>
                                        <td><a href="{{ path('manage_wallet', {'user' : referral.getId()}) }}">{{ referral.getUsername() }}</a></td>
                                        <td>{{ referral.getEmail() }}</td>
                                        <td>{{ referral.getCreated()|date('d F, Y') }}</td>

                                        <td  id="name-{{ referral.getId()}}">
                                            <btn data-id="{{ referral.getId()}}" class="btn btn-success view-pack">View Pack Info
                                            </btn> </td>
                                        <td id="amount-{{ referral.getId()}}" data-id="amount-{{ referral.getId()}}"></td>
                                        <td id="pv-{{ referral.getId()}}" data-id="pv-{{ referral.getId()}}">  </td>
                                        {# <td>  </td> #}
                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                            <p>Total: </p>
                        </div>
                    </div>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(referrals) }}
                    </div>
                {% endif %}


            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}