{% extends 'member.base.html.twig' %}

{% block title %}{{ waitingSubscriptions.getTotalItemCount }} User{% if waitingSubscriptions.getTotalItemCount != 1 %}s{% endif %} in Waiting List For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ waitingSubscriptions.getTotalItemCount }} User{% if waitingSubscriptions.getTotalItemCount != 1 %}s{% endif %} in Waiting List
            {#For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package #}
            <br>
             {{ activeUsersCount }} Users in Receiving List
            {#For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package#}
            <br>
            <a href="/god-mode/recommitments/123">{{ recommitUsersCount }}</a>  Users waiting to Recommit List
            {#For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package<br>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-users"></i> Merge Users</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-sm-12">
                {#<p>#}
                    {#Merging Mode Set to: #}
                    {#{% if mergeType == 'manual' %}#}
                        {#<button type="button" class="btn btn-info btn-flat">Manual</button>#}
                    {#{% elseif mergeType == 'automatic' %}#}
                        {#<button type="button" class="btn btn-info btn-flat">Automatic</button>#}
                    {#{% endif %}#}
                    {#Change Merging Mode to: #}
                    {#{% if mergeType == 'manual' %}#}
                        {#<a href="{{ path('god_mode_change_merging_mode', {'mode' : 'automatic', 'pack' : pack.getId()}) }}" class="btn btn-warning btn-flat">Automatic</a>#}
                    {#{% elseif mergeType == 'automatic' %}#}
                        {#<a href="{{ path('god_mode_change_merging_mode', {'mode' : 'manual', 'pack' : pack.getId()}) }}" class="btn btn-warning btn-flat">Manual</a>#}
                    {#{% endif %}#}
                {#</p>#}
                {#{% if mergeType == 'manual' %}#}
                    {#<p><a href="{{ path('god_mode_auto_merge_users', {'pack' : pack.getId()}) }}" class="btn btn-success btn-flat pull-right">Automatically Merge Waiting List</a></p>#}
                {#{% endif %}#}
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <!-- Mini Side Bar -->
            <div class="col-sm-3">
                <div class="list-group">
                    <a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>
                    <a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>
                    <a href="{{ path('list_users') }}" class="list-group-item">List Users</a>
                    <a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>
                    <a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>
                    <a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>
                    <a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>
                    <a href="{{ path('create_news') }}" class="list-group-item">Create News</a>
                    <a href="{{ path('list_news') }}" class="list-group-item">List News</a>
                    <a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>
                    <a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>
                    <a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>
                    <a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>
                    <a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>
                    <a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>
                    <a href="{{ path('god_mode_merge_users', {'pack' : pack.getId()}) }}" class="list-group-item active">Merge Users</a>
                </div>
            </div> <!-- End Mini Side Bar -->

            <!-- Main Content -->
            <div class="col-sm-9">
                {% if mergeType == 'automatic' %}
                    <div class="alert alert-warning">
                        <p>Sorry, Merging Mode Set To Automatic. If you wish to manually handle things yourself, kindly switch mode back to Manual</p>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 text-center lead">
                            {{ waitingSubscriptions.getTotalItemCount }} User{% if waitingSubscriptions.getTotalItemCount != 1 %}s{% endif %} in Waiting List For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>

                    <div class="row">
                        <form action="?query=">
                        <div class="col-md-8">

                                <select class="form-control" name="query" id="query">

                                    {% for selectList in selectList %}
                                        <option value="{{ selectList.getUser().getId() }}">{{ selectList.getUser().getName() }}</option>
                                    {% endfor %}

                                </select>
                                {#<input type="text" class="form-control" name="query">#}
                        </div>
                        <div class="col-md-4">
                            <input type="submit" class="btn btn-success">
                        </div>
                        </form>

                    </div>



                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Username</th>
                                {#<th>Date Subscribed</th>#}
                                <th>Total Feeders</th>
                                <th>Select Receiver</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for waitingSubscription in waitingSubscriptions %}
                                <tr>
                                    <td>{{ waitingSubscription.getUser().getName() }}</td>
                                    <td>{{ waitingSubscription.getUser().getUsername() }}</td>
                                    {#<td>{{ waitingSubscription.getUser().getUsername() }}</td>#}
                                    <td>{{ waitingSubscription.getFeederTotal() }}</td>
                                    <td>
                                        <div class="dropdown nav-item">
                                            <input class="dropdown-toggle form-control live-search-box" id="quicksearch" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" placeholder="Search By Username">
                                            <div class="dropdown-menu live-search-list" aria-labelledby="dropdownMenuButton" style="max-height: 250px; overflow-y: scroll; width: 100%">
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('god_mode_merge_user', {'receiver' : adminone.getId(), 'feederSubscription' : waitingSubscription.getId(), 'pack' : pack.getId()}) }}">{{ adminone.getUsername() }}</a>
                                                    </li>

                                                {#<li>#}
                                                    {#<a class="dropdown-item" href="{{ path('god_mode_merge_user', {'receiver' : admintwo.getId(), 'feederSubscription' : waitingSubscription.getId(), 'pack' : pack.getId()}) }}">{{ admintwo.getUsername() }}</a>#}
                                                {#</li>#}

                                                {#<li>#}
                                                    {#<a class="dropdown-item" href="{{ path('god_mode_merge_user', {'receiver' : adminthree.getId(), 'feederSubscription' : waitingSubscription.getId(), 'pack' : pack.getId()}) }}">{{ adminthree.getUsername() }}</a>#}
                                                {#</li>#}

                                                {% for admin in admins %}
                                                    <li>
                                                        <a class="dropdown-item" href="{{ path('god_mode_merge_user', {'receiver' : admin.getId(), 'feederSubscription' : waitingSubscription.getId(), 'pack' : pack.getId()}) }}">{{ admin.getUsername() }}</a>
                                                    </li>
                                                {% endfor %}
                                                {% for user in activeUsers %}
                                                    {% if user.getRecommitRequired == true %}
                                                    <li style="background-color:red; color: white">
                                                        {% elseif user.getFeederCounter() == 1 %}
                                                            <li style="background-color:greenyellow; color: white">
                                                    {% else  %}
                                                <li>
                                                {% endif %}

                                                <a class="dropdown-item" href="{{ path('god_mode_merge_user', {'receiver' : user.getUser().getId(), 'feederSubscription' : waitingSubscription.getId(), 'pack' : pack.getId()}) }}">
                                                            {{ user.getUser().getUsername() }} ({{ user.getUser().getName() }}) ({{  user.getCreated|date("F jS \\a\\t g:ia") }})
                                                        </a>
                                                    </li>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    <div class="navigation text-center">
                        {{ knp_pagination_render(waitingSubscriptions) }}
                    </div>
                {% endif %}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function($) {
            $('.live-search-list li').each(function() {
                $(this).attr('data-search-term', $(this).text().toLowerCase());
            });

            $('.live-search-box').on('keyup', function() {
                var searchTerm = $(this).val().toLowerCase();

                $('.live-search-list li').each(function() {
                    if($(this).filter('[data-search-term *= ' + searchTerm + ']').length > 0 || searchTerm.length < 1) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            });
        });
    </script>
{% endblock %}