{% extends 'member.base.html.twig' %}

{% block title %}

    {{ recommitUsersCount }}  Users waiting to Recommit List

{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <br>
            <a href="/god-mode/recommitments/123">{{ recommitUsersCount }}</a>  Users waiting to Recommit List
            {#For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package<br>#}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('god_mode_dashboard') }}"><i class="fa fa-dashboard"></i> God Mode Dashboard</a></li>
            <li class="active"><i class="fa fa-users"></i> Merge Users</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-sm-12">
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row">
            <!-- Mini Side Bar -->
            {#<div class="col-sm-3">#}
                {#<div class="list-group">#}
                    {#<a href="{{ path('create_admin') }}" class="list-group-item">Create Admin</a>#}
                    {#<a href="{{ path('list_admin') }}" class="list-group-item">List Admin</a>#}
                    {#<a href="{{ path('list_users') }}" class="list-group-item">List Users</a>#}
                    {#<a href="{{ path('create_pack') }}" class="list-group-item">Create Pack</a>#}
                    {#<a href="{{ path('list_pack') }}" class="list-group-item">List Pack</a>#}
                    {#<a href="{{ path('list_pack_subs') }}" class="list-group-item">List Pack Subs</a>#}
                    {#<a href="{{ path('list_admin_payments') }}" class="list-group-item">List Payments</a>#}
                    {#<a href="{{ path('create_news') }}" class="list-group-item">Create News</a>#}
                    {#<a href="{{ path('list_news') }}" class="list-group-item">List News</a>#}
                    {#<a href="{{ path('set_notice_board') }}" class="list-group-item">Set Notice Board</a>#}
                    {#<a href="{{ path('unblock_user') }}" class="list-group-item">Unblock User</a>#}
                    {#<a href="{{ path('reset_password') }}" class="list-group-item">Reset Password</a>#}
                    {#<a href="{{ path('god_mode_compose_mail') }}" class="list-group-item">Compose Mail</a>#}
                    {#<a href="{{ path('god_mode_mails') }}" class="list-group-item">List Mail</a>#}
                    {#<a href="{{ path('list_approve_reviews') }}" class="list-group-item">Approve Testimonies</a>#}
                    {#<a href="{{ path('god_mode_merge_users', {'pack' : pack.getId()}) }}" class="list-group-item active">Merge Users</a>#}
                {#</div>#}
            {#</div> <!-- End Mini Side Bar -->#}

            <div class="dropdown" style="display:inline-block">
                <button class="btn btn-warning dropdown-toggle" type="button" id="sortMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Sort By <span class="caret"></span></button>
                <ul class="dropdown-menu" aria-labelledby="sortMenu">
                    <li>
                        <a href="/god-mode/recommitments/123">Recommitments Only </a>
                    </li>

                    <li>
                        <a href="/god-mode/recommitments/123?receivers=all">All Receivers </a>
                    </li>

                </ul>
            </div>


            <!-- Main Content -->
            <div class="col-sm-12">
                {% if mergeType == 'automatic' %}
                    <div class="alert alert-warning">
                        <p>Sorry, Merging Mode Set To Automatic. If you wish to manually handle things yourself, kindly switch mode back to Manual</p>
                    </div>
                {% else %}
                    <div class="row">
                        <div class="col-sm-2">
                        </div>
                        <div class="col-sm-8 text-center lead">
                            <a href="/god-mode/recommitments/123">{{ recommitUsersCount }}</a>  Users waiting to Recommit List


                            {#{{ waitingSubscriptions.getTotalItemCount }} User{% if waitingSubscriptions.getTotalItemCount != 1 %}s{% endif %} in Waiting List For {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package#}
                        </div>
                        <div class="col-sm-2">
                        </div>
                    </div>
                    {#</div>#}



                    <table class="table table-hover table-responsive table-striped">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Feeder(s)</th>
                            <th>Recommit</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for waitingSubscription in activeRecommitUsers %}
                            <tr>
                                <td>
                                    {{ waitingSubscription.getUser().getName() }}<br>

                                    <button class="btn btn-primary history-btn" type="button" data-toggle="collapse" data-id="{{ waitingSubscription.getUser().getId() }}"
                                            data-target="#{{ waitingSubscription.getId() }}" aria-expanded="false" aria-controls="collapseExample">
                                        View  {{ waitingSubscription.getUser().getName() }}'s history
                                    </button>

                                    <div class="collapse" id="{{ waitingSubscription.getId() }}">
                                        <div class="well lists-{{ waitingSubscription.getUser().getId() }}">

                                        </div>
                                    </div>

                                </td>
                                <td>{{ waitingSubscription.getUser().getUsername() }}</td>
                                <td>{{ waitingSubscription.getFeederTotal() }}</td>
                                <td>
                                    {% if waitingSubscription.getRecommitRequired() == true %}
                                        <input type="checkbox" class="recommit" checked data-id="{{ waitingSubscription.getId() }}">

                                    {% else %}

                                        <input type="checkbox" class="recommit" data-id="{{ waitingSubscription.getId() }}">

                                    {% endif %}

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                    {#<div class="navigation text-center">#}
                        {#{{ knp_pagination_render(waitingSubscriptions) }}#}
                    {#</div>#}
                {% endif %}
            </div> <!-- End Main Content -->
        </div>

    </section> <!-- End Main content -->
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready(function($) {
            $('.recommit').on('click',function () {

                var status = $(this).is(':checked') ? 1: 0;

                var id = $(this).data('id');

                var base_url = window.location.origin;

                $.get(base_url+'/god-mode/change-recommitment/'+id+'/'+status,function () {
//                    alert(id);
                }).fail(function(){
                    alert('failed');
                }).done(function(){
                    // Display a success toast, with a title
                    toastr.success('Action successful!', 'PaidLife Says!')
                })
            })

            $('.history-btn').on('click',function(){
                var id = $(this).data('id');

                var base_url = window.location.origin;

                $.get(base_url+'/god-mode/subscription-history/'+id, function (data) {
//                $.get('http://localhost/mainscript/public_html/god-mode/subscription-history/'+id, function (data) {

                }).done(function (data) {

                    var content = '';

                    $.each(data, function (index, value) {
                        content+=''+ data[index] +''
                    });

                    content+='';
                    console.log(data.data);
                    console.log(content);

                    $('.lists-'+id).html(content);

                }).fail(function(){
                    alert('failed');
                })
            })
        });
    </script>
{% endblock %}