{% extends 'member.base.html.twig' %}

{% block title %}God Mode Dashboard{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('successNotice') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('errorNotice') %}
        <div class="callout callout-danger">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
           {{ app_name }} Settings Page
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-cog"></i>  {{ app_name }} Settings Page</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <!-- Left Side -->
            <div class="col-md-4">
                <!-- Links -->
                <div class="list-group">
{#                    <a href="{{ path('god_mode_settings') }}" class="list-group-item list-group-item-success">Settings</a>#}
                    <a href="{{ path('adminprofile') }}" class="list-group-item list-group-item">Profile</a>
                    {#<a href="{{ path('adminbank_details') }}" class="list-group-item">Bank Details</a>#}
                    <a href="{{ path('adminchange_password') }}" class="list-group-item">Change Password</a>
                </div> <!-- End Links -->


            </div>

            <!-- Right Side -->
            <div class="col-md-8">

                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Personal Details</h3>
                    </div>

                    <div class="box-body">

                        {{ form_start(admForm, {'action': path('god_mode_settings'), 'attr': {'class': 'form-horizontal'}}) }}

                        {% for flash_message in app.session.flashBag.get('successNotice') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        {% for flash_message in app.session.flashBag.get('errorNotice') %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        <span class="text-danger">{{ form_errors(admForm.envatoPurchasecode) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName"  class="col-sm-3 control-label">{{ form_label(admForm.envatoPurchasecode) }} </label>
                            <div class="col-sm-9">
                                {% if adm.envatoPurchasecode == 'manualpeerupxyzinstall' %}  {{ form_widget(admForm.envatoPurchasecode, { disabled:'disabled'}) }} {% else %} {{ form_widget(admForm.envatoPurchasecode) }} {% endif %}


                                <small class="pull-right">Enter value here to change {{ form_label(admForm.envatoPurchasecode) }} </small>
                            </div>

                        </div>

                        <span class="text-danger">{{ form_errors(admForm.siteurl) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.siteurl) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.siteurl) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.siteurl) }} </small>
                            </div>

                        </div>

                        <span class="text-danger">{{ form_errors(admForm.sitename) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.sitename) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.sitename) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.sitename) }} </small>
                            </div>

                        </div>


                        <span class="text-danger">{{ form_errors(admForm.sitemail) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.sitemail) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.sitemail) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.sitemail) }} </small>
                            </div>

                        </div>



                        <div class="form-group">
                            <label for="inputSiteLogo" class="col-sm-2 control-label">
                                {#{{ form_label(admForm.sitelogo) }}#}
                            </label>

                            <div class="col-sm-10">
                                <p class="form-control-static"><img class="img-responsive" src="{{ adm.sitelogo }}" style="margin: 0; border: none;"></p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">
                                {#{{ form_label(admForm.sitelogo) }} #}
                            </label>
                            <div class="col-sm-9">
                                {#{{ form_widget(admForm.sitelogo) }}#}
                            </div>
                        </div>
                        <span class="text-danger">
                            {#{{ form_errors(admForm.sitelogoImage) }}#}
                        </span>
                        <div class="form-group">
                            {#{{ form_label(admForm.sitelogoImage, 'Change SiteLogo', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}#}

                            <div class="col-sm-10">
                                {#{{ form_widget(admForm.sitelogoImage) }}#}
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="inputSiteLogo" class="col-sm-2 control-label">
                                {#{{ form_label(admForm.sitelogolight) }}#}
                            </label>

                            <div class="col-sm-10">
                                <p class="form-control-static">
                                    <img class="img-responsive"
                                                        {#src="{{ adm.sitelogolight }}" #}
                                         style="margin: 0; background-color: lightgrey; border: none;"></p>
                            </div>
                        </div>

                        {#<div class="form-group">#}
                            {#<label for="inputSiteName" class="col-sm-3 control-label">#}
                                {#{{ form_label(admForm.sitelogolight) }} #}
                            {#</label>#}
                            {#<div class="col-sm-9">#}
                                {#{{ form_widget(admForm.sitelogolight) }}#}
                            {#</div>#}
                        {#</div>#}

                        <span class="text-danger">
                            {#{{ form_errors(admForm.sitelogolightImage) }}#}
                        </span>
                        <div class="form-group">
                            {#{{ form_label(admForm.sitelogolightImage, 'Change Site Light Logo', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}#}

                            <div class="col-sm-10">
                                {#{{ form_widget(admForm.sitelogolightImage) }}#}
                            </div>
                        </div>

                        {#<div class="form-group">#}
                            {#<label for="inputSiteLogo" class="col-sm-2 control-label">{{ form_label(admForm.sitesmallicon) }}</label>#}

                            {#<div class="col-sm-10">#}
                                {#<p class="form-control-static"><img class="img-responsive" src="{{ adm.sitesmallicon }}" style="margin: 0; border: none;"></p>#}
                            {#</div>#}
                        {#</div>#}
                        {#<div class="form-group">#}
                            {#<label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.sitesmallicon) }} </label>#}
                            {#<div class="col-sm-9">#}
                                {#{{ form_widget(admForm.sitesmallicon) }}#}
                            {#</div>#}
                        {#</div>#}

                        {#<span class="text-danger">{{ form_errors(admForm.sitesmalliconimage) }}</span>#}
                        {#<div class="form-group">#}
                            {#{{ form_label(admForm.sitesmalliconimage, 'Change Site Light Logo', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}#}

                            {#<div class="col-sm-10">#}
                                {#{{ form_widget(admForm.sitesmalliconimage) }}#}
                            {#</div>#}
                        {#</div>#}

                        <span class="text-danger">{{ form_errors(admForm.matchMode) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.matchMode) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.matchMode) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.matchMode) }} </small>
                            </div>

                        </div>

                        <span class="text-danger">{{ form_errors(admForm.appcurrency) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.appcurrency) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.appcurrency) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.appcurrency) }} </small>
                            </div>

                        </div>

                        <span class="text-danger">{{ form_errors(admForm.appcurrencysymbol) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.appcurrencysymbol) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.appcurrencysymbol) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.appcurrencysymbol) }} </small>
                            </div>

                        </div>


                        <span class="text-danger">{{ form_errors(admForm.appcurrencyexchangerate) }}</span>
                        <div class="form-group">
                            <label for="inputSiteName" class="col-sm-3 control-label">{{ form_label(admForm.appcurrencyexchangerate) }} </label>
                            <div class="col-sm-9">
                                {{ form_widget(admForm.appcurrencyexchangerate) }}

                                <small class="pull-right">Enter value here to change {{ form_label(admForm.appcurrencyexchangerate) }} </small>
                            </div>

                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Save {{ app_name }} Settings</button>
                            </div>
                        </div>

                        {{ form_end(admForm) }}
                    </div>

                </div>

            </div>

        </div>

    </section>


{% endblock %}