{% extends 'member.base.html.twig' %}

{% block title %}Add Ticket Message{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Message to ticket #{{ support.getId() }}
        </h1>
        {#<h2></h2>#}
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('support') }}"><i class="fa fa-ticket"></i> Tickets</a></li>
            <li><a href="{{ path('view_support', {'support' : support.getId()}) }}"><i class="fa fa-sticky-note"></i> Ticket #{{ support.getId() }}</a></li>
            <li class="active"><i class="fa fa-plus"></i> Add Message</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ supportCount }}</h3>
                        <p>Tickets</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a class="small-box-footer">Tickets Count <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('create_support') }}" class="list-group-item">Create New Ticket</a>
                    <a href="{{ path('support') }}" class="list-group-item">View Tickets</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Add Message to ticket #{{ support.getId() }}</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(supportMessageForm, {'action': path('add_support_message', {'support' : support.getId()}), 'attr': {'class': 'form-horizontal'}}) }}
                            {% for flash_message in app.session.flashBag.get('ticketMessageSuccess') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('ticketMessageError') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <span class="text-danger">{{ form_errors(supportMessageForm.message) }}</span>
                            <div class="form-group">
                                {{ form_label(supportMessageForm.message, "Ticket Message", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(supportMessageForm.message) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(supportMessageForm.attachmentFile) }}</span>
                            <div class="form-group">
                                {{ form_label(supportMessageForm.attachmentFile, "Attachment (Optional)", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(supportMessageForm.attachmentFile) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-success btn-block btn-flat">Add Message</button>
                                </div>
                            </div>
                        {{ form_end(supportMessageForm) }}
                    </div>
                </div>
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

    l;sllslslsl

{% endblock %}