{% extends 'member.base.html.twig' %}

{% block title %}Awaiting Merging{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('autoRecycleSuccess') %}
    	<div class="callout callout-info">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}

	{% for flash_message in app.session.flashBag.get('subscribeSuccess') %}
    	<div class="callout callout-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>Awaiting Merging - {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }})</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li><a href="{{ path('packs') }}"><i class="fa fa-pie-chart"></i> Packs</a></li>
        	<li class="active">Awaiting Merging</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      	<div class="row">
      		<div class="col-sm-12">
      			<div class="alert alert-info">
      				<p>We have taken your request for processing. Kindly be patient as the system finds the next available member for you to make payment to.</p>
      			</div>
      		</div>
      	</div>
    </section> <!-- End Main Content -->
{% endblock %}