{% extends 'member.base.html.twig' %}

{% block title %}Book Auto Recirculation{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('subscribeError') %}
    	<div class="alert alert-danger">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}

	{% for flash_message in app.session.flashBag.get('subscribeSuccess') %}
    	<div class="alert alert-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>Select a Package</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active">Packages</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      	<div class="row">

      		{% for pack in packs %}
                <div class="col-sm-4 col-md-3">
                    <div class="plan-cell">
                        <ul class="list-group green">
                            <li class="list-group-item plan-name">{{ pack.getName() }}</li>
                            <li class="list-group-item plan-price catamaran">{{ app_currency_symbol }}{{ pack.getFormattedAmount() }}</li>
                            <li class="list-group-item catamaran"><i class="ion-ios-loop"></i> Auto Matching</li>
                            <li class="list-group-item catamaran"><i class="ion-arrow-up-c"></i> {{ app_currency_symbol }}{{ pack.getROI() }} Return on Investment</li>
                            {% if pack.getStatus() == 'granted' %}
                                <li class="list-group-item catamaran" style="padding:0"><a href="{{ path('do_auto_recirculation', {'pack' : pack.getId(), 'packSubscription' : packSubscription}) }}" class="btn btn-success btn-block">Book AutoRecycle</a></li>
                            {% elseif pack.getStatus() == 'denied' %}
                                <li class="list-group-item catamaran" style="padding:0"><a href="#" class="btn btn-warning btn-block disabled">Already in Pack</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
      		{% endfor %}
      	</div>
    </section> <!-- End Main content -->
{% endblock %}