{% extends 'member.base.html.twig' %}

{% block title %}Mark Payment{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('autoRecycleSuccess') %}
    	<div class="alert alert-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>Mark Payment - {{ feeder.getPack().getName() }} ({{ app_currency_symbol }}{{ feeder.getPack().getFormattedAmount() }})</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li><a href="{{ path('packs') }}"><i class="fa fa-pie-chart"></i> Packs</a></li>
        	<li class="active">Mark Payment</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      	<div class="row">
      		<!-- Giver's Column -->
      		<div class="col-sm-8 col-sm-offset-2">
      			{% if feeder.getStatus() == 'not_paid' %}
      				<div class="alert alert-warning countdownHolder">
      					<p class="text-center lead" style="margin-bottom: 5px">Time left for feeder complete payment</p>
						<div id="clockGiver" class='countdownTimer'>
							<div class='countdownTimerCell'>
								<span class='timeHolder hourCountDownGiver'></span>
								<br>
								<span class='timeDescription'>Hrs</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder minuteCountDownGiver'></span>
								<br>
								<span class='timeDescription'>Mins</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder secondCountDownGiver'></span>
								<br>
								<span class='timeDescription'>Secs</span>
							</div>
						</div>
						<script type="text/javascript">
				            var deadlineGiver = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
				            initializeClock('clockGiver', 'hourCountDownGiver', 'minuteCountDownGiver', 'secondCountDownGiver', deadlineGiver);
						</script>
      				</div>
      			{% elseif feeder.getStatus() == 'payment_made' or (feeder.getScamPaid() == 'scam_paid' and feeder.getStatus() == 'scam') %}
      				<div class="alert alert-info countdownHolder">
      					<p class="text-center lead" style="margin-bottom: 5px">Time left for you to confirm payment</p>
      					<p class="text-center small"><span class="text-warning">(If the payment is a scam, please click the '<strong>Scam</strong>' button below)</span></p>
						<div id='clockReceiver' class='countdownTimer'>
							<div class='countdownTimerCell'>
								<span class='timeHolder hourCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Hrs</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder minuteCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Mins</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder secondCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Secs</span>
							</div>
						</div>
						<script type="text/javascript">
				            var deadline = "{{ feeder.getReceiverTimeEnd()|date('Y-m-d H:i:s') }}";
				            initializeClock('clockReceiver', 'hourCountDownReceiver', 'minuteCountDownReceiver', 'secondCountDownReceiver', deadline);
						</script>
      				</div>
      			{% elseif feeder.getStatus() == 'scam' %}
      				<div class="alert alert-danger countdownHolder">
      					<p class="text-center lead" style="margin-bottom: 5px">You have marked this payment as scam</p>
      					<p class="text-center lead" style="margin-bottom: 5px">Time left for feeder to complete payment</p>
						<div id='clockReceiver' class='countdownTimer'>
							<div class='countdownTimerCell'>
								<span class='timeHolder hourCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Hrs</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder minuteCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Mins</span>
							</div>
							<div class='countdownTimerCell'>
								<span class='timeHolder secondCountDownReceiver'></span>
								<br>
								<span class='timeDescription'>Secs</span>
							</div>
						</div>
						<script type="text/javascript">
				            var deadline = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
				            initializeClock('clockReceiver', 'hourCountDownReceiver', 'minuteCountDownReceiver', 'secondCountDownReceiver', deadline);
						</script>
      				</div>
      			{% elseif feeder.getStatus() == 'jury' %}
      				<div class="alert alert-warning">
      					<p class="text-center lead" style="margin-bottom: 5px">This case is in the Jury's Stand. Go and submit your statement and evidence</p>
      				</div>
      			{% elseif feeder.getStatus() == 'fully_paid' %}
      				<div class="alert alert-success">
      					<p class="text-center lead" style="margin-bottom: 5px">You have confirmed this payment</p>
      				</div>
      			{% endif %}

      			{% if feeder.getStatus() != 'not_paid' %}

	      			<div class="box box-solid">
	  					<div class="box-header with-border">
	  						<h3 class="box-title">Payment Details</h3>
	  					</div>

	  					<div class="box-body">
		      				<form class="form-horizontal">

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Payment Method</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentMethod() }}</p>
		                			</div>
		          				</div>

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Bank</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentBankName() }}</p>
		                			</div>
		          				</div>

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Account Number</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentAccountNumber() }}</p>
		                			</div>
		          				</div>

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Account Name</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentAccountName() }}</p>
		                			</div>
		          				</div>

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Depositor's Name</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentDepositorName() }}</p>
		                			</div>
		          				</div>

		      					<div class="form-group">
		                			<label class="col-sm-4 control-label">Payment Location</label>

		                			<div class="col-sm-8">
		                  				<p class="form-control-static">{{ feeder.getPaymentLocation() }}</p>
		                			</div>
		          				</div>

	          					<div class="form-group">
	                    			<label class="col-sm-4 control-label">Payment Proof</label>

	                    			<div class="col-sm-8">
	                      				<p class="form-control-static"><img class="img-responsive" src="{{ asset(feeder.getPaymentUploadedFile()) }}" style="margin: 0; border: none;"></p>
	                      				<p class="form-control-static"><button type="button" class="btn btn-xs btn-warning viewPicModal" data-toggle="modal" data-target="#viewPicModal">View Image</button></p>
	                    			</div>
	              				</div>
		      				</form>
	  					</div>
	  				</div>

      			{% endif %}

  				<!-- Action Buttons -->
  				<div class="row">
  					{% if feeder.getStatus() == 'payment_made' or feeder.getStatus() == 'scam' %}
	  					<!-- Confirm Payment Button -->
	  					<div class="col-sm-4">
	  						<button type="button" class="btn btn-success btn-block btn-flat" data-toggle="modal" data-target="#viewConfirmModal">Confirm Payment</button>
	  					</div> <!-- End Confirm Payment Button -->
	  				{% endif %}
  					{% if feeder.getFeederTimeExtended() == null and feeder.getStatus() == 'not_paid' %}
	  					<!-- Extend Time Payment Button -->
	  					<div class="col-sm-4">
	  						<a href="{{ path('extend_payment', {'feeder' : feeder.getId()}) }}" class="btn btn-warning btn-block">Extend Payment Time<br>(12 Hours)</a>
	  					</div>
  					{% endif %}
  					{% if feeder.getStatus() == 'scam' or feeder.getStatus() == 'payment_made' %}
	  					<!-- Dubious Payment Button -->
	  					<div class="col-sm-4">
	  						<button type="button" class="btn btn-danger btn-block btn-flat" data-toggle="modal" data-target="#viewCancelModal">Mark as Scam</button>
	  					</div> <!-- End Dubious Payment Button -->
	  				{% endif %}
	  				{% if feeder.getStatus() == 'jury' %}
	  					<!-- Court Button -->
	  					<div class="col-sm-4">
	  						<a href="{{ path('jury', {'case' : feeder.getJury()}) }}" class="btn btn-warning btn-block">Go to Jury's Stand</a>
	  					</div> <!-- End Court Button -->
	  				{% endif %}
  				</div> <!-- End Action Buttons -->
      		</div>
      	</div>
    </section> <!-- End Main Content -->

{% endblock %}

{% block modalPicHeader %}Payment Proof for {{ feeder.getPack().getName() }} ({{ app_currency_symbol }}{{ feeder.getPack().getFormattedAmount() }}){% endblock %}
{% block modalPicBody %}<img class="img-responsive" src="{{ asset(feeder.getPaymentUploadedFile()) }}">{% endblock %}

{% block modalConfirmHeader %}Confirm Payment{% endblock %}
{% block modalConfirmBody %}You are about to confirm this payment. Be sure to verify your bank account to ensure the feeder properly made payment as this action is irreversible.{% endblock %}
{% block modalConfirmLink %}
    <a href="{{ path('confirm_payment', {'feeder' : feeder.getId()}) }}" class="btn btn-outline pull-right">Proceed</a>
{% endblock %}

{% block modalCancelHeader %}Mark as Scam{% endblock %}
{% block modalCancelBody %}You are about to mark this payment as scam{% endblock %}
{% block modalCancelLink %}
    <a href="{{ path('scam_payment', {'feeder' : feeder.getId()}) }}" class="btn btn-outline pull-right">Proceed</a>
{% endblock %}