{% extends 'member.base.html.twig' %}

{% block title %}Create Testimony{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Create Testimony
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('reviews') }}"><i class="fa fa-coments-o"></i> My Testimonies</a></li>
            <li class="active"><i class="fa fa-plus"></i> Create Testimony</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">

                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ reviewCount }}</h3>
                        <p>Testimonies</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a class="small-box-footer">My Testimonies <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('create_review') }}" class="list-group-item list-group-item-success">Create New Review</a>
                    <a href="{{ path('reviews') }}" class="list-group-item">View Reviews</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Create Testimony</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(reviewForm, {'action': path('create_review'), 'attr': {'class': 'form-horizontal'}}) }}

                            {% for flash_message in app.session.flashBag.get('testimonyError') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <span class="text-danger">{{ form_errors(reviewForm.testimony) }}</span>
                            <div class="form-group">
                                {{ form_label(reviewForm.testimony, "Testimony", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(reviewForm.testimony) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Create Testimony</button>
                                </div>
                            </div>
                        {{ form_end(reviewForm) }}
                    </div>
                </div>
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}