{% extends 'member.base.html.twig' %}

{% block title %}Add Complaint {% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Add Complaint
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('support') }}"><i class="fa fa-ticket"></i> Complaints</a></li>
            <li class="active"><i class="fa fa-plus"></i> Add Complaint</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ supportCount }}</h3>
                        <p>Complaints</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a class="small-box-footer">Complaints Count <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('create_support') }}" class="list-group-item list-group-item-success">Add New Complaint</a>
                    <a href="{{ path('support') }}" class="list-group-item">View Complaints</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
                <div class="box box-success">
                    <div class="box-body">
                        {{ form_start(supportForm, {'action': path('create_support'), 'attr': {'class': 'form-horizontal'}}) }}
                            {% for flash_message in app.session.flashBag.get('ticketSuccess') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('ticketError') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <span class="text-danger">{{ form_errors(supportForm.subject) }}</span>
                            <div class="form-group">
                                {{ form_label(supportForm.subject, "Complaint Subject", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(supportForm.subject) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Add New Complaint</button>
                                </div>
                            </div>
                        {{ form_end(supportForm) }}
                    </div>
                </div>
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}