{% extends 'member.base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('dashboardSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('dashboardError') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Dashboard
            <small>Control panel</small>
        </h1>
        <ol class="breadcrumb">
            <li class="active"><i class="fa fa-dashboard"></i> Dashboard</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        {% if noticeBoard != NULL %}
            <!-- Alert Bar -->
            <div class="alert alert-info">
                <h3 class="text-danger" style="margin-top:0">{{ app_name }} Notice Board</h3>
                <h4>{{ noticeBoard.getTitle() }}</h4>
                <p>{{ noticeBoard.getMessage()|raw }}</p>
            </div> <!-- End Alert Bar -->
        {% endif %}

        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>{{ app.user.getReferralsCount() }}</h3>
                        <p>Referral{% if app.user.getReferralsCount() != 1 %}s{% endif %}</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-people"></i>
                    </div>
                    <a href="{{ path('referrals') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ app_currency_symbol }}{{ app.user.getFormattedPurse() }}</h3>
                        <p>Wallet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                    <a href="{{ path('purse') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>{{ app.user.getPacks() }}</h3>
                        <p>Active Packs</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-ios-pie"></i>
                    </div>
                    <a href="{{ path('packs') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->
            </div>
         
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
               
                <div class="small-box bg-red">
                    {# <div class="inner">
                        <h3>{{ feedersCount }}</h3>
                        <p>Active Feeders</p>
                    </div> #}
                    {# <div class="icon">
                        <i class="ion ion-arrow-graph-down-right"></i>
                    </div> #}
                    {# <a href="{{ path('feeders') }}" class="small-box-footer">More info <i class="fa fa-arrow-circle-right"></i></a> #}
                </div>

            </div>
        </div> <!-- End Small boxes (Stat box) -->

        <hr>
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">My Packages</h2>
            </div>

            <div class="col-sm-12">
                {% if subscriptions|length == 0 %}
                    <!-- Plans Panel -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="box box-solid">
                                <div class="box-header with-border text-center">
                                    <i class="fa fa-pie-chart"></i>

                                    <h3 class="box-title">No Active Subscriptions</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="alert alert-warning text-center">
                                        <h4><i class="icon fa fa-warning"></i> You have not subscribed for any package</h4>
                                        It seems you have not subscribed to any package yet! Click the button below to get started<br><br>
                                        <a href="{{ path('packs') }}" class="btn btn-info btn-lg" style="text-decoration: none">Subscribe to a Package</a>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div>
                    </div> <!-- End Plans Panel -->
                {% else %}
                    <div class="row">
                        {% for subscription in subscriptions %}

                            {% for packSubscription in subscription %}
                                {# Pack Subscription Header #}
                                <div class="col-sm-12">
                                    <div class="plan-header">
                                        <h1>{{ packSubscription.subscription.getPack().getName() }} Package ({{ app_currency_symbol }}{{ packSubscription.subscription.getPack().getFormattedAmount() }}) {% if packSubscription.subscription.getType() == 'purse' %}[Purse]{% endif %}</h1>
                                    </div>
                                </div>
                                {# End Pack Subscription Header #}

                                {# Check if subscription is normal type #}
                                {% if app.user.getRole() == 'ROLE_USER' and packSubscription.subscription.getType() != 'purse' %}
                                    {# check autorecirculate #}
                                    <div class="col-sm-12">
                                        <div class="box box-solid">
                                            <!-- /.box-header -->
                                            <div class="box-body text-center">
                                                {#{% if packSubscription.subscription.getAutoRecirculate() != null %}#}
                                                    {# User has selected a pack to autorecirculate on #}
                                                    {#<p>Upon completion of this package, you will be auto recycled on the <strong>{{ packSubscription.subscription.getAutoRecirculate().getName() }} ({{ app_currency_symbol }}{{ packSubscription.subscription.getAutoRecirculate().getFormattedAmount() }})</strong> Package.</p>#}
                                                    {#<p>Click the button below to cancel auto recycle for the <strong>{{ packSubscription.subscription.getAutoRecirculate().getName() }} ({{ app_currency_symbol }}{{ packSubscription.subscription.getAutoRecirculate().getFormattedAmount() }})</strong> Package and stay your current <strong>{{ packSubscription.subscription.getPack().getName() }} ({{ app_currency_symbol }}{{ packSubscription.subscription.getPack().getFormattedAmount() }})</strong></p>#}
                                                    {#<a href="{{ path('cancel_autorecirculation', {'packSubscription' : packSubscription.subscription.getId()}) }}" class="btn btn-primary btn-lg">Cancel Auto Recycle</a><hr>#}
                                                {#{% else %}#}
                                                    {# User has not selected another pack to autorecirculate on #}
                                                    {#<p>You have not selected a package to autorecycle on. When you complete this package, the system will not autorecycle you.</p>#}
                                                    {#<a href="{{ path('book_autorecirculation', {'packSubscription' : packSubscription.subscription.getId()}) }}" class="btn btn-lg btn-primary">Book Autorecycle</a><hr>#}
                                                {#{% endif %}#}
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    </div>
                                    {# end autorecirculation check #}
                                {% endif %}
                                {# end subscription check #}

                                {# Check if subscription has been activated #}
                                {% if packSubscription.subscription.getStatus() == 'waiting' %}
                                    <div class="row">
                                        <div class="col-sm-8 col-sm-offset-2">
                                            <div class="alert alert-info">
                                                <p>You will need to fund your wallet to complete Package Activation.</p>
                                            </div>
                                        </div>
                                    </div>
                                {% elseif packSubscription.subscription.getStatus() == 'inactive' %}
                                    {# User is to make payment. Get Receiver Details #}
                                    <!-- Member Payment Panel -->
                                    {% if packSubscription.feederEntry != null %}
                                        <div class="row">
                                            <div class="col-sm-8 col-sm-offset-2">
                                                {# Check feeder entry conditions #}
                                                {% if packSubscription.feederEntry.getStatus() == 'not_paid' %}
                                                    <div class="alert alert-danger text-center">
                                                        <p>You are to make payment to the receiver below</p>
                                                        <p>Time left to complete payment</p>
                                                        <p id="countdownGiverClock{{ packSubscription.feederEntry.getId() }}">
                                                            <strong>Hrs: </strong>
                                                            <span class="hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Mins: </strong>
                                                            <span class="minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Secs: </strong>
                                                            <span class="secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiverU{{ packSubscription.feederEntry.getId() }} = "{{ packSubscription.feederEntry.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownGiverClock{{ packSubscription.feederEntry.getId() }}', 'hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}', deadlineGiverU{{ packSubscription.feederEntry.getId() }});
                                                        </script>
                                                    </div>
                                                {% elseif packSubscription.feederEntry.getStatus() == 'payment_made' or (packSubscription.feederEntry.getScamPaid() == 'scam_paid' and packSubscription.feederEntry.getStatus() == 'scam') %}
                                                    <div class="alert alert-info text-center">
                                                        <p>You have made payment to the person below</p>
                                                        <p>Time left for receiver to confirm payment</p>
                                                        <p id="countdownGiverClock{{ packSubscription.feederEntry.getId() }}">
                                                            <strong>Hrs: </strong>
                                                            <span class="hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Mins: </strong>
                                                            <span class="minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Secs: </strong>
                                                            <span class="secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiverU{{ packSubscription.feederEntry.getId() }} = "{{ packSubscription.feederEntry.getReceiverTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownGiverClock{{ packSubscription.feederEntry.getId() }}', 'hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}', deadlineGiverU{{ packSubscription.feederEntry.getId() }});
                                                        </script>
                                                    </div>
                                                {% elseif packSubscription.feederEntry.getStatus() == 'jury' %}
                                                    <div class="alert alert-warning text-center">
                                                        <p>There seems to be a dispute on this payment. Hence, it has been moved to the Jury's</p>
                                                    </div>
                                                {% elseif packSubscription.feederEntry.getStatus() == 'scam' %}
                                                    <div class="alert alert-danger text-center">
                                                        <p>The receiver below has marked your payment as a scam</p>
                                                        <p>Time left for you to properly complete payment before being blocked</p>
                                                        <p class="text-center" id="countdownGiverClock{{ packSubscription.feederEntry.getId() }}">
                                                            <strong>Hrs: </strong>
                                                            <span class="hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Mins: </strong>
                                                            <span class="minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                            <strong>| Secs: </strong>
                                                            <span class="secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiverU{{ packSubscription.feederEntry.getId() }} = "{{ packSubscription.feederEntry.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownGiverClock{{ packSubscription.feederEntry.getId() }}', 'hourGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'minuteGiverCountDownU{{ packSubscription.feederEntry.getId() }}', 'secondGiverCountDownU{{ packSubscription.feederEntry.getId() }}', deadlineGiverU{{ packSubscription.feederEntry.getId() }});
                                                        </script>
                                                    </div>
                                                {% endif %}
                                                {% if packSubscription.receiver != null %}
                                                    <div class="box box-success">
                                                        <div class="box-body box-profile">
                                                            <img class="profile-user-img img-responsive img-circle" src="{{ asset(packSubscription.receiver.getReceiver().getAvatar()) }}" alt="User profile picture">

                                                            <h3 class="profile-username text-center">{{ packSubscription.receiver.getReceiver().getName() }}</h3>

                                                            <p class="text-muted text-center">{{ packSubscription.receiver.getReceiver().getUsername() }}</p>

                                                            <ul class="list-group list-group-unbordered">
                                                                <li class="list-group-item">
                                                                    <i class="fa fa-phone"></i> <a class="pull-right">{{ packSubscription.receiver.getReceiver().getPhoneOne() }}</a>
                                                                </li>
                                                                {% if packSubscription.receiver.getReceiver().getPhoneTwo() != null %}
                                                                    <li class="list-group-item">
                                                                        <i class="fa fa-phone"></i> <a class="pull-right">{{ packSubscription.receiver.getReceiver().getPhoneTwo() }}</a>
                                                                    </li>
                                                                {% endif %}
                                                                <li class="list-group-item">
                                                                    <i class="fa fa-envelope-o"></i> <a class="pull-right">{{ packSubscription.receiver.getReceiver().getEmail() }}</a>
                                                                </li>
                                                                {% if packSubscription.receiver.getReceiver().getBankName() != null %}
                                                                    <li class="list-group-item">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <i class="fa fa-bank"></i> <strong>Bank</strong>
                                                                                <br>
                                                                                <span>{{ packSubscription.receiver.getReceiver().getBankName() }}</span>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <i class="fa fa-archive"></i> <strong>Account Number</strong>
                                                                                <br>
                                                                                <span>{{ packSubscription.receiver.getReceiver().getBankAccountNumber() }}</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li class="list-group-item">
                                                                        <div class="row">
                                                                            <div class="col-sm-6">
                                                                                <i class="fa fa-th"></i> <strong>Account Name</strong>
                                                                                <br>
                                                                                <span>{{ packSubscription.receiver.getReceiver().getBankAccountName() }}</span>
                                                                            </div>
                                                                            <div class="col-sm-6">
                                                                                <i class="fa fa-th"></i> <strong>Account Type</strong>
                                                                                <br>
                                                                                <span>{{ packSubscription.receiver.getReceiver().getBankAccountType() }}</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                {% endif %}
                                                            </ul>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                                {% if packSubscription.feederEntry.getStatus() == 'jury'%}
                                                    <a href="{{ path('user_case', {'case' : packSubscription.feederEntry.getJury()}) }}" class="btn btn-block btn-warning btn-lg">Go to the Jury's Stand</a>
                                                {% else %}
                                                    <a href="{{ path('make_payment', {'feeder' : packSubscription.feederEntry.getId()}) }}" class="btn btn-block btn-warning btn-lg">Payment Page</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {%  endif %}
                                {% elseif packSubscription.subscription.getStatus() == 'active' %}
                                    {% if futureSubscriptions|length > 1 and app.user.getRole() == 'ROLE_USER' %}
                                        <div class="col-sm-12">
                                            {#<div class="alert alert-success text-center">#}
                                                {#<p>It seems like you have more than one subscription running. If you wish to cancel one of your subscriptions, click the button below</p>#}
                                                {#<p><a href="{{ path('cancel_pack_subscription', {'packSubscription' : packSubscription.subscription.getId()}) }}" class="btn btn-warning">Book Cancel For {{ packSubscription.subscription.getPack().getName() }} Package</a></p>#}
                                                {#<p>NOTE: By clicking the button above, your subscription will not be cancelled immediately. After confirming the payment of your last feeder, instead of the system to autorecycle you, your subscription for this package will be cancelled.</p>#}
                                            {#</div>#}
                                        </div>
                                    {% endif %}
                                    {# User has made payment. Get Feeders Details #}

                                   
                                {% endif %}
                                {# End Activation Check #}

                            {% endfor %}

                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>

        <hr>
        <!-- Profile Preview & Timeline -->
        <div class="row">

            <!-- Profile Preview -->
            <div class="col-sm-12 col-md-6">
                <div class="box box-success">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle" src="{{ asset(app.user.getAvatar()) }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ app.user.getName() }}</h3>

                        <p class="text-muted text-center">{{ app.user.getUsername() }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneOne() }}</a>
                            </li>
                            {% if app.user.getPhoneTwo() != null %}
                                <li class="list-group-item">
                                    <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneTwo() }}</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <i class="fa fa-envelope-o"></i> <a class="pull-right">{{ app.user.getEmail() }}</a>
                            </li>
                            {% if app.user.getBankName() != null %}
                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <i class="fa fa-bank"></i> <strong>Bank</strong>
                                            <br>
                                            <span>{{ app.user.getBankName() }}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-archive"></i> <strong>Account Name</strong>
                                            <br>
                                            <span>{{ app.user.getBankAccountName() }}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-archive"></i> <strong>Account Number</strong>
                                            <br>
                                            <span>{{ app.user.getBankAccountNumber() }}</span>
                                        </div>
                                        <div class="col-sm-4">
                                            <i class="fa fa-th"></i> <strong>Account Type</strong>
                                            <br>
                                            <span>{{ app.user.getBankAccountType() }}</span>
                                        </div>
                                    </div>
                                </li>
                            {% endif %}
                        </ul>

                        <a href="{{ path('profile') }}" class="btn btn-success btn-block"><b>Go to Profile</b></a>
                    </div>
                </div>
            </div> <!-- End Profile Preview -->

            <!-- Timeline -->
            <div class="col-sm-12 col-md-6">
                <ul class="timeline">

                    {% for date, entry in timeline %}
                        <!-- timeline time label -->
                        <li class="time-label">
                            <span class="bg-green">
                                {{ date }}
                            </span>
                        </li>
                        <!-- /.timeline-label -->
                        {% for event in entry %}
                            <!-- timeline item -->
                            <li>
                                <i class="fa {{ event.getIcon() }} {{ event.getBackground() }}"></i>

                                <div class="timeline-item">
                                    <span class="time"><i class="fa fa-clock-o"></i> {{ event.getCreated()|date("H:i") }}</span>

                                    <h3 class="timeline-header">{{ event.getDetails() }}</h3>

                                    {% if event.getType() == 6 %}
                                        <div class="timeline-body">
                                            <h4>{{ event.getMisc().getMail().getSubject() }}</h4>
                                            <p>{{ event.getMisc().getMail().getMail() }}</p>
                                        </div>
                                        <div class="timeline-footer">
                                            <p><a href="{{ path('member_view_mail', {'mailRecipient' : event.getMisc().getId()}) }}" class="btn btn-info btn-flat">View</a> <a href="{{ path('member_delete_mail', {'mailRecipient' : event.getMisc().getId()}) }}" class="btn btn-danger btn-flat">Delete</a></p>
                                        </div>
                                    {% endif %}
                                </div>
                            </li>
                            <!-- END timeline item -->
                        {% endfor %}
                    {% endfor %}

                    <li>
                        <i class="fa fa-clock-o bg-gray"></i>
                    </li>
                </ul>
            </div> <!-- End Timeline -->

        </div> <!-- End Profile Preview & Timeline -->
    </section>
{% endblock %}