{% extends 'member.base.html.twig' %}

{% block title %}Your Feeders{% endblock %}

{% block body %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Your Feeders</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('packs') }}"><i class="fa fa-pie-chart"></i> Packages</a></li>
            <li class="active">Feeders</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        {% for subscription in subscriptions %}

            <div class="row">
                    
                {# Pack Subscription Header #}
                <div class="col-sm-12">
                    <div class="plan-header">
                        <h1>Your Feeders in {{ subscription.getPack().getName() }} Package ({{ app_currency_symbol }}{{ subscription.getPack().getFormattedAmount() }}) {% if subscription.getType() == 'purse' %}[Wallet]{% endif %}</h1>
                    </div>
                </div>
                {# End Pack Subscription Header #}

                <div class="col-sm-12">

                    {% if subscription.getFeeders() is empty %}
                        {# No feeder assigned yet #}
                        <div class="col-sm-12">
                            <div class="box box-solid">
                                <div class="box-header with-border text-center">
                                  <i class="fa fa-users"></i>

                                  <h3 class="box-title">No Feeders Yet ({{ subscription.getPack().getName() }} Package)</h3>
                                </div>
                                <!-- /.box-header -->
                                <div class="box-body">
                                    <div class="alert alert-warning text-center">
                                        <h4><i class="icon fa fa-warning"></i> No feeder assigned to pay you yet</h4>
                                        <p>Your pack subscription has been activated. Kindly be patient as the system matches feeders to pay you.
                                            Kindly be patient as the system matches feeders to pay you on your maturity date(7 days)
                                            The System will match a total of {{ subscription.getFeederTotal() }} feeders to pay you.</p>
                                    </div>
                                </div>
                                <!-- /.box-body -->
                            </div>
                        </div> <!-- End Downlines Panel -->
                    {% else %}
                        {# Feeders assigned #}
                        <div class="row text-center">
                            <div class="col-sm-8 col-sm-offset-2">
                                <div class="alert alert-info">
                                    <p>The System will match a total of {{ subscription.getFeederTotal() }} feeders to pay you. {{ subscription.getFeederCounter() }} remaining feeders for the system to match to you</p>
                                </div>
                            </div>
                            {% for feeder in subscription.getFeeders() %}
                                <div class="col-sm-6">
                                    <div class="box box-widget widget-user">
                                        <!-- Add the bg color to the header using any of the bg-* classes -->
                                        <div class="widget-user-header bg-aqua-active">
                                            <h3 class="widget-user-username">{{ feeder.getFeeder().getName() }}</h3>
                                            <h5 class="widget-user-desc">{{ feeder.getFeeder().getUsername() }}</h5>
                                        </div>
                                        <div class="widget-user-image">
                                            <img class="img-circle" src="{{ asset(feeder.getFeeder().getAvatar()) }}" alt="User Avatar">
                                        </div>
                                        <div class="box-footer">
                                            <div class="row">
                                                <div class="col-sm-6 border-right">
                                                    <div class="description-block">
                                                        <h5 class="description-header"><i class="fa fa-phone"></i> {{ feeder.getFeeder().getPhoneOne() }}</h5>
                                                    </div>
                                                    <!-- /.description-block -->
                                                </div>
                                                {% if feeder.getFeeder().getPhoneTwo() != null %}
                                                    <div class="col-sm-6 border-right">
                                                        <div class="description-block">
                                                            <h5 class="description-header"><i class="fa fa-phone"></i> {{ feeder.getFeeder().getPhoneTwo() }}</h5>
                                                        </div>
                                                        <!-- /.description-block -->
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    {# Check feeder entry conditions #}
                                                    {% if feeder.getStatus() == 'not_paid' %}
                                                        <p>This feeder is to make payment to you</p>
                                                        <p>Time left to complete payment</p>
                                                        <p id="countdownClock{{ feeder.getId() }}">
                                                            <strong>Hrs: </strong>
                                                            <span class="hourCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Mins: </strong>
                                                            <span class="minuteCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Secs: </strong>
                                                            <span class="secondCountDown{{ feeder.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiver{{ feeder.getId() }} = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownClock{{ feeder.getId() }}', 'hourCountDown{{ feeder.getId() }}', 'minuteCountDown{{ feeder.getId() }}', 'secondCountDown{{ feeder.getId() }}', deadlineGiver{{ feeder.getId() }});
                                                        </script>
                                                    {% elseif feeder.getStatus() == 'payment_made' or (feeder.getScamPaid() == 'scam_paid' and feeder.getStatus() == 'scam') %}
                                                        <p>This feeder has made payment to you</p>
                                                        <p>Time left for you to confirm payment</p>
                                                        <p id="countdownClock{{ feeder.getId() }}">
                                                            <strong>Hrs: </strong>
                                                            <span class="hourCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Mins: </strong>
                                                            <span class="minuteCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Secs: </strong>
                                                            <span class="secondCountDown{{ feeder.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiver{{ feeder.getId() }} = "{{ feeder.getReceiverTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownClock{{ feeder.getId() }}', 'hourCountDown{{ feeder.getId() }}', 'minuteCountDown{{ feeder.getId() }}', 'secondCountDown{{ feeder.getId() }}', deadlineGiver{{ feeder.getId() }});
                                                        </script>
                                                    {% elseif feeder.getStatus() == 'jury' %}
                                                        <p>There seems to be a dispute on this payment. Hence, it has been moved to the Jury's</p>
                                                    {% elseif feeder.getStatus() == 'scam' %}
                                                        <p>You have marked this payment as a scam</p>
                                                        <p>Time left for feeder to properly complete payment before being blocked</p>
                                                        <p class="text-center" id="countdownClock{{ feeder.getId() }}">
                                                            <strong>Hours: </strong>
                                                            <span class="hourCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Minutes: </strong>
                                                            <span class="minuteCountDown{{ feeder.getId() }}"></span>
                                                            <strong>| Seconds: </strong>
                                                            <span class="secondCountDown{{ feeder.getId() }}"></span>
                                                        </p>
                                                        <script type="text/javascript">
                                                            var deadlineGiver{{ feeder.getId() }} = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                                            initializeClock('countdownClock{{ feeder.getId() }}', 'hourCountDown{{ feeder.getId() }}', 'minuteCountDown{{ feeder.getId() }}', 'secondCountDown{{ feeder.getId() }}', deadlineGiver{{ feeder.getId() }});
                                                        </script>
                                                    {% elseif feeder.getStatus() == 'fully_paid' %}
                                                        <p>You have fully confirmed this payment</p>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                        {% if feeder.getStatus() == 'jury'%}
                                            <a href="{{ path('user_case', {'case' : feeder.getJury()}) }}" class="btn btn-lg btn-block btn-warning">Go to the Court</a>
                                        {% elseif feeder.getStatus() == 'fully_paid' %}
                                            <a href="{{ path('check_payment', {'feeder' : feeder.getId()}) }}" class="btn btn-lg btn-block btn-success">Payment Confirmed</a>
                                        {% else %}
                                            <a href="{{ path('check_payment', {'feeder' : feeder.getId()}) }}" class="btn btn-lg btn-block btn-warning">Check Payment</a>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </section>
{% endblock %}