{% extends 'member.base.html.twig' %}

{% block title %}Your Cases{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>
        	Your Court Cases
      	</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active"><i class="fa fa-university"></i> Court</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
          		<!-- small box -->
          		<div class="small-box bg-purple">
            		<div class="inner">
              			<h3>{{ courtCount }}</h3>
              			<p>Court Cases</p>
            		</div>
            		<div class="icon">
              			<i class="fa fa-university"></i>
            		</div>
            		<a class="small-box-footer">Court Cases <i class="fa fa-arrow-circle-right"></i></a>
          		</div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('jury') }}" class="list-group-item list-group-item-success">View Cases</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
    			{% if cases.getTotalItemCount == 0 %}
    				<div class="alert alert-info">
    					<p class="lead text-center">You have no court cases</p>
    					<p>Court cases only appear here when you have a payment dispute with another member. Payment Disputes range from "Upline not confirming payment before the given time elapses" to "Downline presenting payment evidence that has been marked as dubious by the upline". When you have disputes of such, your court cases will appear here.</p>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ cases.getPaginationData.firstItemNumber }} to {{ cases.getPaginationData.lastItemNumber }} out of {{ cases.getTotalItemCount }} Case{% if cases.getTotalItemCount != 1 %}s{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
	    					<table class="table table-responsive table-hover table-striped">
	    						<thead>
	    							<tr>
	    								<th>#</th>
	    								<th>Receiver</th>
	    								<th>Feeder</th>
	    								<th>Status</th>
	    								<th>Date</th>
	    							</tr>
	    						</thead>

	    						<tbody>
	    							{% for case in cases %}
	    								<tr>
	    									<td><a href="{{ path('user_case', {'case' : case.getId()}) }}">Case #{{ case.getId() }}</a></td>
	    									<td>{{ case.getReceiver().getName() }}</td>
	    									<td>{{ case.getFeeder().getName() }}</td>
	    									<td>
									            {% if case.getStatus() == 'giver_reply' %}
									                <button class="btn btn-xs btn-info">Feeder Reply</button>
									            {% elseif case.getStatus() == 'receiver_reply' %}
									                <button class="btn btn-xs btn-primary">Receiver Reply</button>
									            {% elseif case.getStatus() == 'admin_reply' %}
									                <button class="btn btn-xs btn-warning">Admin Reply</button>
									            {% elseif case.getStatus() == 'open' %}
									                <button class="btn btn-xs btn-success">Open</button>
									            {% elseif case.getStatus() == 'closed' %}
									                <button class="btn btn-xs btn-danger">Closed</button>
									            {% endif %}
	    									</td>
	    									<td>{{ case.getCreatedDate()|date('d F, Y') }}</td>
	    								</tr>
	    							{% endfor %}
	    						</tbody>
	    					</table>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(cases) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}