{% extends 'member.base.html.twig' %}

{% block title %}My Mailbox{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            My Mailbox
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-comments-o"></i> My Mailbox</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">

                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ app.user.getMailCount() }}</h3>
                        <p>Unread Mails</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a class="small-box-footer">My Mailbox <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('member_mails') }}" class="list-group-item list-group-item-success">View Mailbox</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

    			{% if mails.getTotalItemCount == 0 %}
    				<div class="alert alert-warning">
    					<p class="lead text-center">You have not received any mail yet</p>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ mails.getPaginationData.firstItemNumber }} to {{ mails.getPaginationData.lastItemNumber }} out of {{ mails.getTotalItemCount }} Mail{% if mails.getTotalItemCount != 1 %}s{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
                            <div class="page-content-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-hover table-responsive table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Subject</th>
                                                    <th>Created</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for mail in mails %}
                                                    <tr>
                                                        <td><a href="{{ path('member_view_mail', {'mailRecipient' : mail.getId()}) }}">{{ mail.getMail().getSubject() }}</a></td>
                                                        <td>{{ mail.getMail().getCreated()|date('d M. Y H:i') }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(mails) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}