<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
      
      	     <p class="centered"><a href="{{ path('profile') }}"><img src="{{ asset(app.user.getAvatar()) }}" class="img-circle" width="60"></a></p>
      	     <h5 class="centered">{{ app.user.getName() }}</h5>
      	  	
          <li>
              <a {% if app.request.get('_route') == 'dashboard' %}class="active"{% endif %} href="{{ path('dashboard') }}">
                  <i class="fa fa-dashboard"></i>
                  <span>Dashboard</span>
              </a>
          </li>
            
          <li>
              <a {% if app.request.get('_route') == 'profile' %}class="active"{% endif %} href="{{ path('profile') }}">
                  <i class="fa fa-user"></i>
                  <span>Profile</span>
              </a>
          </li>
            
          <li>
              <a {% if app.request.get('_route') == 'packs' %}class="active"{% endif %} href="{{ path('packs') }}">
                  <i class="fa fa-dashboard"></i>
                  <span>Packs</span>
              </a>
          </li>
            
          <li>
              <a {% if app.request.get('_route') == 'purse' %}class="active"{% endif %} href="{{ path('purse') }}">
                  <i class="fa fa-dashboard"></i>
                  <span>Purse</span>
              </a>
          </li>
            
          <li>
              <a {% if app.request.get('_route') == 'referrals' %}class="active"{% endif %} href="{{ path('referrals') }}">
                  <i class="fa fa-users"></i>
                  <span>Referrals</span>
              </a>
          </li>

            {% if is_granted('ROLE_ADMIN') %}
            
                  <li>
                      <a {% if app.request.get('_route') == 'demi_god_support' %}class="active"{% endif %} href="{{ path('demi_god_support') }}">
                          <i class="fa fa-ticket"></i>
                          <span>User Support</span>
                      </a>
                  </li>
                    
                  <li>
                      <a {% if app.request.get('_route') == 'demi_god_jury' %}class="active"{% endif %} href="{{ path('demi_god_jury') }}">
                          <i class="fa fa-dashboard"></i>
                          <span>User Jury</span>
                      </a>
                  </li>
            {% else %}
            
                  <li>
                      <a {% if app.request.get('_route') == 'support' %}class="active"{% endif %} href="{{ path('support') }}">
                          <i class="fa fa-ticket"></i>
                          <span>Support</span>
                      </a>
                  </li>
                    
                  <li>
                      <a {% if app.request.get('_route') == 'jury' %}class="active"{% endif %} href="{{ path('jury') }}">
                          <i class="fa fa-dashboard"></i>
                          <span>Jury</span>
                      </a>
                  </li>
            {% endif %}

                  <li>
                      <a {% if app.request.get('_route') == 'reviews' %}class="active"{% endif %} href="{{ path('reviews') }}">
                          <i class="fa fa-dashboard"></i>
                          <span>Reviews</span>
                      </a>
                  </li>
                    
            {% if is_granted('ROLE_SUPER_ADMIN') %}
                <li>
                    <a {% if app.request.get('_route') == 'god_mode_dashboard' %}class="active"{% endif %} href="{{ path('god_mode_dashboard') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>God Mode</span>
                    </a>
                </li>
                <li>
                    <a {% if app.request.get('_route') == 'god_mode_dashboard' %}class="active"{% endif %} href="{{ path('list_super_admin') }}">
                        <i class="fa fa-dashboard"></i>
                        <span>View SuperAdmin</span>
                    </a>
                </li>
            {% endif %}

      </ul>
      <!-- sidebar menu end-->
    </div>
    </aside>