<!-- Page Top Header -->
<header class="main-header">

    <!-- Logo -->
    <a href="{{ path('dashboard') }}" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">
            {#<img src="{{ adm.sitesmallicon }}">#}
        </span>
        <span class="logo-mini"><img src="{{ asset('img/nav-logo-small.png') }}"></span>
        <!-- logo for regular state and mobile devices 200x50 pixels -->
        {#<span class="logo-lg"><img src="{{ adm.sitelogo }}"></span>#}
        {#<span class="logo-lg"><img src="{{ asset('img/nav-logo.png') }}"></span>#}
        {# <span class="logo-lg"><img src="{{ asset('img/logo.jpg') }}"></span> #}
    </a> <!-- End Logo -->

    <!-- Header Navbar -->
    <nav class="navbar navbar-static-top">

        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
        </a> <!-- End Sidebar toggle button-->

        <!-- Navbar Custom Menu -->
        <div class="navbar-custom-menu">

            <ul class="nav navbar-nav">
                <!-- Notifications: style can be found in dropdown.less-->
{#                <li class="dropdown messages-menu">#}
{#                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">#}
{#                        <i class="fa fa-globe"></i>#}
{#                        <span class="label label-danger">{{ app.user.getNotificationCount()  }}</span>#}
{#                    </a>#}
{#                    <ul class="dropdown-menu">#}
{#                        <li class="header">You have {{ app.user.getNotificationCount()  }} new notification{% if app.user.getNotificationCount()  != 1 %}s{% endif %}</li>#}
{#                      #}
{#                        <li class="footer"><a href="{{ path('dashboard') }}">See All Notifications</a></li>#}
{#                    </ul>#}
{#                </li>#}
                <!-- Messages: style can be found in dropdown.less-->
                <li class="dropdown messages-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="fa fa-envelope-o"></i>
                        <span class="label label-danger">{{ app.user.getMailCount() }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li class="header">You have {{ app.user.getMailCount() }} new message{% if app.user.getMailCount() != 1 %}s{% endif %}</li>
                        <li>
                            <!-- inner menu: contains the actual data -->
                            <ul class="menu">
                                {% for mail in app.user.getMenuMail() %}
                                    <li><!-- start message -->
                                        <a href="#" {% if mail.getStatus() == 'unread' %}style="background-color:#f4f4f4"{% endif %}>
                                            <h4 style="margin:0">
                                                Support Team <small><i class="fa fa-clock-o"></i> {{ mail.getMail().getCreated()|date('d M. Y H:i') }}</small>
                                            </h4>
                                            <p style="margin:0">{{ mail.getMail().getSubject() }}</p>
                                        </a>
                                    </li>
                                    <!-- end message -->
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="footer"><a href="{{ path('member_mails') }}">See All Messages</a></li>
                    </ul>
                </li>

                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="{{ asset(app.user.getAvatar()) }}" class="user-image" alt="User Image">
                        <span class="hidden-xs">{{ app.user.getName() }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="{{ asset(app.user.getAvatar()) }}" class="img-circle" alt="User Image">
                            <p>
                                {{ app.user.getName() }}
                                <small>{{ app.user.getUsername() }}</small>
                            </p>
                        </li> <!-- End User image -->
                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                {% if (app.user.getRole() == 'ROLE_SUPER_ADMIN') %}
                                    <a href="{{ path('adminprofile') }}" class="btn btn-default btn-flat">Profile</a>
                                {% else %}
                                    <a href="{{ path('profile') }}" class="btn btn-default btn-flat">Profile</a>
                                {% endif %}
                            </div>
                            <div class="pull-right">
                                <a href="{{ path('logout') }}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li> <!-- End Menu Footer-->
                    </ul>
                </li> <!-- End User Account -->
            </ul>

        </div> <!-- End Navbar Custom Menu -->

    </nav> <!-- End Header Navbar -->

</header> <!-- End Page Top Header -->