<!-- Left side column. contains the logo and sidebar -->
<aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">

      	<!-- Sidebar user panel -->
      	<div class="user-panel">
        	<div class="pull-left image">
          		<img src="{{ asset(app.user.getAvatar()) }}" class="img-circle" alt="User Image">
        	</div>
        	<div class="pull-left info">
          		<p>{{ app.user.getName() }}</p>
				{% if (app.user.getRole() == 'ROLE_SUPER_ADMIN') %}
					<a href="{{ path('adminprofile') }}" >{{ app.user.getUsername() }}</a>
				{% else %}
					<a href="{{ path('profile') }}" >{{ app.user.getUsername() }}</a>
				{% endif %}
        	</div>
      	</div> <!-- End Sidebar user panel -->

      	<!-- sidebar menu: : style can be found in sidebar.less -->
      	<ul class="sidebar-menu">
        	<li class="header">MAIN NAVIGATION</li>
			{% if is_granted('ROLE_SUPER_ADMIN') %}

				<li {% if app.request.get('_route') == 'god_mode_dashboard' %}class="active"{% endif %}>
					<a href="{{ path('god_mode_dashboard') }}">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('adminprofile') }}">
						<i class="fa fa-cog"></i> <span>Settings</span>
					</a>
				</li>
				<hr>
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_pack') }}">
						<i class="fa fa-archive"></i> <span>View Packs</span>
					</a>
				</li>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('list_news') }}">#}
{#						<i class="fa fa-newspaper-o"></i> <span>View Announcements</span>#}
{#					</a>#}
{#			#}
{#				</li>#}
			
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_users') }}">
						<i class="fa fa-users"></i> <span>List All Users</span>
					</a>
				</li>

				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_withdrawal_requests') }}">
						<i class="fa fa-money"></i> <span>Withdrawal Requests</span>
					</a>
				</li>

				
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_admin_payments') }}">
						<i class="fa fa-money"></i> <span>List All Payments</span>
					</a>
				</li>

				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_admin') }}">
						<i class="fa fa-users"></i> <span>List Admins</span>
					</a>
				</li>
				<hr>
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('create_pack') }}">
						<i class="fa fa-archive"></i> <span>Create Packs</span>
					</a>
				</li>
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('create_admin') }}">
						<i class="fa fa-user-plus"></i> <span>Create Admin</span>
					</a>
				</li>
				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
{#					<a href="{{ path('create_news') }}">#}
					<a href="{{ path('set_notice_board') }}">
						<i class="fa fa-bullhorn"></i> <span>New Announcement</span>
					</a>
				</li>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('god_mode_compose_mail') }}">#}
{#						<i class="fa fa-mail-forward"></i> <span>Message All Users</span>#}
{#					</a>#}
{#				</li>#}

				<hr>

			{% endif %}

			{% if is_granted('ROLE_ADMIN') %}

				<li {% if app.request.get('_route') == 'god_mode_dashboard' %}class="active"{% endif %}>
					<a href="{{ path('god_mode_dashboard') }}">
						<i class="fa fa-dashboard"></i> <span>Dashboard</span>
					</a>
				</li>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('adminprofile') }}">#}
{#						<i class="fa fa-cog"></i> <span>Settings</span>#}
{#					</a>#}
{#				</li>#}
				<hr>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('list_pack') }}">#}
{#						<i class="fa fa-archive"></i> <span>View Packs</span>#}
{#					</a>#}
{#				</li>#}

				{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
				{#					<a href="{{ path('list_news') }}">#}
				{#						<i class="fa fa-newspaper-o"></i> <span>View Announcements</span>#}
				{#					</a>#}
				{#			#}
				{#				</li>#}

				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_users') }}">
						<i class="fa fa-users"></i> <span>List All Users</span>
					</a>
				</li>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('list_withdrawal_requests') }}">#}
{#						<i class="fa fa-money"></i> <span>Withdrawal Requests</span>#}
{#					</a>#}
{#				</li>#}


				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					<a href="{{ path('list_admin_payments') }}">
						<i class="fa fa-users"></i> <span>List All Payments</span>
					</a>
				</li>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('list_admin') }}">#}
{#						<i class="fa fa-users"></i> <span>List Admins</span>#}
{#					</a>#}
{#				</li>#}

				<hr>

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('create_pack') }}">#}
{#						<i class="fa fa-archive"></i> <span>Create Packs</span>#}
{#					</a>#}
{#				</li>#}

{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
{#					<a href="{{ path('create_admin') }}">#}
{#						<i class="fa fa-user-plus"></i> <span>Create Admin</span>#}
{#					</a>#}
{#				</li>#}

				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>
					{#					<a href="{{ path('create_news') }}">#}
					<a href="{{ path('set_notice_board') }}">
						<i class="fa fa-bullhorn"></i> <span>New Announcement</span>
					</a>
				</li>

				{#				<li {% if app.request.get('_route') == 'god_mode_settings' %}class="active"{% endif %}>#}
				{#					<a href="{{ path('god_mode_compose_mail') }}">#}
				{#						<i class="fa fa-mail-forward"></i> <span>Message All Users</span>#}
				{#					</a>#}
				{#				</li>#}

				<hr>

			{% endif %}

			<li>

			</li>
{#        	{% if (app.user.getRole() == 'ROLE_SUPER_ADMIN' and app.user.getDbGranted() != null) or (app.user.getRole() == 'ROLE_ADMIN' or app.user.getRole() == 'ROLE_USER') %}#}
        	{% if (app.user.getRole() == 'ROLE_SUPER_ADMIN' and app.user.getDbGranted() != null) or ( app.user.getRole() == 'ROLE_USER') %}
	        <li {% if app.request.get('_route') == 'dashboard' %}class="active"{% endif %}>
	          	<a href="{{ path('dashboard') }}">
	            	<i class="fa fa-dashboard"></i> <span>Dashboard</span>
	          	</a>
	        </li>
	        <li {% if app.request.get('_route') == 'profile' %}class="active"{% endif %}>
	          	<a href="{{ path('profile') }}">
	            	<i class="fa fa-user"></i> <span>Profile</span>
	          	</a>
	        </li>
	        <li {% if app.request.get('_route') == 'referrals' %}class="active"{% endif %}>
	          	<a href="{{ path('referrals') }}">
	            	<i class="fa fa-users"></i> <span>My Referrals</span>
	            	<span class="pull-right-container">
	              		<small class="label pull-right bg-yellow">{{ app.user.getReferralsCount() }}</small>
	            	</span>
	          	</a>
	        </li>
	        <li {% if app.request.get('_route') == 'packs' %}class="active"{% endif %}>
	          	<a href="{{ path('packs') }}">
	            	<i class="fa fa-pie-chart"></i> <span>My Packs</span>
	            	<span class="pull-right-container">
	              		<small class="label pull-right bg-red">{{ app.user.getPacks() }}</small>
	            	</span>
	          	</a>
	        </li>
	        <li {% if app.request.get('_route') == 'purse' %}class="active"{% endif %}>
	          	<a href="{{ path('purse') }}">
	            	<i class="fa fa-money"></i> <span>My Wallet</span>
	            	<span class="pull-right-container">
	              		<small class="label pull-right bg-green">{{ app_currency_symbol }}{{ app.user.getFormattedPurse() }}</small>
	            	</span>
	          	</a>
	        </li>
        	{% endif %}
	        {% if is_granted('ROLE_ADMIN') %}
				<li {% if app.request.get('_route') == 'demi_god_support' %}class="active"{% endif %}>
					<a href="{{ path('demi_god_support') }}">
						<i class="fa fa-ticket"></i> <span>User Complaints</span>
						<span class="pull-right-container">
		              		<small class="label pull-right bg-orange">{{ app.user.getSupportCount() }}</small>
		            	</span>
					</a>
				</li>
	        {% else %}
		        <li {% if app.request.get('_route') == 'support' %}class="active"{% endif %}>
		          	<a href="{{ path('support') }}">
		            	<i class="fa fa-ticket"></i> <span>My Complaints</span>
		          	</a>
		        </li>
	    	{% endif %}

	    	{% if is_granted('ROLE_ADMIN') %}
	        	{# <li {% if app.request.get('_route') == 'demi_god_jury' %}class="active"{% endif %}>
		          	<a href="{{ path('demi_god_jury') }}">
		            	<i class="fa fa-university"></i> <span>User Court Cases</span>
		            	<span class="pull-right-container">
		              		<small class="label pull-right bg-red">{{ app.user.getJuryCount() }}</small>
		            	</span>
		          	</a>
		        </li> #}
		    {% else %}
		        <li {% if app.request.get('_route') == 'jury' %}class="active"{% endif %}>
		          	{# <a href="{{ path('jury') }}">
		            	<i class="fa fa-university"></i> <span>My Court Cases</span>
		          	</a> #}
		        </li>
	    	{% endif %}

{#	        <li {% if app.request.get('_route') == 'reviews' %}class="active"{% endif %}>#}
{#	          	<a href="{{ path('reviews') }}">#}
{#	            	<i class="fa fa-comments-o"></i> <span>My Testimonies</span>#}
{#	          	</a>#}
{#	        </li>#}

        </ul>
		<!-- End sidebar menu: : style can be found in sidebar.less -->

    </section> <!-- End sidebar -->

</aside> <!-- End Left side column -->