<!-- Main footer -->
<footer class="main-footer">
    <div class="pull-right hidden-xs">
        Trusted and Genuine Returns
    </div>
    <strong>Copyright &copy; {{ "now"|date("Y") }} {{ app_name }}.</strong> All rights reserved.
</footer> <!-- End main footer -->