{% extends 'member-without-dashboard.base.html.twig' %}

{% block title %}Account not Confirmed{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Account not confirmed</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Account not confirmed</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-yellow"> OOPS!</h2>

          <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i> Account not confirmed.</h3>

              <h4>Your account has not been confirmed!
              
              </h4>
            </div>
        </div>

        
              <h3>  You may contact the Administrator on <em> +233 59 504 8488 </em> </h3>
    </section>
{% endblock %}