{% extends 'member.base.html.twig' %}

{% block title %}Make Payment{% endblock %}

{% block body %}

    {% for flash_message in app.session.flashBag.get('autoRecycleSuccess') %}
        <div class="callout callout-info" xmlns="http://www.w3.org/1999/html">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    {% for flash_message in app.session.flashBag.get('subscribeSuccess') %}
        <div class="callout callout-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Make Payment - {{ feeder.getPack().getName() }}
            ({{ app_currency_symbol }} {{ feeder.getPack().getFormattedAmount() }})</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('packs') }}"><i class="fa fa-pie-chart"></i> Packs</a></li>
            <li class="active">Make Payment</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- Receiver's Column -->
            <div class="col-sm-5">
                <div class="box box-success">
                    <div class="box-body box-profile">
                        <img class="profile-user-img img-responsive img-circle center-block"
                             src="{{ asset(feeder.getReceiver().getAvatar()) }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ feeder.getReceiver().getName() }}</h3>

                        <p class="text-muted text-center">{{ feeder.getReceiver().getUsername() }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> <a
                                        class="pull-right">{{ feeder.getReceiver().getPhoneOne() }}</a>
                            </li>
                            {% if feeder.getReceiver().getPhoneTwo() != null %}
                                <li class="list-group-item">
                                    <i class="fa fa-phone"></i> <a
                                            class="pull-right">{{ feeder.getReceiver().getPhoneTwo() }}</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <i class="fa fa-envelope-o"></i> <a
                                        class="pull-right">{{ feeder.getReceiver().getEmail() }}</a>
                            </li>


                            <div class="box box-success">

                                <div class="box-header with-border">
                                    {#{% if feeder.getReceiver.getBankChoice() == 1 %}#}
                                        {#<h3 class="box-title">Default Bank Account</h3>#}
                                    {#{% elseif feeder.getReceiver.getBankChoice() == 2 %}#}
                                        {#<h3 class="box-title">Provisional Bank Account</h3>#}
                                    {#{% else %}#}
                                        {#<h3 class="box-title">Notice: </h3>#}
                                    {#{% endif %}#}
                                </div>
                                <div class="box-body">
                                    {#{% if feeder.getReceiver.getBankName() == feeder.getReceiver.getBankNameOne() %}#}

                                        <ul class="list-group list-group-unbordered">


                                            <li class="list-group-item">
                                                <i class="fa fa-bank"></i> Mobile Money Number <a
                                                        class="pull-right">{{ feeder.getReceiver.getPhoneOne() }}</a>
                                            </li>

                                            <li class="list-group-item">
                                                <i class="fa fa-bank"></i> Alternative Number <a
                                                        class="pull-right">{{ feeder.getReceiver.getPhoneTwo() }}</a>
                                            </li>

                                        </ul>

                                    {#{% elseif feeder.getReceiver.getBankName() == feeder.getReceiver.getBankNameTwo() %}#}
                                        <ul class="list-group list-group-unbordered">

                                            {#<li class="list-group-item">#}
                                                {#<i class="fa fa-bank"></i> Bank Name <a#}
                                                        {#class="pull-right">{{ feeder.getReceiver.getBankNameTwo() }}</a>#}
                                            {#</li>#}

                                            {#<li class="list-group-item">#}
                                                {#<i class="fa fa-bank"></i> Phone Number <a#}
                                                        {#class="pull-right">{{ feeder.getReceiver.getBankNameTwo() }}</a>#}
                                            {#</li>#}

                                            {#<li class="list-group-item">#}
                                                {#<i class="fa fa-bank"></i> Account Name <a#}
                                                        {#class="pull-right">{{ feeder.getReceiver.getAccountNameTwo() }}</a>#}
                                            {#</li>#}

                                            {#<li class="list-group-item">#}
                                                {#<i class="fa fa-bank"></i> Account Number <a#}
                                                        {#class="pull-right">{{ feeder.getReceiver.getAccountNumberTwo() }}</a>#}
                                            {#</li>#}

                                            {#<li class="list-group-item">#}
                                                {#<i class="fa fa-bank"></i> Account Type <a#}
                                                        {#class="pull-right">{{ feeder.getReceiver.getAccountTypeTwo() }}</a>#}
                                            {#</li>#}

                                        </ul>

                                    {#{% else %}#}
                                        {#<div class="alert alert-danger text-center">#}
                                            {#<p>User has not provided bank acccount details! Message/Call User or Contact#}
                                                {#Support</p>#}
                                        {#</div>#}
                                    {#{% endif %}#}
                                </div>

                            </div>
                        </ul>
                    </div>
                </div>

                {#{% if receiver.bitcoinAddress != null or receiver.bitcoinAddress != '' %}#}
                    {#<!-- Receiver's Bitcoin Section  -->#}
                    {#<div class="box box-warning">#}
                        {#{% autoescape %}#}
                            {#{{ box.create_payment_box(feeder.getReceiver.getBitcoinAddress(), btcamount)| raw }}#}

                        {#{% endautoescape %}#}
                    {#</div>#}
                    {#<div class="box box-warning">#}
                        {#<div class="box-body box-profile">#}
                            {#<img src="https://chart.googleapis.com/chart?chs=225x225&chld=L|2&cht=qr&chl=bitcoin%3A{{  feeder.getReceiver().getBitcoinAddress }}%3Famount%3D{{ btcamount }}" class="img-responsive center-block"  style="height: 240px;width: 240px" />#}
                            {#<div class="alert alert-info text-center">#}
                                {#<p>Once you have made payment via Bitcoin Click on the "Make Payment" button .<br/> <strong> Select Bitcoin Wallet for Bank and Payment Method</strong> </p>#}
                            {#</div>#}
                            {#<ul class="list-group list-group-unbordered">#}
                                {#<li class="list-group-item">#}
                                    {#<i class="fa fa-money"></i> Amount in {{ app_currency_symbol }}: <a#}
                                            {#class="pull-right">{{ feeder.getPack().getAmount() }}</a>#}
                                {#</li>#}
                                {#{% if app_currency != 'USD' %}#}
                                    {#<li class="list-group-item">#}
                                        {#<i class="fa fa-money"></i> Amount in $: <a#}
                                                {#class="pull-right">{{ feeder.getPack().getAmount()/app_rate }} </a>#}
                                    {#</li>#}
                                {#{% endif %}#}
                                {#<li class="list-group-item">#}
                                    {#<i class="fa fa-money"></i> Amount in BTC: <a#}
                                            {#class="pull-right"> {{ btcamount }} </a>#}
                                {#</li>#}
                                {#{% if feeder.getReceiver().getBitcoinAddress != null %}#}
                                    {#<li class="list-group-item">#}
                                        {#<i class="fa fa-envelope-o"></i> Receiver Bitcoin Address: <a#}
                                                {#class="pull-right">{{ feeder.getReceiver().getBitcoinAddress() }}</a>#}
                                    {#</li>#}
                                {#{% endif %}#}

                            {#</ul>#}
                        {#</div>#}
                    {#</div>#}
                {#{% else %}#}
                    {#<div class="alert alert-danger text-center">#}
                        {#<p>User has not provided bitcoin address! if you would like to pay through bitcoin, Message/Call#}
                            {#User or Contact Support</p>#}
                    {#</div>#}
                {#{% endif %}#}
                <!-- End Receiver's Bitcoin Section -->
            </div>
            <!-- End Receiver's Column -->

            <!-- Payment Form Column -->
            <div class="col-sm-7">
                {% if renderForm == true %}
                    {% if feeder.getStatus() == 'not_paid' %}
                        <div class="alert alert-warning countdownHolder">
                            <p class="text-center lead" style="margin-bottom: 5px">Time left to complete payment</p>
                            <div id="clockGiver" class='countdownTimer'>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder hourCountDownGiver'></span>
                                    <br>
                                    <span class='timeDescription'>Hrs</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder minuteCountDownGiver'></span>
                                    <br>
                                    <span class='timeDescription'>Mins</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder secondCountDownGiver'></span>
                                    <br>
                                    <span class='timeDescription'>Secs</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var deadlineGiver = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                initializeClock('clockGiver', 'hourCountDownGiver', 'minuteCountDownGiver', 'secondCountDownGiver', deadlineGiver);
                            </script>
                        </div>
                    {% elseif feeder.getStatus() == 'scam' %}
                        <div class="alert alert-danger countdownHolder">
                            <p class="text-center lead" style="margin-bottom: 5px">Your Payment has been marked as a
                                scam</p>
                            <p class="text-center small">(Kindly complete your payment before your time elapses or you
                                will be banned permanently from the system!)</p>
                            <div id='clockReceiver' class='countdownTimer'>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder hourCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Hrs</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder minuteCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Mins</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder secondCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Secs</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var deadline = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                initializeClock('clockReceiver', 'hourCountDownReceiver', 'minuteCountDownReceiver', 'secondCountDownReceiver', deadline);
                            </script>
                        </div>
                    {% endif %}
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Enter Payment Details</h3>
                        </div>
                        <script>
                            $(document).ready( function() {
                                $('#paymentmethod').change(function() {
                                    // to get the selected value
                                    var selected = $(this).val();

                                    if(selected == "Bitcoin Wallet"){
                                        banknamegroup.style.display("none");
                                    }else {

                                    }

                                    // do your magic pony stuff
                                });
                            });
                        </script>
                        <div class="box-body">
                            {{ form_start(form, {'action': path('make_payment', { 'feeder': feeder.getId() }), 'attr': {'class': 'form-horizontal'}}) }}

                            <span class="text-danger">{{ form_errors(form.payment_method) }}</span>
                            <div class="form-group">
                                {{ form_label(form.payment_method, 'Payment Method', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(form.payment_method, { 'attr': {'id': 'paymentmethod'} }) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(form.paymentImage) }}</span>
                            <div class="form-group">
                                {{ form_label(form.paymentImage, "Screenshot", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(form.paymentImage) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-6">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Make Payment
                                    </button>
                                </div>
                                <div class="col-sm-6">
                                    <button type="button" class="btn btn-danger btn-block btn-flat" data-toggle="modal"
                                            data-target="#viewCancelModal">I Can't Pay
                                    </button>
                                </div>
                            </div>

                            {{ form_end(form) }}
                        </div>
                    </div>
                {% else %}
                    {% if feeder.getStatus() == 'payment_made' or (feeder.getScamPaid() == 'scam_paid' and feeder.getStatus() == 'scam') %}
                        <div class="alert alert-info countdownHolder">
                            <p class="text-center lead" style="margin-bottom: 5px">Time left for receiver to confirm
                                you</p>
                            <div id='clockReceiver' class='countdownTimer'>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder hourCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Hrs</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder minuteCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Mins</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder secondCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Secs</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var deadline = "{{ feeder.getReceiverTimeEnd()|date('Y-m-d H:i:s') }}";
                                initializeClock('clockReceiver', 'hourCountDownReceiver', 'minuteCountDownReceiver', 'secondCountDownReceiver', deadline);
                            </script>
                        </div>
                    {% elseif feeder.getStatus() == 'scam' %}
                        <div class="alert alert-danger countdownHolder">
                            <p class="text-center lead" style="margin-bottom: 5px">Your Payment has been marked a
                                scam</p>
                            <div id='clockReceiver' class='countdownTimer'>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder hourCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Hrs</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder minuteCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Mins</span>
                                </div>
                                <div class='countdownTimerCell'>
                                    <span class='timeHolder secondCountDownReceiver'></span>
                                    <br>
                                    <span class='timeDescription'>Secs</span>
                                </div>
                            </div>
                            <script type="text/javascript">
                                var deadline = "{{ feeder.getFeederTimeEnd()|date('Y-m-d H:i:s') }}";
                                initializeClock('clockReceiver', 'hourCountDownReceiver', 'minuteCountDownReceiver', 'secondCountDownReceiver', deadline);
                            </script>
                        </div>
                    {% elseif feeder.getStatus() == 'fully_paid' %}
                        <div class="alert alert-success">
                            <p class="lead">Payment Confirmed</p>
                            <p>This payment has been confirmed</p>
                        </div>
                    {% elseif feeder.getStatus() == 'jury' %}
                        <div class="alert alert-warning text-center">
                            <p class="lead">Case in Jury's Stand</p>
                            <p>This case is in court. Head to the Judges Panel to submit your statement and evidence</p>
                            <p><a href="{{ path('user_case', {'case' : feeder.getJury()}) }}" class="btn btn-info"
                                  style="text-decoration: none">View in Jury's Stand</a></p>
                        </div>
                    {% endif %}
                    <div class="box box-solid">
                        <div class="box-header with-border">
                            <h3 class="box-title">Payment Details</h3>
                        </div>

                        <div class="box-body">
                            <form class="form-horizontal">

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Method</label>

                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ feeder.getPaymentMethod() }}</p>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Mobile Money Number</label>

                                    <div class="col-sm-8">
                                        <p class="form-control-static">{{ feeder.getReceiver().getPhoneOne() }}</p>
                                    </div>
                                </div>


                                {#<div class="form-group">#}
                                    {#<label class="col-sm-4 control-label">Depositor's Name</label>#}

                                    {#<div class="col-sm-8">#}
                                        {#<p class="form-control-static">{{ feeder.getPaymentDepositorName() }}</p>#}
                                    {#</div>#}
                                {#</div>#}

                                {#<div class="form-group">#}
                                    {#<label class="col-sm-4 control-label">Payment Location</label>#}

                                    {#<div class="col-sm-8">#}
                                        {#<p class="form-control-static">{{ feeder.getPaymentLocation() }}</p>#}
                                    {#</div>#}
                                {#</div>#}

                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Payment Proof</label>

                                    <div class="col-sm-8">
                                        <p class="form-control-static"><img class="img-responsive"
                                                                            src="{{ asset(feeder.getPaymentUploadedFile()) }}"
                                                                            style="margin: 0; border: none;"></p>
                                        <p class="form-control-static">
                                            <button type="button" class="btn btn-xs btn-warning viewPicModal"
                                                    data-toggle="modal" data-target="#viewPicModal">View Image
                                            </button>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                {% endif %}
            </div> <!-- End Receiver's Column -->
        </div>
    </section> <!-- End Main Content -->
{% endblock %}

{% block modalPicHeader %}Payment Proof for {{ feeder.getPack().getName() }} ({{ app_currency_symbol }}{{ feeder.getPack().getFormattedAmount() }}){% endblock %}
{% block modalPicBody %}<img class="img-responsive" src="{{ asset(feeder.getPaymentUploadedFile()) }}">{% endblock %}

{% block modalCancelHeader %}Cancel Payment{% endblock %}
{% block modalCancelBody %}Are you sure you want to cancel this payment? If you do not have another package subscription where your payment has been confirmed and activated, you will be blocked from this system{% endblock %}
{% block modalCancelLink %}
    <a href="{{ path('cancel_payment', { 'feeder': feeder.getId() }) }}" class="btn btn-outline pull-right">Proceed</a>
{% endblock %}
