{% extends 'member.base.html.twig' %}

{% block title %}Packages{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('subscribeError') %}
    	<div class="callout callout-danger">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>Select a Package</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active">Packages</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      	<div class="row">

      		{% for pack in packs %}
                <div class="col-sm-4 col-md-3">
                    <div class="plan-cell">
                        <ul class="list-group green">
                            <li class="list-group-item plan-name">{{ pack.getName() }}</li>
                            <li class="list-group-item plan-price catamaran">{{ app_currency_symbol }}{{ pack.getFormattedAmount() }}</li>
                            <li class="list-group-item catamaran"><i class="ion-ios-loop"></i> Auto Matching</li>
                            <li class="list-group-item catamaran"><i class="ion-arrow-up-c"></i> {{ app_currency_symbol }}{{ pack.getROI() }} Return on Investment</li>
                            {% if pack.getStatus() == 'granted' %}
                                <li class="list-group-item catamaran" style="padding:0"><a class="btn btn-success btn-block" href="{{ path('pack_subscription_new', {'pack' : pack.getId()}) }}">Subscribe</a></li>
                            {% elseif pack.getStatus() == 'feeders' %}
                                <li class="list-group-item catamaran" style="padding:0"><a class="btn btn-success btn-block" href="{{ path('pack_subscription_feeders', {'pack' : pack.getId()}) }}">Check Feeders</a></li>
                            {% elseif pack.getStatus() == 'payment' %}
                                {% if pack.getUserFeeder() == null %}    
                                    <li class="list-group-item catamaran" style="padding:0"><a class="btn btn-warning btn-block" href="{{ path('await_merging', {'pack' : pack.getId()}) }}">Awaiting Merging</a></li>
                                {% else %}
                                    <li class="list-group-item catamaran" style="padding:0"><a class="btn btn-warning btn-block" href="{{ path('make_payment', {'feeder' : pack.getUserFeeder().getId()}) }}">Payment Page</a></li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </div>
                </div>
      		{% endfor %}
      	</div>
    </section> <!-- End Main content -->
{% endblock %}