
<!DOCTYPE html>
<html>
<head>
<title>STATIUM HUB 
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
{# <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> #}
 <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dorsa" rel="stylesheet">
<!-- //web font -->
</head>
<body>
	<!--main-->
	<div class="main">	
		<h1>Packages</h1>

		<div class="pricing-agileinfo">

         {% for pack in packs %}

            {% if pack.getStatus() == 'feeders' %}

			<div class="pricing-grid grid-one" style="margin-right: 7px">
				<div class="w3ls-top">
					<h3>{{ pack.getName() }}</h3>
					<h4><span class="sup">{{ app_currency_symbol }}</span> 
				{{ pack.getFormattedAmount() }}
					  </h4>  
				</div>
				<div class="w3ls-bottom">
					<ul class="count">
						<li>{{ pack.getWorkStation() }} Workstation(s)</li>
						<li>{{ pack.getWorkSession()}}</li>
						<li>{{ pack.meetingRoom() }} (meetings)</li>
						{# <li>1*Month Free resources</li> #}
					</ul>
					<div class="more">
						{# <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Buy Now</a>				 #}

                <a class="book button-isi zoomIn animated">Subscribed</a>

					</div>
				</div>
			</div>

        {% endif %}
          {% endfor %}

		<!-- pop-up-grid -->
	
	</div>	
	<!-- //main -->
	<!--copyright-->
	
	<!-- popup.js -->
	{# <script src="js/jquery.min.js"></script> #}

  <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

   <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.js') }}"></script>

	{# <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>  #}

	 <script>
		$(document).ready(function() {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
																		
		});
	</script>
	<!-- //popup.js -->
</body>
</html>