{% extends 'member.base.html.twig' %}

{% block title %}Page Not Found{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>Page Not Found</h1>
        <ol class="breadcrumb">
          <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
          <li class="active">Page Not Found</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
        <div class="error-page">
          <h2 class="headline text-yellow"> 404</h2>

          <div class="error-content">
              <h3><i class="fa fa-warning text-yellow"></i> Oops! Page not found.</h3>

              <p>We could not find the page you were looking for. Meanwhile, you may <a href="{{ path('dashboard') }}">return to dashboard</a>.</p>
            </div>
        </div>
    </section>
{% endblock %}