
<!DOCTYPE html>
<html>
<head>
<title>{{ app_name}}</title>
<!-- for-mobile-apps -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
		function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- //for-mobile-apps -->
<link href="{{asset('css/payment_styles.css')}}" rel="stylesheet" type="text/css" media="all" />
<link href='//fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Alegreya+Sans:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,800,800italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{asset('js/jquery.min.js')}}"></script>
</head>
<body>
	<div class="main">
		<h1>Payment</h1>
		<div class="content">
			
			<script src="{{asset('js/easyResponsiveTabs.js')}}" type="text/javascript"></script>
					<script type="text/javascript">
						$(document).ready(function () {
							$('#horizontalTab').easyResponsiveTabs({
								type: 'default', //Types: default, vertical, accordion           
								width: 'auto', //auto or any width like 600px
								fit: true   // 100% fit in a container
							});
						});
						
					</script>
						<div class="sap_tabs">
							<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
								<div class="pay-tabs">
									<h2> Payment Method</h2>

									  <ul class="resp-tabs-list">
										  <li style="color: #000000;" class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>
										  <img src="/images/offline.png" alt="Offline" width="100" height="70">
										  <label>
										  </label style="color: #ff6600;"><h3>Mobile Money</h3>
										  </span>
										  </li>

										  <li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span><label class="pic3"></label>Statium wallet</span></li>

										  {# <li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span><label class="pic4"></label>PayPal</span></li>  #}
										  {# <li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span><label class="pic2"></label>Debit Card</span></li> #}
										  <div class="clear"></div>
									  </ul>	
								</div>

								<div class="resp-tabs-container">
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
										<div class="payment-info">

											<h3 style="color: #000000" class="pay-title">Mobile Money  Info</h3>

										<h3 style="color: #ff6600;">Send an amount of <em> GHS {{ pack.getFormattedAmount() }} </em> to
											Mobile money number <strong> ( +233 59 504 8488 ) </strong>
											 to activate your <em> {{ pack.getName() }} </em> </h3>

											<form id="submit_payment_info">
												<div class="tab-for">	

													<input type="hidden" value="{{ user_id }}" name="user_id" readonly >			

												<h5>PACKAGE COST </h5>
												<input type="text" value="GHS {{ pack.getFormattedAmount() }}" name="package_cost" readonly >			
												
												<h5>AMOUNT PAID </h5>
														<input type="text" name="amount_paid" required>			
												<h5>MOBILE MONEY NAME / ID</h5>

												<input type="text" name="mobile_money_name" required>

												{# <h5>MOBILE MONEY PLATFORM</h5>	

												<div class="radio-btns">
												<div class="swit">

													<div class="check_box"> <div class="radio"> <label><input type="radio" name="radio" checked="">
													<i></i>MTN MOBILE MONEY</label> </div>
													</div>

													</div>
												</div> #}

										        	<br/>

													<h5>MOBILE MONEY NUMBER</h5>							
													<input type="text" required="" name="mobile_money_number">
												</div>	

									<div class="single-bottom">
							<ul>
								<li>
							<input type="checkbox" name="terms"  id="terms_conditions">
							<label for="terms_conditions"><span></span>By checking this box, I agree to the Terms & Conditions.</label>
								</li>
							</ul>
											</div>

											<br/>
												
										<input type="submit" value="SUBMIT">

											</form>

										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
										<div class="payment-info">
								<h3 style="text-decoration: underline;">Statium Wallet</h3>
									
									<h3 style="color: #ff6600;">An amount of <em> GHS {{ pack.getFormattedAmount() }} </em> will be deducted from the User's wallet
										Provided to activate your <em> {{ pack.getName() }} </em> </h3>

										</div>

										<form id="submit_payment_wallet_info">
											<div class="tab-for">

												<input type="hidden" value="{{ user_id }}" name="user_id" readonly >
												<input type="hidden" value="{{ pack.getAmount() }}" name="pack_amount" readonly >

												<h5>PACKAGE COST </h5>
												<input type="text" value="GHS {{ pack.getFormattedAmount() }}" name="package_cost" readonly >

												<h5>STATIUM ACCOUNT USER NAME </h5>
												<input type="text" name="statium_account_user_name" required>

												<br/>

											</div>

											<div class="single-bottom">
												<ul>
													<li>
														<input type="checkbox" name="terms"  class="terms_conditions">
														<label for="terms_conditions"><span></span>By checking this box, I agree to the Terms & Conditions.</label>
													</li>
												</ul>
											</div>

											<br/>

											<input type="submit" value="SUBMIT">

										</form>

									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
										<div class="payment-info">
											<h3>PayPal</h3>
											<h4>Already Have A PayPal Account?</h4>
											<div class="login-tab">
												<div class="user-login">
													<h2>Login</h2>
													
													<form>
														<input type="text" value="name@email.com" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'name@email.com';}" required="">
														<input type="password" value="PASSWORD" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'PASSWORD';}" required="">
															<div class="user-grids">
																<div class="user-left">
																	<div class="single-bottom">
																			<ul>
																				<li>
																					<input type="checkbox"  id="brand1" value="">
																					<label for="brand1"><span></span>Remember me?</label>
																				</li>
																			</ul>
																	</div>
																</div>
																<div class="user-right">
																	<input type="submit" value="LOGIN">
																</div>
																<div class="clear"></div>
															</div>
													</form>
												</div>
											</div>
										</div>
									</div>
									<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">	
										<div class="payment-info">
											
											<h3 class="pay-title">Dedit Card Info</h3>
											<form>
												<div class="tab-for">				
													<h5>NAME ON CARD</h5>
														<input type="text" value="">
													<h5>CARD NUMBER</h5>													
														<input class="pay-logo" type="text" value="0000-0000-0000-0000" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '0000-0000-0000-0000';}" required="">
												</div>	
												<div class="transaction">
													<div class="tab-form-left user-form">
														<h5>EXPIRATION</h5>
															<ul>
																<li>
																	<input type="number" class="text_box" type="text" value="6" min="1" />	
																</li>
																<li>
																	<input type="number" class="text_box" type="text" value="1988" min="1" />	
																</li>
																
															</ul>
													</div>
													<div class="tab-form-right user-form-rt">
														<h5>CVV NUMBER</h5>													
														<input type="text" value="xxxx" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'xxxx';}" required="">
													</div>
													<div class="clear"></div>
												</div>
												<input type="submit" value="SUBMIT">
											</form>
											<div class="single-bottom">
													<ul>
														<li>
												<input type="checkbox">
															<label><span></span>By checking this box, I agree to the Terms & Conditions & Privacy Policy.</label>
														</li>
													</ul>
											</div>
										</div>	
									</div>
								</div>	
							</div>
						</div>	

		</div>

	</div>

	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

	<script>
	$("#submit_payment_info").submit(function(e){

		e.preventDefault();

	if(!($("#terms_conditions").is(":checked"))){
		swal("Title", "You need to agree to our terms and conditions!", "error")
	}else {

		 var formData = new FormData(this);
		 

    $.ajax({
                url: '/send-payments',
                type: "POST",                                 // Type of request to be send, called as method
                data:  formData,                            // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false,                         // The content type used when sending data to the server.
                cache: false,                              // To unable request pages to be cached
				processData:false,
                statusCode: {
                    404: function() {
                      alert( "page not found" );
                    },
                    500: function() {
                        alert( "failed!" );
                      }
                  }

            }).done(function (data) {
				
				swal("Good job!", "Thank you for registering with us and your payment will be confirmed within 24 hours.", "success").then((value) => {
					location.href="/member/dashboard"
					});;
               
            }).then(function () {
             
            })
		}
   })

	$("#submit_payment_wallet_info").submit(function(e){

		e.preventDefault();

	// if(!($(".terms_conditions").is(":checked"))){
	// 	swal("Title", "You need to agree to our terms and conditions!", "error")
	// }else {

		 var formData = new FormData(this);


    $.ajax({
                url: '/send-wallet-payment',
                type: "POST",                                 // Type of request to be send, called as method
                data:  formData,                            // Data sent to server, a set of key/value pairs (i.e. form fields and values)
                contentType: false,                         // The content type used when sending data to the server.
                cache: false,                              // To unable request pages to be cached
				processData:false,
                statusCode: {
                    404: function() {
                      alert( "page not found" );
                    },
					401: function() {
						swal("Title", "Wallet amount insufficient!", "error");
					},
					403: function() {
						swal("Title", "Username does not exist!", "error");

					},
                    500: function() {
                        alert( "failed!" );
                      }
                  }

            }).done(function (data) {

				swal("Good job!", "Thank you for registering with us and your payment will be confirmed within 24 hours.", "success").then((value) => {
					location.href="/member/dashboard"
					});;

            }).then(function () {

            })
		// }
   })

</script>
</body>
</html>