{% extends 'member.base.html.twig' %}

{% block title %}{{ app.user.getName() }}{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('notice') %}
    	<div class="callout callout-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ app.user.getName() }}'s Profile</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ app.user.getName() }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <!-- Left Side -->
            <div class="col-md-4">
                <!-- Links -->
                <div class="list-group">
                    <a href="{{ path('profile') }}" class="list-group-item list-group-item-success">Profile</a>
                    {#<a href="{{ path('bank_details') }}" class="list-group-item">Bank Details</a>#}
                    <a href="{{ path('change_password') }}" class="list-group-item">Change Password</a>
                </div> <!-- End Links -->
                
                <!-- Profile Image -->
                <div class="box box-warning">
                    
                    <div class="box-body box-profile">
                        
                        <img class="profile-user-img img-responsive img-circle" src="{{ asset(app.user.getAvatar()) }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ app.user.getName() }}</h3>

                        <p class="text-muted text-center">{{ app.user.getUsername() }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneOne() }}</a>
                            </li>
                            {% if app.user.getPhoneTwo() != null %}
                                <li class="list-group-item">
                                    <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneTwo() }}</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <i class="fa fa-envelope-o"></i> <a class="pull-right">{{ app.user.getEmail() }}</a>
                            </li>
                            {#{% if app.user.getBitcoinAddress() != null %}#}
                            {#<li class="list-group-item">#}
                                {#<i class="fa fa-envelope-o"></i> <a class="pull-right">{{ app.user.getBitcoinAddress() }}</a>#}
                            {#</li>#}
                            {#{% endif %}#}
                        </ul>
                    </div>
                </div> <!-- End Profile Image -->

                <!-- About Me Box -->
                <div class="box box-info">

                    {#<div class="box-header with-border">#}
                        {#<h3 class="box-title">Bitcoin Details</h3>#}
                    {#</div>#}

                    {#<div class="box-body">#}
                        {#{% if app.user.getBitcoinAddress() != null %}#}
                            {#<div class="alert alert-success text-center">#}
                                {#<p>You have added Bitcoin details</p>#}
                            {#</div>#}
                            {#<hr>#}
                            {#<strong><i class="fa fa-archive"></i> Bitcoin Address</strong>#}
                            {#<p class="text-muted">{{ app.user.getBitcoinAddress() }}</p>#}
                            {#<hr>#}
                        {#{% else %}#}
                            {#<div class="alert alert-danger text-center">#}
                                {#<p>You have not added Bitcoin details yet!</p>#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#</div>#}

                </div>

                {#<div class="box box-success">#}

                    {#<div class="box-header with-border">#}
                        {#<h3 class="box-title">Bank Details</h3>#}
                    {#</div>#}

                    {#<div class="box-body">#}
                        {#{% if app.user.getBankName() != null %}#}
                            {#<strong><i class="fa fa-bank"></i> Bank</strong>#}
                            {#<p class="text-muted">{{ app.user.getBankName() }}</p>#}
                            {#<hr>#}
                            {#<strong><i class="fa fa-archive"></i> Account Name</strong>#}
                            {#<p class="text-muted">{{ app.user.getBankAccountName() }}</p>#}
                            {#<hr>#}
                            {#<strong><i class="fa fa-th"></i> Account Number</strong>#}
                            {#<p class="text-muted">{{ app.user.getBankAccountNumber() }}</p>#}
                            {#<hr>#}
                            {#<strong><i class="fa fa-ellipsis-v"></i> Account Type</strong>#}
                            {#<p class="text-muted">{{ app.user.getBankAccountType() }}</p>#}
                        {#{% else %}#}
                            {#<div class="alert alert-danger text-center">#}
                                {#<p>You have not added bank details yet!</p>#}
                            {#</div>#}
                        {#{% endif %}#}
                    {#</div>#}

                {#</div>#}
            </div>

            <!-- Right Side -->
            <div class="col-md-8">

                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">Edit Personal Details</h3>
                    </div>

                    <div class="box-body">

                        {{ form_start(personalForm, {'action': path('profile'), 'attr': {'class': 'form-horizontal'}}) }}

                            {% for flash_message in app.session.flashBag.get('personalSuccess') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                                <label for="inputUsername" class="col-sm-2 control-label">Username</label>

                                <div class="col-sm-10">
                                    <p class="form-control-static">{{ app.user.getUsername() }}</p>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputEmail" class="col-sm-2 control-label">Email</label>

                                <div class="col-sm-10">
                                    <p class="form-control-static">{{ app.user.getEmail() }}</p>
                                </div>
                            </div>

                            {#<span class="text-danger">{{ form_errors(personalForm.bitcoin_address) }}</span>#}
                            {#<div class="form-group">#}
                                {#<label for="inputBitEmail" class="col-sm-2 control-label">Bitcoin Address</label>#}

                                {#<div class="col-sm-10">#}
                                    {#{{ form_widget(personalForm.bitcoin_address) }}#}
                                {#</div>#}
                            {#</div>#}


                            {#<div class="form-group">#}
                                {#<label for="inputSex" class="col-sm-2 control-label">Sex</label>#}

                                {#<div class="col-sm-10">#}
                                    {#<p class="form-control-static">{{ app.user.getSex() }}</p>#}
                                {#</div>#}
                            {#</div>#}

                            {#<span class="text-danger">{{ form_errors(personalForm.title) }}</span>#}
                            {#<div class="form-group">#}
                                {#{{ form_label(personalForm.title, 'Title', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}#}

                                {#<div class="col-sm-10">#}
                                    {#{{ form_widget(personalForm.title) }}#}
                                {#</div>#}
                            {#</div>#}

                            <span class="text-danger">{{ form_errors(personalForm.name) }}</span>
                            <div class="form-group">
                                {{ form_label(personalForm.name, 'Full Name', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(personalForm.name) }}
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="inputAvatar" class="col-sm-2 control-label">Avatar</label>

                                <div class="col-sm-10">
                                    <p class="form-control-static"><img class="profile-user-img img-responsive" src="{{ asset(app.user.getAvatar()) }}" style="margin: 0; border: none;"></p>
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(personalForm.avatarImage) }}</span>
                            <div class="form-group">
                                {{ form_label(personalForm.avatarImage, 'Change Avatar', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(personalForm.avatarImage) }}
                                </div>
                            </div>

                            {#<span class="text-danger">{{ form_errors(personalForm.resident_state) }}</span>#}
                            {#<div class="form-group">#}
                                {#{{ form_label(personalForm.resident_state, 'Resident State', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}#}

                                {#<div class="col-sm-10">#}
                                    {#{{ form_widget(personalForm.resident_state) }}#}
                                {#</div>#}
                            {#</div>#}

                            <span class="text-danger">{{ form_errors(personalForm.phone_one) }}</span>
                            <div class="form-group">
                                {{ form_label(personalForm.phone_one, 'Phone No 1', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(personalForm.phone_one) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(personalForm.phone_two) }}</span>
                            <div class="form-group">
                                {{ form_label(personalForm.phone_two, 'Phone No 2', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(personalForm.phone_two) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save Personal Details</button>
                                </div>
                            </div>

                        {{ form_end(personalForm) }}
                    </div>

                </div>
                
            </div>

        </div>

    </section>

{% endblock %}