{% extends 'member.base.html.twig' %}

{% block title %}{{ app.user.getName() }}{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('notice') %}
    	<div class="callout callout-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ app.user.getName() }}'s Profile</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ app.user.getName() }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <!-- Left Side -->
            <div class="col-md-4">
                <!-- Links -->
                <div class="list-group">
                    <a href="{{ path('profile') }}" class="list-group-item">Profile</a>
                    <a href="{{ path('bank_details') }}" class="list-group-item list-group-item-success">Bank Details</a>
                    <a href="{{ path('change_password') }}" class="list-group-item">Change Password</a>
                </div> <!-- End Links -->
                
                <!-- Profile Image -->
                <div class="box box-warning">
                    
                    <div class="box-body box-profile">
                        
                        <img class="profile-user-img img-responsive img-circle" src="{{ asset(app.user.getAvatar()) }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ app.user.getName() }}</h3>

                        <p class="text-muted text-center">{{ app.user.getUsername() }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneOne() }}</a>
                            </li>
                            {% if app.user.getPhoneTwo() != null %}
                                <li class="list-group-item">
                                    <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneTwo() }}</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <i class="fa fa-envelope-o"></i> <a class="pull-right">{{ app.user.getEmail() }}</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End Profile Image -->

                <!-- About Me Box -->
                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title">Bitcoin Address</h3>
                    </div>

                    <div class="box-body">
                        {% if app.user.getBitcoinAddress() != null %}
                            <div class="alert alert-success text-center">
                                <p>You have added Bitcoin details</p>
                            </div>
                            <hr>
                            <strong><i class="fa fa-archive"></i> Bitcoin Address</strong>
                            <p class="text-muted">{{ app.user.getBitcoinAddress() }}</p>
                            <hr>
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <p>You have not added Bitcoin details yet!</p>
                            </div>
                        {% endif %}
                    </div>

                </div>
                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Details</h3>
                    </div>

                    <div class="box-body">
                        {% if app.user.getBankName() != null %}
                            <strong><i class="fa fa-bank"></i> Bank</strong>
                            <p class="text-muted">{{ app.user.getBankName() }}</p>
                            <hr>
                            <strong><i class="fa fa-archive"></i> Account Name</strong>
                            <p class="text-muted">{{ app.user.getBankAccountName() }}</p>
                            <hr>
                            <strong><i class="fa fa-th"></i> Account Number</strong>
                            <p class="text-muted">{{ app.user.getBankAccountNumber() }}</p>
                            <hr>
                            <strong><i class="fa fa-ellipsis-v"></i> Account Type</strong>
                            <p class="text-muted">{{ app.user.getBankAccountType() }}</p>
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <p>You have not added bank details yet!</p>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>

            <!-- Right Side -->
            <div class="col-md-8">



                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Choose a bank account</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(bankForm, {'action': path('update_bank_choice'), 'attr': {'class': 'form-horizontal'}}) }}

                        {% for flash_message in app.session.flashBag.get('paymentSuccess') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        <span class="text-danger">{{ form_errors(bankForm.bank_choice) }}</span>
                        <div class="form-group">
                            <div class="col-sm-12">
                                {{ form_widget(bankForm.bank_choice) }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Choose a bank account</button>
                            </div>
                        </div>

                        {{ form_end(bankForm) }}


                    </div>


                </div>


                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">Default Bank Account</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(paymentForm, {'action': path('bank_details'), 'attr': {'class': 'form-horizontal'}}) }}

                        {% for flash_message in app.session.flashBag.get('paymentSuccess') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        <span class="text-danger">{{ form_errors(paymentForm.bankNameOne) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentForm.bankNameOne, 'Bank Name', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentForm.bankNameOne) }}
                            </div>
                        </div>

                        <span class="text-danger">{{ form_errors(paymentForm.accountNameOne) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentForm.accountNameOne, 'Account Name', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentForm.accountNameOne) }}
                            </div>
                        </div>

                        <span class="text-danger">{{ form_errors(paymentForm.accountNumberOne) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentForm.accountNumberOne, 'Account Number', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentForm.accountNumberOne) }}
                            </div>
                        </div>

                        <span class="text-danger">{{ form_errors(paymentForm.accountTypeOne) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentForm.accountTypeOne, 'Account Type', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentForm.accountTypeOne) }}
                            </div>
                        </div>



                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Save Payment Details</button>
                            </div>
                        </div>

                        {{ form_end(paymentForm) }}
                    </div>

                </div>


                <div class="box box-info">
                    <div class="box-header with-border">
                        <h3 class="box-title">Provisional Bank Account</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(paymentTwoForm, {'action': path('bank_details_two'), 'attr': {'class': 'form-horizontal'}}) }}


                        {% for flash_message in app.session.flashBag.get('paymentSuccess') %}
                            <div class="alert alert-success alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        <span class="text-danger">{{ form_errors(paymentTwoForm.bank_name_two) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentTwoForm.bank_name_two, 'Bank Name', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentTwoForm.bank_name_two) }}
                            </div>
                        </div>


                        <span class="text-danger">{{ form_errors(paymentTwoForm.account_name_two) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentTwoForm.account_name_two, 'Account Name', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentTwoForm.account_name_two) }}
                            </div>
                        </div>

                        <span class="text-danger">{{ form_errors(paymentTwoForm.account_number_two) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentTwoForm.account_number_two, 'Account Number', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentTwoForm.account_number_two) }}
                            </div>
                        </div>


                        <span class="text-danger">{{ form_errors(paymentTwoForm.account_type_two) }}</span>
                        <div class="form-group">
                            {{ form_label(paymentTwoForm.account_type_two, 'Account Type', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                            <div class="col-sm-10">
                                {{ form_widget(paymentTwoForm.account_type_two) }}
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-primary btn-block btn-flat">Save Payment Details</button>
                            </div>
                        </div>

                        {{ form_end(paymentTwoForm) }}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}