{% extends 'member.base.html.twig' %}

{% block title %}{{ app.user.getName() }}{% endblock %}

{% block body %}

	{% for flash_message in app.session.flashBag.get('notice') %}
    	<div class="callout callout-success">
        	<p>{{ flash_message }}</p>
    	</div>
	{% endfor %}
    
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>{{ app.user.getName() }}'s Profile</h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">{{ app.user.getName() }}</li>
        </ol>
    </section>

    <!-- Main content -->
    <section class="content">

        <div class="row">

            <!-- Left Side -->
            <div class="col-md-4">
                <!-- Links -->
                <div class="list-group">
                    <a href="{{ path('profile') }}" class="list-group-item">Profile</a>
                    <a href="{{ path('bank_details') }}" class="list-group-item">Bank Details</a>
                    <a href="{{ path('change_password') }}" class="list-group-item list-group-item-success">Change Password</a>
                </div> <!-- End Links -->
                

                <!-- Profile Image -->
                <div class="box box-warning">
                    
                    <div class="box-body box-profile">
                        
                        <img class="profile-user-img img-responsive img-circle" src="{{ asset(app.user.getAvatar()) }}" alt="User profile picture">

                        <h3 class="profile-username text-center">{{ app.user.getName() }}</h3>

                        <p class="text-muted text-center">{{ app.user.getUsername() }}</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneOne() }}</a>
                            </li>
                            {% if app.user.getPhoneTwo() != null %}
                                <li class="list-group-item">
                                    <i class="fa fa-phone"></i> <a class="pull-right">{{ app.user.getPhoneTwo() }}</a>
                                </li>
                            {% endif %}
                            <li class="list-group-item">
                                <i class="fa fa-envelope-o"></i> <a class="pull-right">{{ app.user.getEmail() }}</a>
                            </li>
                        </ul>
                    </div>
                </div> <!-- End Profile Image -->

                <!-- About Me Box -->
                <div class="box box-success">

                    <div class="box-header with-border">
                        <h3 class="box-title">Bank Details</h3>
                    </div>

                    <div class="box-body">
                        {% if app.user.getBankName() != null %}
                            <strong><i class="fa fa-bank"></i> Bank</strong>
                            <p class="text-muted">{{ app.user.getBankName() }}</p>
                            <hr>
                            <strong><i class="fa fa-archive"></i> Account Name</strong>
                            <p class="text-muted">{{ app.user.getBankAccountName() }}</p>
                            <hr>
                            <strong><i class="fa fa-th"></i> Account Number</strong>
                            <p class="text-muted">{{ app.user.getBankAccountNumber() }}</p>
                            <hr>
                            <strong><i class="fa fa-ellipsis-v"></i> Account Type</strong>
                            <p class="text-muted">{{ app.user.getBankAccountType() }}</p>
                        {% else %}
                            <div class="alert alert-danger text-center">
                                <p>You have not added bank details yet!</p>
                            </div>
                        {% endif %}
                    </div>

                </div>

            </div>

            <!-- Right Side -->
            <div class="col-md-8">

                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">Change Password</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(settingsForm, {'action': path('change_password'), 'attr': {'class': 'form-horizontal'}}) }}

                            {% for flash_message in app.session.flashBag.get('settingsSuccess') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('settingsError') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <span class="text-danger">{{ form_errors(settingsForm.oldPassword) }}</span>
                            <div class="form-group">
                                {{ form_label(settingsForm.oldPassword, 'Old Password', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(settingsForm.oldPassword) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(settingsForm.plainPassword.first) }}</span>
                            <div class="form-group">
                                {{ form_label(settingsForm.plainPassword.first, 'New Password', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(settingsForm.plainPassword.first) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(settingsForm.plainPassword.second) }}</span>
                            <div class="form-group">
                                {{ form_label(settingsForm.plainPassword.second, 'Confirm Password', { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(settingsForm.plainPassword.second) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Save Password Changes</button>
                                </div>
                            </div>
                        {{ form_end(settingsForm) }}
                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}