{% extends 'member.base.html.twig' %}

{% block title %}Wallet{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>
        	Your Wallet
      	</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active"><i class="fa fa-money"></i> Wallet</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
          		<!-- small box -->
          		<div class="small-box bg-green">
            		<div class="inner">
              			<h3>{{ app_currency_symbol }}{{ app.user.getFormattedPurse() }}</h3>
              			<p>Wallet</p>
            		</div>
            		<div class="icon">
              			<i class="ion ion-cash"></i>
            		</div>
            		<a class="small-box-footer">Wallet Balance <i class="fa fa-arrow-circle-right"></i></a>
          		</div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
					{% if app.user.getPurse != null %}
						<a href="{{ path('withdraw_purse') }}" class="list-group-item">Withdraw Wallet</a>
					{% else %}
						<a href="#" class="list-group-item">Empty Wallet</a>
					{% endif %}
          			<a href="{{ path('transfer_purse') }}" class="list-group-item">Transfer To User</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
    			{% if transactions.getTotalItemCount == 0 %}
    				<div class="alert alert-warning">
    					<p class="lead text-center">Sorry, either you do not have a referral yet or your referrals have not subscribed for any pack yet</p>
    					<hr>
    					<a href="{{ path('create-referral') }}" class="btn btn-info btn-block" style="text-decoration: none">Add Referral</a>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ transactions.getPaginationData.firstItemNumber }} to {{ transactions.getPaginationData.lastItemNumber }} out of {{ transactions.getTotalItemCount }} Transaction{% if transactions.getTotalItemCount != 1 %}s{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
	    					<table class="table table-responsive table-hover table-striped">
	    						<thead>
	    							<tr>
	    								<th>Username</th>
	    								<th>Name</th>
	    								<th>Amount</th>
	    								<th>Your Share</th>
	    								<th>Status</th>
	    								<th>Date</th>
	    							</tr>
	    						</thead>

	    						<tbody>
	    							{% for transaction in transactions %}
	    								<tr class="{% if transaction.getStatus() == 'not_confirmed' %}text-danger{% else %}text-success{% endif %}">
	    									<td>{{ transaction.getFeeder().getUsername() }}</td>
	    									<td>{{ transaction.getFeeder().getName() }}</td>
	    									<td>{{ transaction.getFormattedAmount() }}</td>
	    									<td>{{ transaction.getFormattedShare() }}</td>
	    									<td>{{ transaction.getStatus() }}</td>
	    									<td>{{ transaction.getCreated()|date('d F, Y') }}</td>
	    								</tr>
	    							{% endfor %}
	    						</tbody>
	    					</table>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(transactions) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section>
{% endblock %}