{% extends 'member.base.html.twig' %}

{% block title %}Referrals{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>
        	Your Referrals
      	</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active"><i class="fa fa-users"></i> Referrals</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
          		<!-- small box -->
          		<div class="small-box bg-aqua">
            		<div class="inner">
              			<h3>{{ app.user.getReferralsCount() }}</h3>
						<p>Referral{% if app.user.getReferralsCount() != 1 %}s{% endif %}</p>
            		</div>
            		<div class="icon">
              			<i class="ion ion-ios-people"></i>
            		</div>
            		<a class="small-box-footer">Your Referrals <i class="fa fa-arrow-circle-right"></i></a>
          		</div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('create-referral') }}" class="list-group-item"><i class="fa fa-plus"></i> Add Referral</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

                <!-- Referral Link -->
                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">Your Referral Link</h3>
                    </div>

                    <div class="box-body">
                        <p class="text-muted">{{ adm.siteurl }}/ref/{{ app.user.getUsername() }}</p>
                    </div>
                </div> <!-- End Referral Link -->
                
    			{% if referrals.getTotalItemCount == 0 %}
    				<div class="alert alert-warning">
    					<p class="lead text-center">Sorry, you do not have any referrals yet</p>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ referrals.getPaginationData.firstItemNumber }} to {{ referrals.getPaginationData.lastItemNumber }} out of {{ referrals.getTotalItemCount }} Referral{% if referrals.getTotalItemCount != 1 %}s{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
	    					<table class="table table-responsive table-hover table-striped">
	    						<thead>
	    							<tr>
	    								<th>Name</th>
	    								<th>Username</th>
	    								<th>Email</th>
	    								<th>Date Joined</th>
										<th> Pack </th>
										<th> Amount </th>
										<th> PV </th>
										{# <th>TPV </th> #}
										
	    							</tr>
	    						</thead>

	    						<tbody>
	    							{% for referral in referrals %}
	    								<tr class="{% if referral.getStatus() == 'active' %}text-success{% else %}text-danger{% endif %}">
	    									<td>{{ referral.getName() }}</td>
	    									<td>{{ referral.getUsername() }}</td>
	    									<td>{{ referral.getEmail() }}</td>
	    									<td>{{ referral.getCreated()|date('d F, Y') }}</td>

											<td  id="name-{{ referral.getId()}}">
											<btn data-id="{{ referral.getId()}}" class="btn btn-success view-pack">View Pack Info
											</btn> </td>
										<td id="amount-{{ referral.getId()}}" data-id="amount-{{ referral.getId()}}"></td>
											<td id="pv-{{ referral.getId()}}" data-id="pv-{{ referral.getId()}}">  </td>
											{# <td>  </td> #}
	    								</tr>
	    							{% endfor %}
	    						</tbody>
							
	    					</table>
								<p>Total: </p>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(referrals) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Main Content -->
    	</div>
    </section> <!-- End Main Content -->
	{# <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script> #}
	
		
	 </script>
{% endblock %}