{% extends 'member.base.html.twig' %}

{% block title %}My Testimonies{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            My Testimonies
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-comments-o"></i> My Testimonies</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">

                <!-- small box -->
                <div class="small-box bg-blue">
                    <div class="inner">
                        <h3>{{ reviews.getTotalItemCount }}</h3>
                        <p>Testimonies</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a class="small-box-footer">My Testimonies <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('create_review') }}" class="list-group-item">Create New Testimony</a>
                    <a href="{{ path('reviews') }}" class="list-group-item list-group-item-success">View Testimonies</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
                
                {% for flash_message in app.session.flashBag.get('testimonySuccess') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}

    			{% if reviews.getTotalItemCount == 0 %}
    				<div class="alert alert-warning">
    					<p class="lead text-center">You have not created any testimony yet</p>
    					<hr>
    					<a href="{{ path('create_review') }}" class="btn btn-info btn-block" style="text-decoration: none">Create Testimony</a>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ reviews.getPaginationData.firstItemNumber }} to {{ reviews.getPaginationData.lastItemNumber }} out of {{ reviews.getTotalItemCount }} Testimon{% if reviews.getTotalItemCount != 1 %}ies{% else %}y{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
                            <div class="page-content-body">
                                <div class="row">
                                    {% for review in reviews %}
                                        <!-- Testimonials Cell -->
                                        <div class="col-sm-12 clearfix media-section testimonials-cell">
                                            <img src="{{ asset(review.getUser().getAvatar()) }}" class="pull-left" style="max-width:100px;height:auto">
                                            <div class="push-right">
                                                <h3 class="pink">{{ review.getUser().getName() }}</h3>
                                                <p class="catamaran"><small>{{ review.getCreatedDate()|date('d M, Y') }} |
                                                        {#{{ review.getUser().getResidentState() }}#}
                                                    </small></p>
                                                <p class="catamaran">{{ review.getTestimony }}</p>
                                            </div>
                                        </div> <!-- End Testimonials Cell -->
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(reviews) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}