{% extends 'member.base.html.twig' %}

{% block title %}Complaints{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>
        	Complaints
      	</h1>
      	<ol class="breadcrumb">
        	<li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
        	<li class="active"><i class="fa fa-ticket"></i> Complaints</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">

          		<!-- small box -->
          		<div class="small-box bg-red">
            		<div class="inner">
              			<h3>{{ supports.getTotalItemCount }}</h3>
              			<p>Complaints</p>
            		</div>
            		<div class="icon">
              			<i class="fa fa-ticket"></i>
            		</div>
            		<a class="small-box-footer">Complaints Count <i class="fa fa-arrow-circle-right"></i></a>
          		</div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('create_support') }}" class="list-group-item">Add New Complaint</a>
                    <a href="{{ path('support') }}" class="list-group-item list-group-item-success">View Complaints</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
    			{% if supports.getTotalItemCount == 0 %}
    				<div class="alert alert-warning">
    					<p class="lead text-center">You have not created any ticket yet</p>
    					<hr>
    					<a href="{{ path('create_support') }}" class="btn btn-info btn-block" style="text-decoration: none">Add New Complaint </a>
    				</div>
    			{% else %}
	    			<div class="box">
	    				<div class="box-header with-border text-center">
	    					<h3 class="box-title">Showing {{ supports.getPaginationData.firstItemNumber }} to {{ supports.getPaginationData.lastItemNumber }} out of {{ supports.getTotalItemCount }} Complaint{% if supports.getTotalItemCount != 1 %}s{% endif %}</h3>
	    				</div>

	    				<div class="box-body">
	    					<table class="table table-responsive table-hover table-striped">
	    						<thead>
	    							<tr>
	    								<th>#</th>
	    								<th>Subject</th>
	    								<th>Status</th>
	    								<th>Date</th>
	    							</tr>
	    						</thead>

	    						<tbody>
	    							{% for support in supports %}
	    								<tr>
	    									<td>{{ support.getId() }}</td>
	    									<td><a href="{{ path('view_support', {'support' : support.getId()}) }}">{{ support.getSubject() }}</a></td>
	    									<td>
	    										{% if support.getStatus() == 'user_reply' %}
	    											<button class="btn btn-xs btn-warning">User Reply</button>
	    										{% elseif support.getStatus() == 'admin_reply' %}
	    											<button class="btn btn-xs btn-success">Admin Reply</button>
	    										{% elseif support.getStatus() == 'blank' %}
	    											<button class="btn btn-xs btn-info">Blank</button>
	    										{% elseif support.getStatus() == 'closed' %}
	    											<button class="btn btn-xs btn-danger">Closed</button>
	    										{% endif %}
	    									</td>
	    									<td>{{ support.getCreatedDate()|date('d F, Y') }}</td>
	    								</tr>
	    							{% endfor %}
	    						</tbody>
	    					</table>
	    				</div>
	    			</div>

	                <div class="navigation text-center">
	                    {{ knp_pagination_render(supports) }}
	                </div>
    			{% endif %}
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}