{% extends 'member.base.html.twig' %}

{% block title %}Transfer Wallet{% endblock %}

{% block body %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Transfer Wallet
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('purse') }}"><i class="fa fa-money"></i> Wallet</a></li>
            <li class="active"><i class="fa fa-arrows-h"></i> Transfer Wallet</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>{{ app_currency_symbol }}{{ app.user.getFormattedPurse() }}</h3>
                        <p>Wallet</p>
                    </div>
                    <div class="icon">
                        <i class="ion ion-cash"></i>
                    </div>
                    <a class="small-box-footer">Wallet Balance <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
          			<a href="{{ path('withdraw_purse') }}" class="list-group-item">Withdraw Wallet</a>
          			<a href="{{ path('transfer_purse') }}" class="list-group-item list-group-item-success">Transfer To User</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">
                <div class="box box-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Transfer Wallet Funds To User</h3>
                    </div>

                    <div class="box-body">
                        {{ form_start(form, {'action': path('transfer_purse'), 'attr': {'class': 'form-horizontal'}}) }}
                            {% for flash_message in app.session.flashBag.get('transferSuccess') %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            {% for flash_message in app.session.flashBag.get('transferError') %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                    <p>{{ flash_message }}</p>
                                </div>
                            {% endfor %}

                            <span class="text-danger">{{ form_errors(form.username) }}</span>
                            <div class="form-group">
                                {{ form_label(form.username, "Receiver's Username", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(form.username) }}
                                </div>
                            </div>

                            <span class="text-danger">{{ form_errors(form.amount) }}</span>
                            <div class="form-group">
                                {{ form_label(form.amount, "Amount", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                <div class="col-sm-10">
                                    {{ form_widget(form.amount) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Transfer Funds</button>
                                </div>
                            </div>

                        {{ form_end(form) }}
                    </div>
                </div>
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section>
{% endblock %}