{% extends 'member.base.html.twig' %}

{% block title %}Unauthorized Access{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      	<h1>Unauthorized Access</h1>
      	<ol class="breadcrumb">
      		<li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        	<li class="active">Unauthorized Access</li>
      	</ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
      	<div class="error-page">
        	<h2 class="headline text-red"> 500</h2>

        	<div class="error-content">
          		<h3><i class="fa fa-warning text-red"></i> Access Denied!</h3>

          		<p>You do not have access to this page. Meanwhile, you may <a href="{{ path('dashboard') }}">return to dashboard</a>.</p>
          	</div>
        </div>
    </section>
{% endblock %}