{% extends 'member.base.html.twig' %}

{% block title %}Case #{{ jury.getId() }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Case #{{ jury.getId() }}

            {% if jury.getStatus() == 'giver_reply' %}
                <button class="btn btn-lg btn-info">Feeder Reply</button>
            {% elseif jury.getStatus() == 'receiver_reply' %}
                <button class="btn btn-lg btn-primary">Receiver Reply</button>
            {% elseif jury.getStatus() == 'admin_reply' %}
                <button class="btn btn-lg btn-warning">Admin Reply</button>
            {% elseif jury.getStatus() == 'open' %}
                <button class="btn btn-lg btn-success">Open</button>
            {% elseif jury.getStatus() == 'closed' %}
                <button class="btn btn-lg btn-danger">Closed</button>
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('jury') }}"><i class="fa fa-university"></i> Cases</a></li>
            <li class="active"><i class="fa fa-sticky-note"></i> Case #{{ jury.getId() }}</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
                <!-- small box -->
                <div class="small-box bg-purple">
                    <div class="inner">
                        <h3>{{ courtCount }}</h3>
                        <p>Court Cases</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-university"></i>
                    </div>
                    <a class="small-box-footer">Court Cases <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('jury') }}" class="list-group-item">View Court Cases</a>
          		</div> <!-- End Links -->

                <!-- Participants -->
                <div class="box box-info">

                    <div class="box-header with-border">
                        <h3 class="box-title">In Attendance</h3>
                    </div>

                    <div class="box-body">
                        <strong><i class="fa fa-angle-double-up"></i> Receiver</strong>
                        <p class="text-muted">{{ receiver.getName() }}</p>
                        <hr>
                        <strong><i class="fa fa-angle-double-down"></i> Feeder</strong>
                        <p class="text-muted">{{ feeder.getName() }}</p>
                    </div>
                </div> <!-- End Participants -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

                {% for flash_message in app.session.flashBag.get('courtMessageSuccess') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('courtMessageError') %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}

                {% if jury.getStatus() != 'closed' %}
                    <div class="alert alert-info">
                        <p>Welcome to the Jury's Stand. Kindly Make your statement</p>
                    </div>
                {% endif %}

                {% if jury.getVerdict() != 'none' %}
                    <div class="alert alert-warning">
                        <p class="lead">Judge's Verdict</p>
                        <p>{{ jury.getVerdict() }}</p>
                    </div>
                {% endif %}

                <div class="box box-warning direct-chat direct-chat-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Case #{{ jury.getId() }} Statements</h3>
                    </div>

                    <div class="box-body">
                        <!-- Direct Chat Messages -->
                        <div class="direct-chat-messages">

                            {% for juryMessage in juryMessages %}
                                {% if juryMessage.getSenderId() == app.user.getId() %}
                                    <!-- Message to the right -->
                                    <div class="direct-chat-msg right margin-bottom-25">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-right">{{ app.user.getName() }}</span>
                                            <span class="direct-chat-timestamp pull-left">{{ juryMessage.getCreatedDate()|date('d M. Y H:i') }}</span>
                                        </div>
                                        <img class="direct-chat-img" src="{{ asset(app.user.getAvatar()) }}">
                                        <div class="direct-chat-text">
                                            {{ juryMessage.getMessage() }}
                                            {% if juryMessage.getAttachment() != null %}
                                                <hr>
                                                <img src="{{ asset(juryMessage.getAttachment()) }}" class="img-responsive">
                                            {% endif %}
                                        </div>
                                    </div> <!-- End Message to the right -->
                                {% else %}
                                    <!-- Message. Default to the left -->
                                    <div class="direct-chat-msg margin-bottom-25">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-left">{% if juryMessage.getSenderType() != 'admin' %}{{ juryMessage.getSender().getName }}{% else %}Admin{% endif %}</span>
                                            <span class="direct-chat-timestamp pull-right">{{ juryMessage.getCreatedDate()|date('d M. Y H:i') }}</span>
                                        </div>
                                        <img class="direct-chat-img" src="{% if juryMessage.getSenderType() != 'admin' %}{{ asset(juryMessage.getSender().getAvatar()) }}{% else %}{{ asset('img/avatar_m.png') }}{% endif %}">
                                        <div class="direct-chat-text">
                                            {{ juryMessage.getMessage() }}
                                            {% if juryMessage.getAttachment() != null %}
                                                <hr>
                                                <img src="{{ asset(juryMessage.getAttachment()) }}" class="img-responsive">
                                            {% endif %}
                                        </div>
                                    </div> <!-- End Message.Default to the left -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End Direct Chat Messages -->
                    </div>

                </div>

                {% if jury.getStatus() != 'closed' %}

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Statement</h3>
                        </div>

                        <div class="box-body">
                            {{ form_start(juryMessageForm, {'action': path('user_case', {'case' : jury.getId()}), 'attr': {'class': 'form-horizontal'}}) }}

                                <span class="text-danger">{{ form_errors(juryMessageForm.message) }}</span>
                                <div class="form-group">
                                    {{ form_label(juryMessageForm.message, "Add Statement", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                    <div class="col-sm-10">
                                        {{ form_widget(juryMessageForm.message) }}
                                    </div>
                                </div>

                                <span class="text-danger">{{ form_errors(juryMessageForm.attachmentFile) }}</span>
                                <div class="form-group">
                                    {{ form_label(juryMessageForm.attachmentFile, "Evidence (Optional)", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                    <div class="col-sm-10">
                                        {{ form_widget(juryMessageForm.attachmentFile) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success btn-block btn-flat">Add Statement</button>
                                    </div>
                                </div>
                            {{ form_end(juryMessageForm) }}
                        </div>
                    </div>
                {% endif %}

    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}