{% extends 'member.base.html.twig' %}

{% block title %}{{ mailRecipient.getMail().getSubject() }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{ mailRecipient.getMail().getSubject() }}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"><i class="fa fa-comments-o"></i> My Mailbox</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">

                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ app.user.getMailCount() }}</h3>
                        <p>Unread Mails</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-comments-o"></i>
                    </div>
                    <a class="small-box-footer">My Mailbox <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('member_mails') }}" class="list-group-item">View Mailbox</a>
                    <a href="#" class="list-group-item" data-toggle="modal" data-target="#viewCancelModal">Delete Mail</a>
          		</div> <!-- End Links -->
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

    			<div class="box">
    				<div class="box-header with-border text-center">
    					<h3 class="box-title">{{ mailRecipient.getMail().getSubject() }} | {{ mailRecipient.getMail().getCreated()|date('d M. Y H:i') }}</h3>
    				</div>

    				<div class="box-body">
                        <div class="page-content-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    {{ mailRecipient.getMail().getMail()|raw }}
                                </div>
                            </div>
                        </div>
    				</div>
    			</div>
    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}

{% block modalCancelHeader %}Delete Mail{% endblock %}
{% block modalCancelBody %}You are about to delete this mail{% endblock %}
{% block modalCancelLink %}
    <a href="{{ path('member_delete_mail', {'mailRecipient' : mailRecipient.getId()}) }}" class="btn btn-outline pull-right">Proceed</a>
{% endblock %}