{% extends 'public.base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Forgot Password</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="login-box" style="margin: 0 auto !important">
                    <!-- /.login-logo -->
                    <div class="login-box-body">

                        {% for flash_message in app.session.flashBag.get('forgotError') %}
                            <div class="alert alert-danger">
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        {% for flash_message in app.session.flashBag.get('forgotSuccess') %}
                            <div class="alert alert-success">
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}
        
                        {{ form_start(form, {'action': path('forgot_password'), 'attr': {'class': 'form-horizontal'}}) }}
                                
                            <span class="text-danger">{{ form_errors(form.email) }}</span>

                            <div class="form-group">
                                {{ form_label(form.email, 'Email', { 'label_attr': {'class': 'col-sm-3 control-label'} }) }}

                                <div class="col-sm-9">
                                    {{ form_widget(form.email) }}
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-sm-12">
                                    <button type="submit" class="btn btn-danger btn-block btn-flat">Reset Password</button>
                                </div>
                            </div>
                    
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}