{% extends 'public.base.html.twig' %}

{% block title %}Sign In{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Sign In</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                <div class="login-box" style="margin: 0 auto !important">
                    <!-- /.login-logo -->
                    <div class="login-box-body">
                        {% if error %}
                            <div class="alert alert-danger">
                                {{ error.messageKey|trans(error.messageData) }}
                            </div>
                        {% endif %}

                        <form action="{{ path('security_login_check') }}" method="post">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" placeholder="Username" name="username" value="{{ last_username }}">
                                <span class="fa fa-user-o form-control-feedback"></span>
                            </div>
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" placeholder="Password" name="password">
                                <span class="fa fa-key form-control-feedback"></span>
                            </div>
                            <div class="row">
                                <div class="col-xs-8">
                                    <div class="checkbox icheck">
                                        <label>
                                            <input type="checkbox" name="_remember_me"> Remember Me
                                        </label>
                                    </div>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                                </div>
                                <!-- /.col -->
                            </div>
                            <input type="hidden" name="ver" value="u">
                        </form>


                        <a href="{{ path('forgot_password') }}">Forgot password</a> | <a href="{{ path('register_pack') }}" class="text-center">Register</a>
                    </div>
                    <!-- /.login-box-body -->
                </div>
                <!-- /.login-box -->
            </div>
        </div>
    </section>

{% endblock %}