{% extends 'public.base.html.twig' %}

{% block title %}Register Package{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                    {% for flash_message in app.session.flashBag.get('packError') %}
                        <div class="alert alert-danger">
                            <p>{{ flash_message }}</p>
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('userReferrerError') %}
                        <div class="alert alert-danger">
                            <p>{{ flash_message }}</p>
                        </div>
                    {% endfor %}

                    {% for flash_message in app.session.flashBag.get('userReferrer') %}
                        <div class="alert alert-success">
                            <p>{{ flash_message }}</p>
                        </div>
                    {% endfor %}

                    <h2>Select a Package to Start With</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                {% for pack in packs %}

                    <div class="col-sm-3 col-md-3">
                        <div class="plan-cell">
                            <ul class="list-group green">
                                <li class="list-group-item plan-name">{{ pack.getName() }}</li>
                                <li class="list-group-item plan-price catamaran">{{ app_currency_symbol }}{{ pack.getFormattedAmount() }}</li>
                                <li class="list-group-item catamaran"><i class="ion-ios-loop"></i> Auto Matching</li>
                                <li class="list-group-item catamaran"><i class="ion-arrow-up-c"></i> {{ app_currency_symbol }}{{ pack.getROI() }} Return on Investment</li>
                                <li class="list-group-item catamaran" style="padding:0"><a href="{{ path('register', {'pack' : pack.getId() }) }}" class="btn btn-warning btn-block">Sign Up</a></li>
                            </ul>
                        </div>
                    </div>

                {% endfor %}

            </div>
        </div>
    </section>

{% endblock %}