
<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{app_name}}</title>
    <!-- meta tags -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content=""
    />
    <!-- /meta tags -->
    <!-- custom style sheet -->
    <link href="{{ asset('css/style_login.css')}}" rel="stylesheet" type="text/css" />
    <!-- /custom style sheet -->
    <!-- fontawesome css -->
    <link href="{{ asset('css/fontawesome-all.css')}}" rel="stylesheet" />
    <!-- /fontawesome css -->
    <!-- google fonts-->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <!-- /google fonts-->

</head>


<body>
    <h1>Statium Hub Sign Up Form</h1>
    <div class=" w3l-login-form">
        <h2>Login Here</h2>

        {% for flash_message in app.session.flashBag.get('userReferrerError') %}
            <div class="alert alert-danger" style="color: red;">
                <p>{{ flash_message }}</p>
            </div>
        {% endfor %}


        {% for flash_message in app.session.flashBag.get('userReferrer') %}
        <div class="alert alert-success">
            <p>{{ flash_message }}</p>
        </div>
    {% endfor %}

              {{ form_start(form) }}

            
            <div class=" w3l-form-group">

<div class="alert alert-warning">
<p class="lead text-center">You have selected the {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package</p>
                </div>
             
                <label>Username:</label>
                <div class="group">
                    <i class="fas fa-user"></i>
                    <input type="text"  name="username" class="form-control" placeholder="Username" required="required" value="{{ last_username }}" />
                </div>
            </div>
            <div class="w3l-form-group">
                <label>Password:</label>
                <div class="group">
                    <i class="fas fa-unlock"></i>
                    <input type="password" class="form-control" placeholder="Password" name="password" required="required" />
                </div>
                    <input type="hidden" name="ver" value="u">
            </div>
            <div class="forgot">
                <a href="{{ path('forgot_password') }}">Forgot Password?</a>
                <p><input name="_remember_me" type="checkbox">Remember Me</p>
            </div>
            <button type="submit">Login</button>
        </form>
        <p class="w3l-register-p">Don't have an account?<a href="{{ path('register_pack') }}"  class="register"> Register</a></p>
    </div>
    <footer>
        {# <p class="copyright-agileinfo"> &copy; 2018 Material Login Form. All Rights Reserved | Design by <a href="http://w3layouts.com">W3layouts</a></p> #}
    </footer>

</body>

</html>