
<!DOCTYPE html>
<html>
<head>
<title>STATIUM HUB 
</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!-- Custom Theme files -->
{# <link href="css/style.css" rel="stylesheet" type="text/css" media="all" /> #}
 <link href="{{ asset('css/styles.css') }}" rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<!-- //Custom Theme files -->
<!-- web font -->
<link href="//fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet">
<link href="//fonts.googleapis.com/css?family=Dorsa" rel="stylesheet">
<!-- //web font -->
</head>
<body style="background:#f56046;">
	<!--main-->
	<div class="main">

		<ul class="nav nav-tabs">
			<li class="active" ><a style="color: black;" data-toggle="tab" href="#home">Workstation Packages</a></li>
			<li ><a style="color: black;" data-toggle="tab" href="#menu2">Personal Packages</a></li>
		</ul>

		<div class="tab-content">
			<div id="home" class="tab-pane fade in active">
				<h1>Workstation Packages</h1>
				<div class="pricing-agileinfo">

					{% for pack in packs %}

						{% if pack.getWorkstationPackage() == false %}
						<div class="pricing-grid grid-one" style="margin-right: 4px">
							<div class="w3ls-top">
								<h3>{{ pack.getName() }}</h3>
								<h4><span class="sup">{{ app_currency_symbol }}</span>
									{{ pack.getFormattedAmount() }}
								</h4>
							</div>
							<div class="w3ls-bottom">
								<ul class="count">
									{% if pack.getId() == 130 %}

										<li>Corporate Engagement Services</li>
										<li>Global MarketPlace PlatForm</li>
										<li>Network with Global Business Leaders</li>
										<li>Industry Research Services</li>
										<li>Value Added Services</li>

									{% elseif pack.getId() == 121 %}
										<li></li>
										<li></li>
										<li>Entrepreneurship course through our PODCAST Channel</li>
										<li></li>
										<li></li>

									{% elseif pack.getId() == 122 %}
										<li>Corporate Engagement Services</li>
										<li>Corporate Documentary Video</li>
										<li>Brand Broadcast</li>
										<li>Social Media Campaign</li>
										<li>Value Added Services</li>

									{% else %}
										<li>{{ pack.getWorkStation() }} Workstation(s)</li>
										<li>{{ pack.getWorkSession()}}</li>
										<li>{{ pack.meetingRoom() }} (meetings)</li>
										<li></li>
										<li></li>

									{% endif %}
								</ul>
								<div class="more">
									{# <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Buy Now</a>				 #}

									<a class="book button-isi zoomIn animated" href="{{ path('register', {'pack' : pack.getId() }) }}">Buy Now</a>

								</div>
							</div>
						</div>
						{% endif %}

					{% endfor %}

					<!-- pop-up-grid -->
					<div id="small-dialog" class="mfp-hide">
						<div class="pop_up">
							<div class="payment-online-form-left">
								{# <form action="#" method="post">  #}
								{{ form_start(form) }}

								<h4>Account Info</h4>
								<ul>
									<li>
										{{ form_widget(form.username, {'attr': {'class': 'text-box-dark'}}) }}
									</li>

									<li>
										{{ form_widget(form.name, {'attr': {'class': 'text-box-dark'}}) }}
									</li>
								</ul>

								<ul>
									<li>{{ form_widget(form.email, {'attr': {'class': 'text-box-dark'}}) }}</li>

									<li>{{ form_widget(form.phone_one, {'attr': {'class': 'text-box-dark'}}) }}</li>

								</ul>

								<ul>
									<li>
										{{ form_widget(form.plainPassword.second, {'attr': {'class': 'text-box-dark'}}) }}
									</li>

									<li>{{ form_widget(form.plainPassword.second, {'attr': {'class': 'text-box-dark'}}) }}</li>

								</ul>
								<div class="clear"> </div>
								<div class="payment-type">
									<h4>Payment Method</h4>
									<li><span class="col_checkbox">
									<input type="radio" id="f-option" name="selector">
									<label for="f-option"><div class="visa"> </div></label>
									<div class="check"></div>
								</span>
									</li>
									<li>
								<span class="col_checkbox">
									<input type="radio" id="t-option" name="selector">
									 <label for="t-option"><div class="paypal"> </div></label>
									<div class="check"><div class="inside"></div></div>
								</span>
									</li>
								</div>
								<div class="clear"> </div>
								<ul>
									<li><input class="text-box-dark" placeholder="Card Number" type="text" required></li>
									<li><input class="text-box-dark" placeholder="Name on card" type="text" required></li>
								</ul>
								<ul>
									<li><input class="text-box-light hasDatepicker" placeholder="Expiration Date" type="text" required></li>
									<li><input class="text-box-dark" placeholder="Security Code" type="text" required></li>
								</ul>
								<ul class="payment-sendbtns">
									<li><input type="reset" value="Reset"></li>
									<li><input type="submit" value="Process order"></li>
								</ul>
								<div class="clear"> </div>
								{# </form> #}
								{{ form_end(form) }}
							</div>
						</div>
					</div>
					<!-- //pop-up-grid -->
				</div>
			</div>
			<div id="menu2" class="tab-pane fade">
				<h1>Personal Packages</h1>
				<div class="pricing-agileinfo">

					{% for pack in packs %}

						{% if pack.getWorkstationPackage() == true %}
							<div class="pricing-grid grid-one" style="margin-right: 4px">
								<div class="w3ls-top">
									<h3>{{ pack.getName() }}</h3>
									<h4><span class="sup">{{ app_currency_symbol }}</span>
										{{ pack.getFormattedAmount() }}
									</h4>
								</div>
								<div class="w3ls-bottom">
									<ul class="count">
										{% if pack.getId() == 130 %}

											<li>Corporate Engagement Services</li>
											<li>Global MarketPlace PlatForm</li>
											<li>Network with Global Business Leaders</li>
											<li>Industry Research Services</li>
											<li>Value Added Services</li>

										{% elseif pack.getId() == 121 %}
											<li></li>
											<li></li>
											<li>Entrepreneurship course through our PODCAST Channel</li>
											<li></li>
											<li></li>

										{% elseif pack.getId() == 122 %}
											<li>Corporate Engagement Services</li>
											<li>Corporate Documentary Video</li>
											<li>Brand Broadcast</li>
											<li>Social Media Campaign</li>
											<li>Value Added Services</li>

										{% else %}
											<li>{{ pack.getWorkStation() }} Workstation(s)</li>
											<li>{{ pack.getWorkSession()}}</li>
											<li>{{ pack.meetingRoom() }} (meetings)</li>
											<li></li>
											<li></li>

										{% endif %}
									</ul>
									<div class="more">
										{# <a class="book popup-with-zoom-anim button-isi zoomIn animated" data-wow-delay=".5s" href="#small-dialog">Buy Now</a>				 #}

										<a class="book button-isi zoomIn animated" href="{{ path('register', {'pack' : pack.getId() }) }}">Buy Now</a>

									</div>
								</div>
							</div>
						{% endif %}

					{% endfor %}
					<!-- pop-up-grid -->
					<div id="small-dialog" class="mfp-hide">
						<div class="pop_up">
							<div class="payment-online-form-left">
								{# <form action="#" method="post">  #}
								{{ form_start(form) }}

								<h4>Account Info</h4>
								<ul>
									<li>
										{{ form_widget(form.username, {'attr': {'class': 'text-box-dark'}}) }}
									</li>

									<li>
										{{ form_widget(form.name, {'attr': {'class': 'text-box-dark'}}) }}
									</li>
								</ul>

								<ul>
									<li>{{ form_widget(form.email, {'attr': {'class': 'text-box-dark'}}) }}</li>

									<li>{{ form_widget(form.phone_one, {'attr': {'class': 'text-box-dark'}}) }}</li>

								</ul>

								<ul>
									<li>
										{{ form_widget(form.plainPassword.second, {'attr': {'class': 'text-box-dark'}}) }}
									</li>

									<li>{{ form_widget(form.plainPassword.second, {'attr': {'class': 'text-box-dark'}}) }}</li>

								</ul>
								<div class="clear"> </div>
								<div class="payment-type">
									<h4>Payment Method</h4>
									<li><span class="col_checkbox">
									<input type="radio" id="f-option" name="selector">
									<label for="f-option"><div class="visa"> </div></label>
									<div class="check"></div>
								</span>
									</li>
									<li>
								<span class="col_checkbox">
									<input type="radio" id="t-option" name="selector">
									 <label for="t-option"><div class="paypal"> </div></label>
									<div class="check"><div class="inside"></div></div>
								</span>
									</li>
								</div>
								<div class="clear"> </div>
								<ul>
									<li><input class="text-box-dark" placeholder="Card Number" type="text" required></li>
									<li><input class="text-box-dark" placeholder="Name on card" type="text" required></li>
								</ul>
								<ul>
									<li><input class="text-box-light hasDatepicker" placeholder="Expiration Date" type="text" required></li>
									<li><input class="text-box-dark" placeholder="Security Code" type="text" required></li>
								</ul>
								<ul class="payment-sendbtns">
									<li><input type="reset" value="Reset"></li>
									<li><input type="submit" value="Process order"></li>
								</ul>
								<div class="clear"> </div>
								{# </form> #}
								{{ form_end(form) }}
							</div>
						</div>
					</div>
					<!-- //pop-up-grid -->
				</div>
			</div>
		</div>

		<!-- //main -->
	<!--copyright-->
	
	<!-- popup.js -->
	{# <script src="js/jquery.min.js"></script> #}

  <script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>

   <script type="text/javascript" src="{{ asset('js/jquery.magnific-popup.js') }}"></script>

	{# <script src="js/jquery.magnific-popup.js" type="text/javascript"></script>  #}

	 <script>
		$(document).ready(function() {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',
			fixedContentPos: false,
			fixedBgPos: true,
			overflowY: 'auto',
			closeBtnInside: true,
			preloader: false,
			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});
																		
		});
	</script>
	<!-- //popup.js -->
</body>
</html>