{% extends 'public.base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Sign Up</h2>
                <hr class="star-primary">
            </div>
            <div class="row">

                <div class="register-box" style="margin: 0 auto !important">

                    <div class="register-box-body">

                        {% for flash_message in app.session.flashBag.get('userReferrerError') %}
                            <div class="alert alert-danger">
                                <p>{{ flash_message }}</p>
                            </div>
                        {% endfor %}

                        {% for flash_message in app.session.flashBag.get('userReferrer') %}
                            {% if loop.index == 1  %}
                            <div class="alert alert-success">
                                <p>{{ flash_message }}</p>
                            </div>
                            {% endif %}
                        {% endfor %}

                        {{ form_start(form) }}

                            <div class="alert alert-warning">
                                <p class="lead text-center">You have selected the {{ pack.getName() }} ({{ app_currency_symbol }}{{ pack.getFormattedAmount() }}) Package</p>
                            </div>


                         <div class="text-danger">
                            {{ form_errors(form.referrer) }}
                            </div>

                            <div class="form-group has-feedback">
                          
                                {{ form_widget(form.referrer, {'attr' : {'value' : referralUserName }}) }}
                                <span class="fa fa-user form-control-feedback"></span>
                            </div>


                            <div class="text-danger">
                            {{ form_errors(form.username) }}
                            </div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.username) }}
                                <span class="fa fa-user form-control-feedback"></span>
                            </div>

                            <span class="text-danger">
                                {#{{ form_errors(form.title) }}#}
                            </span>
                            <div class="form-group has-feedback">
                                {#{{ form_widget(form.title) }}#}
                                <span class="form-control-feedback"></span>
                            </div>
                            <div class="text-danger">{{ form_errors(form.name) }}</div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.name) }}
                                <span class="fa fa-user-o form-control-feedback"></span>
                            </div>

                             <div class="text-danger">
                                {{ form_errors(form.sex) }}
                            </div>
                            <div class="form-group has-feedback">
                                {{ form_widget(form.sex) }}
                                <span class="form-control-feedback"></span>
                            </div>

                            <div class="text-danger">{{ form_errors(form.email) }}
                            </div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.email) }}
                                <span class="fa fa-envelope-o form-control-feedback"></span>
                            </div>

                            <div class="text-danger">
                                {#{{ form_errors(form.bitcoin_address) }}#}
                            </div>
                            <div class="form-group has-feedback">
                                {#{{ form_widget(form.bitcoin_address) }}#}
                                <span class="fa fa-envelope-o form-control-feedback"></span>
                            </div>

                            <div class="text-danger">{{ form_errors(form.phone_one) }}</div>
                            <div class="form-group has-feedback">
                                {{ form_widget(form.phone_one) }}
                                <span class="fa fa-phone form-control-feedback"></span>
                            </div>


                             <div class="text-danger">
                                {{ form_errors(form.bank_account_name) }}
                            </div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.bank_account_name) }}
                                <span class="form-control-feedback"></span>
                            </div>

                                 <div class="text-danger">
                                {{ form_errors(form.bank_account_number) }}
                            </div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.bank_account_number) }}
                                <span class="form-control-feedback"></span>
                            </div>

                           <div class="text-danger">
                               {{ form_errors(form.bank_name) }}
                           </div>

                            <div class="form-group has-feedback" style="line-height: 28px;" >
                                {{ form_widget(form.bank_name) }}
                                <span class="form-control-feedback"></span>
                            </div>


                            <div class="text-danger">{{ form_errors(form.plainPassword.first) }}</div>

                            <div class="form-group has-feedback">
                                {{ form_widget(form.plainPassword.first) }}
                                <span class="fa fa-key form-control-feedback"></span>
                            </div>

                            <div class="text-danger">{{ form_errors(form.plainPassword.second) }}</div>
                            <div class="form-group has-feedback">
                                {{ form_widget(form.plainPassword.second) }}
                                <span class="fa fa-lock form-control-feedback"></span>
                            </div>

                           
                            <div class="row">
                                <div class="col-xs-8">
{#                                    <a href="{{ path('login') }}" class="text-center">I already have an account</a>#}
                                    <a href="https://www.statiumhub.com/terms-conditions/" target="_blank" class="text-center">Terms and Conditions</a>
                                </div>
                                <!-- /.col -->
                                <div class="col-xs-4">
                                    <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
                                </div>
                                <!-- /.col -->
                            </div>
                        {{ form_end(form) }}

                    </div>

                </div>
            </div>
        </div>
    </section>

{% endblock %}