{% extends 'public.base.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block body %}

    <section>
        <div class="container">
            <div class="row">
                <h2 class="text-center">Social Channels</h2>
                <hr class="star-primary">
            </div>
            <div class="row">
                Write whatever you want here
            </div>
        </div>
    </section>

{% endblock %}