{% extends 'public.base.html.twig' %}

{% block title %}Testimonials{% endblock %}

{% block body %}

  	<!-- Start main-content -->
  	<div class="main-content">

  		<!-- Section: About -->
		<section class="bg-silver-light">
			<div class="container">
		        <div class="section-header">
		            <h2 class="section-title text-center wow fadeInDown animated" style="visibility: visible; animation-name: fadeInDown;">Testimonials</h2>
		        </div>
		        <div class="row">
		            <div class="col-sm-12">
		                {% if testimonials.getTotalItemCount > 0 %}
		                    <p class="lead text-center">Showing {{ testimonials.getPaginationData.firstItemNumber }} to {{ testimonials.getPaginationData.lastItemNumber }} out of {{ testimonials.getTotalItemCount }} Testimon{% if testimonials.getTotalItemCount != 1 %}ies{% else %}y{% endif %}</p>
		                {% endif %}
		            </div>
		        </div>
		        <div class="row">
		        	{% if testimonials.getTotalItemCount > 0 %}
	                    {% for testimony in testimonials %}
	                        <!-- Testimonials Cell -->
	                        <div class="col-sm-12">
		                        <div class="testimonial-wrapper text-center">
	                                <div class="content pt-20">
	                                    <p class="lead font-20"><em>{{ testimony.getTestimony() }}</em></p>
	                                    <div class="thumb mb-20"><img class="img-circle border-2px" alt="" src="{{ asset(testimony.getUser().getAvatar()) }}"></div>
	                                    <h4 class="author text-theme-colored font-weight-600 mb-0">{{ testimony.getUser().getName() }}</h4>
	                                    <h6 class="title mt-0 mb-15">{{ testimony.getUser().getResidentState() }}</h6>
	                                </div>
	                            </div>
	                        </div> <!-- End Testimonials Cell -->
	                    {% endfor %}
	                {% else %}
	                    <div class="alert alert-info">
	                        <p class="text-center">Apparently, there are no testifiers at the moment. As soon as our members start benefiting from this system and post their testimonies, their testimonies will start appearing here</p>
	                    </div>
	                {% endif %}
		        </div>
		        <div class="navigation text-center">
			        {{ knp_pagination_render(testimonials) }}
			    </div>
		    </div>
		</section>
	</div>

{% endblock %}