{% extends 'member.base.html.twig' %}

{% block title %}Ticket #{{ support.getId() }}{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ticket #{{ support.getId() }}

            {% if support.getStatus() == 'user_reply' %}
                <button class="btn btn-lg btn-warning">User Reply</button>
            {% elseif support.getStatus() == 'admin_reply' %}
                <button class="btn btn-lg btn-success">Admin Reply</button>
            {% elseif support.getStatus() == 'blank' %}
                <button class="btn btn-lg btn-info">Blank</button>
            {% elseif support.getStatus() == 'closed' %}
                <button class="btn btn-lg btn-danger">Closed</button>
            {% endif %}
        </h1>
        <ol class="breadcrumb">
            <li><a href="{{ path('dashboard') }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a href="{{ path('demi_god_support') }}"><i class="fa fa-ticket"></i> Tickets</a></li>
            <li class="active"><i class="fa fa-sticky-note"></i> Ticket #{{ support.getId() }}</li>
        </ol>
    </section> <!-- End Content Header (Page header) -->

    <!-- Main content -->
    <section class="content">
    	<div class="row">
    		<!-- Mini Side Bar -->
    		<div class="col-sm-3">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>{{ app.user.getSupportCount() }}</h3>
                        <p>Active Tickets</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-ticket"></i>
                    </div>
                    <a class="small-box-footer">Active Tickets Count <i class="fa fa-arrow-circle-right"></i></a>
                </div> <!-- End small box -->

          		<!-- Links -->
          		<div class="list-group">
                    <a href="{{ path('demi_god_support') }}" class="list-group-item">View Supports</a>
          		</div> <!-- End Links -->

                {% if support.getStatus() != 'closed' %}
                    <div class="row">
                        <div class="col-sm-12">
                            <a href="{{ path('close_support', {'support' : support.getId()}) }}" class="btn btn-warning btn-block" style="text-decoration: none">Close Ticket</a>
                        </div>
                    </div>
                {% endif %}
    		</div> <!-- End Mini Side Bar -->

    		<!-- Mini  Main Content -->
    		<div class="col-sm-9">

                {% for flash_message in app.session.flashBag.get('ticketMessageSuccess') %}
                    <div class="alert alert-success alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}

                {% for flash_message in app.session.flashBag.get('ticketMessageError') %}
                    <div class="alert alert-danger alert-dismissible">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <p>{{ flash_message }}</p>
                    </div>
                {% endfor %}

                <div class="box box-success direct-chat direct-chat-success">
                    <div class="box-header with-border">
                        <h3 class="box-title">Ticket Messages</h3>
                    </div>

                    <div class="box-body">
                        <!-- Direct Chat Messages -->
                        <div class="direct-chat-messages">

                            {% for supportMessage in supportMessages %}
                                {% if supportMessage.getSender() == 'admin' %}
                                    <!-- Message to the right -->
                                    <div class="direct-chat-msg right margin-bottom-25">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-right">Admin</span>
                                            <span class="direct-chat-timestamp pull-left">{{ supportMessage.getCreatedDate()|date('d M. Y H:i') }}</span>
                                        </div>
                                        <img class="direct-chat-img" src="{{ asset('img/avatar_m.png') }}">
                                        <div class="direct-chat-text">
                                            {{ supportMessage.getMessage() }}
                                            {% if supportMessage.getAttachment() != null %}
                                                <hr>
                                                <img src="{{ asset(supportMessage.getAttachment()) }}" class="img-responsive">
                                            {% endif %}
                                        </div>
                                    </div> <!-- End Message to the right -->
                                {% else %}
                                    <!-- Message. Default to the left -->
                                    <div class="direct-chat-msg margin-bottom-25">
                                        <div class="direct-chat-info clearfix">
                                            <span class="direct-chat-name pull-left">{{ supportUser.getName() }}</span>
                                            <span class="direct-chat-timestamp pull-right">{{ supportMessage.getCreatedDate()|date('d M. Y H:i') }}</span>
                                        </div>
                                        <img class="direct-chat-img" src="{{ asset(supportUser.getAvatar()) }}">
                                        <div class="direct-chat-text">
                                            {{ supportMessage.getMessage() }}
                                            {% if supportMessage.getAttachment() != null %}
                                                <hr>
                                                <img src="{{ asset(supportMessage.getAttachment()) }}" class="img-responsive">
                                            {% endif %}
                                        </div>
                                    </div> <!-- End Message.Default to the left -->
                                {% endif %}
                            {% endfor %}
                        </div> <!-- End Direct Chat Messages -->
                    </div>

                </div>

                {% if support.getStatus() != 'closed' %}

                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">Add Reply</h3>
                        </div>

                        <div class="box-body">
                            {{ form_start(supportMessageForm, {'action': path('demi_god_view_support', {'support' : support.getId()}), 'attr': {'class': 'form-horizontal'}}) }}

                                <span class="text-danger">{{ form_errors(supportMessageForm.message) }}</span>
                                <div class="form-group">
                                    {{ form_label(supportMessageForm.message, "Reply", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                    <div class="col-sm-10">
                                        {{ form_widget(supportMessageForm.message) }}
                                    </div>
                                </div>

                                <span class="text-danger">{{ form_errors(supportMessageForm.attachmentFile) }}</span>
                                <div class="form-group">
                                    {{ form_label(supportMessageForm.attachmentFile, "Attachment (Optional)", { 'label_attr': {'class': 'col-sm-2 control-label'} }) }}

                                    <div class="col-sm-10">
                                        {{ form_widget(supportMessageForm.attachmentFile) }}
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success btn-block btn-flat">Add Reply</button>
                                    </div>
                                </div>
                            {{ form_end(supportMessageForm) }}
                        </div>
                    </div>
                {% endif %}

    		</div> <!-- End Mini Main Content -->
    	</div>
    </section> <!-- End Main Content -->

{% endblock %}